﻿@{
    ViewBag.title = "Perfiles";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb app-has-ms-paper-menu">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="javascript:void(0)" class="active">Perfiles</a></li>
        </ul>
    </div>
    <div class="ms-paper">
        <div class="row">
            <div class="col-12 ms-paper-content-container">
                <div class="ms-paper-content">
                    <div class="app-row mb-5">
                        <h1 class="pull-left m-0">Perfiles</h1>
                    </div>
                    <div class="row app-form">
                        <div class="col-12 col-sm-6 col-md-5 col-lg-4">
                            <div class="app-row">
                                <div class="form-group cls-1901021559 m-0 pull-left">
                                    <label class="control-label mt-0" for="profiles_edit_profile"><span class="text-dark">Seleccione</span></label>
                                    <select id="profiles_edit_profile" class="form-control" data-live-search="true" data-dropup-auto="false"></select>
                                </div>
                                <a id="profiles_edit_retrieve" href="javascript:void(0)" class="btn btn-raised btn-primary pull-right cls-1901021607" data-toggle="tooltip" data-placement="top" title="Recuperar">
                                    <i class="fa fa-search m-0"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-7 col-lg-8">
                            <div class="app-row">
                                <a id="profiles_edit_add_item" href="javascript:void(0)" class="btn btn-raised btn-primary pull-right cls-1901021607 cls-1901022203">
                                    <i class="fa fa-plus"></i> Agregar
                                </a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div id="profiles_edit_legend" class="app-row" style="display: none;">
                                <i class="fa fa-circle pull-right cls-1901262059 cls-1901271349"></i><span class="text-dark small pull-right cls-1901262102">Proveedor a Enviar Contraseña</span>
                            </div>
                            <table id="profiles_edit_table" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="align-middle text-ws-normal">Sel</th>
                                        <th class="align-middle text-ws-normal" data-object="document_ruc">Documento / RUC</th>
                                        <th class="align-middle text-ws-normal" data-object="name_businessname">Nombre / Razón Social</th>
                                        <th class="align-middle text-ws-normal">Correo Electrónico</th>
                                        <th class="align-middle text-ws-normal">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <hr class="border-dark" />
                    <div class="app-row">
                        @Helpers.TagHelper.buttonSave("profiles_edit_save")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/profiles/edit.js?v=@ViewBag.app_version"></script>
}