﻿@model ElearningApp.Models.Entity.Notice_Entity
@{
    ViewBag.title = "Anuncio :: Editar";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("Index", "Notice")">Anuncio</a></li>
            <li><a href="javascript:void(0)" class="active">Editar</a></li>
        </ul>
    </div>
    <div class="card">
        <div class="card-body">
            <form id="notice_edit_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
                <div class="row">
                    <div class="col-12 col-sm-10">
                        <div class="form-group mt-0">
                            <label class="control-label" for="notice_edit_description"><span class="text-dark">Descripción</span> <span class="text-danger">*</span> | Máximo 200 caracteres</label>
                            <input id="notice_edit_description" type="text" maxlength="200" class="form-control" data-presave-object="Descripción" value="@Model.Description" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-2">
                        <div class="form-group mt-0">
                            <label class="control-label" for="notice_edit_status"><span class="text-dark">Activo</span></label>
                            <div class="togglebutton">
                                <label>
                                    <input id="notice_edit_status" type="checkbox" @(Model.Status == "A" ? Html.Raw("checked") : Html.Raw("")) />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group mt-0">
                            <label class="control-label"><span class="text-dark">Contenido</span> <span class="text-danger">*</span></label>
                            <div class="cls-1903201606">
                                <div id="notice_edit_content">@Html.Raw(Model.Content)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <hr class="border-dark" />
            <div class="app-row">
                <span class="small text-dark">Campo requerido (<span class="text-danger">*</span>)</span>
                @Helpers.TagHelper.buttonSave("notice_edit_save")
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/summernote/summernote.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/app/app.summernote.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script>
        @{
            @:var ngon = { Model: { Id: @Model.Id , Html: { Name: "@Model.Html.Name"} } };
        }
    </script>
    <script src="~/bower_components/summernote/summernote.js"></script>
    <script src="~/bower_components/summernote/lang/summernote-es-ES.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/notice/edit.js?v=@ViewBag.app_version"></script>
}