﻿@{
    ViewBag.title = "Dashboard 4";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb app-has-ms-paper-menu">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="javascript:void(0)" class="active">Dashboard 4</a></li>
        </ul>
    </div>
    <div class="ms-paper">
        <div class="row">
            <div class="col-12 ms-paper-content-container">
                <div class="ms-paper-content">
                    <div class="app-row">
                        <h1 class="pull-left mt-0 cls-1902072235">Dashboard 4</h1>
                    </div>
                    <hr class="dotted m-0" />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center ms-margin">
                                <a id="dashboard4_index_total_company" href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-5 cursor-default">
                                    <div class="btn-container">
                                        <i class="fa fa-building"></i>
                                        <span>Empresa</span>
                                        <br>
                                        <strong data-object="value">...%</strong>
                                    </div>
                                </a>
                                <a id="dashboard4_index_total_employee" href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-5 cursor-default">
                                    <div class="btn-container">
                                        <i class="fa fa-user-o"></i>
                                        <span>Trabajador</span>
                                        <br>
                                        <strong data-object="value">...%</strong>
                                    </div>
                                </a>
                                <a id="dashboard4_index_total_vehicle" href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-5 cursor-default">
                                    <div class="btn-container">
                                        <i class="fa fa-truck"></i>
                                        <span>Vehículo</span>
                                        <br>
                                        <strong data-object="value">...%</strong>
                                    </div>
                                </a>
                                <a id="dashboard4_index_total_total" href="javascript:void(0)" class="btn btn-info btn-raised btn-app wow flipInX animation-delay-5 cursor-default">
                                    <div class="btn-container">
                                        <i class="fa fa-globe"></i>
                                        <span>Total</span>
                                        <br>
                                        <strong data-object="value">...%</strong>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mb-15 app-row">
                        <div class="pull-right app-form">
                            <div class="form-group mt-0 pb-0">
                                <label class="control-label mt-0 d-inline-block" for="dashboard4_index_filter">Buscar :</label>
                                <input id="dashboard4_index_filter" class="form-control d-inline-block cls-1903150848" type="text" placeholder="Proveedor" />
                            </div>
                        </div>
                    </div>
                    <div class="app-row">
                        <a id="dashboard4_index_sort_name" href="javascript:void(0)" data-ordering="" class="position-relative app-btn app-btn-default pull-left cls-1903161746">
                            Nombre <i class="fa fa-arrows-v"></i>
                        </a>
                        <a id="dashboard4_index_sort_progress" href="javascript:void(0)" data-ordering="" class="position-relative app-btn app-btn-default pull-left cls-1903161746">
                            Progreso <i class="fa fa-arrows-v"></i>
                        </a>
                        <a id="dashboard4_index_export_excel" href="javascript:void(0)" class="btn btn-sm btn-raised btn-success pull-left m-0 cls-1903181645" title="Exportar">
                            <i class="fa fa-file-excel-o"></i> Excel
                        </a>
                        <div class="pull-right cls-1903162125">
                            Mostrando <span id="dashboard4_index_info_filtered">...</span> de <span id="dashboard4_index_info_total">...</span>
                        </div>
                    </div>
                    <div id="dashboard4_index_list" class="cls-1903150917"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/bower_components/amcharts4/core.js"></script>
    <script src="~/bower_components/amcharts4/charts.js"></script>
    <script src="~/bower_components/amcharts4/themes/material.js"></script>
    <script src="~/bower_components/amcharts4/themes/animated.js"></script>
    <script src="~/bower_components/amcharts4/lang/es_ES.js"></script>
    <script src="~/assets/js/gradstop.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/dashboard4/index.js?v=@ViewBag.app_version"></script>
}