﻿@{
    ViewBag.title = "Examen :: Nuevo";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("Index", "Test")">Examen</a></li>
            <li><a href="javascript:void(0)" class="active">Nuevo</a></li>
        </ul>
    </div>
    <div class="card animated slideInUp animation-delay-8">
        <div class="card-body">
            <form id="test_create_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
                <h4 class="right-line right-line-white cls-1812051504">Datos Generales</h4>
                <div class="row">
                    <div class="col-lg-10 col-sm-10">
                        <div class="form-group mt-0">
                            <label class="control-label" for="test_create_name"><span class="text-dark">Nombre</span> <span class="text-danger">*</span> | Máximo 200 caracteres</label>
                            <input id="test_create_name" type="text" maxlength="200" class="form-control" data-presave-object="Nombre">
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                        <div class="form-group mt-0">
                            <label class="control-label" for="test_create_status">Activo</label>
                            <div class="togglebutton">
                                <label>
                                    <input id="test_create_status" type="checkbox" checked />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group mt-0">
                            <label class="control-label" for="test_create_course"><span class="text-dark">Curso</span> <span class="text-danger">*</span></label>
                            <select id="test_create_course" class="form-control" data-live-search="true" data-dropup-auto="false" data-presave-object="Curso"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="test_create_min_score"><span class="text-dark">P. Mínima</span> <span class="text-danger">*</span> | Número no menor a cero</label>
                            <input id="test_create_min_score" type="number" min="0" class="form-control" title=" " step="0.01" data-presave-object="P. Mínima" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="test_create_max_score"><span class="text-dark">P. Máxima</span> <span class="text-danger">*</span> | Número no menor a cero</label>
                            <input id="test_create_max_score" type="number" min="0" class="form-control" title=" " step="0.01" data-presave-object="P. Máxima" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="test_create_approve_score"><span class="text-dark">P. Aprobar</span> <span class="text-danger">*</span> | Número no menor a cero</label>
                            <input id="test_create_approve_score" type="number" min="0" class="form-control" title=" " step="0.01" data-presave-object="P. Aprobar" />
                        </div>
                    </div>
                </div>
                <h4 class="right-line right-line-white cls-1812051504">Comportamiento</h4>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group mt-0">
                            <label class="control-label" for="test_create_type"><span class="text-dark">Tipo Examen</span> <span class="text-danger">*</span></label>
                            <select id="test_create_type" class="form-control" data-live-search="true" data-dropup-auto="false" data-presave-object="Tipo Examen">
                                <option value="R">El usuario deberá responder la pregunta</option>
                                <option value="S">El usuario puede saltar las preguntas</option>
                                <option value="T">El usuario puede ver las respuestas correctas al final del examen</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="form-group mt-0">
                            <label class="control-label" for="test_create_proceed"><span class="text-dark">Proceder a la siguiente pregunta</span> <span class="text-danger">*</span></label>
                            <select id="test_create_proceed" class="form-control" data-live-search="true" data-dropup-auto="false" data-presave-object="Proceder a la siguiente pregunta">
                                <option value="A">Automático: proceder directamente después de seleccionar la respuesta</option>
                                <option value="M">Manual: seleccionar la respuesta y luego hacer clic en siguiente para proceder</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group mt-0">
                            <label class="control-label"><span class="text-dark">¿Este examen es a base de Tiempo?</span> <span class="text-danger">*</span></label>
                            <div class="row mt-1">
                                <div class="col-lg-4 col-12">
                                    <div class="radio radio-primary">
                                        <label>
                                            <input id="test_create_time_no_limit" type="radio" name="time" value="NL" checked /> <span class="radio-text text-dark small">No hay tiempo límite</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="radio radio-primary">
                                        <label>
                                            <input id="test_create_time_has_limit" type="radio" name="time" value="TE" /> <span class="radio-text text-dark small">Tiempo límite del examen</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="radio radio-primary">
                                        <label>
                                            <input id="test_create_time_question_has_limit" type="radio" name="time" value="TP" /> <span class="radio-text text-dark small">Tiempo límite por pregunta</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="test_create_content_time_limit" class="row" style="display: none;">
                    <div class="col-lg-8 col-sm-8"></div>
                    <div class="col-lg-4 col-sm-4 col-12">
                        <div class="form-group mt-0">
                            <label class="control-label" for="test_create_time_limit"><span class="text-dark">Límite de tiempo</span> <span class="text-danger">*</span> | Minuto</label>
                            <input id="test_create_time_limit" type="number" min="0" class="form-control" data-presave-object="Límite de tiempo">
                        </div>
                    </div>
                </div>
                <h4 class="right-line right-line-white cls-1812051504">Preguntas</h4>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group mt-0 cls-1812131645">
                            <div class="togglebutton">
                                <label>
                                    <input id="test_create_random" type="checkbox"> <span class="text-dark small">¿Las preguntas serán de forma aleatoria?</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="test_create_question_quantity"><span class="text-dark">Cantidad</span> <span class="text-danger">*</span> | Número entero no menor a uno</label>
                            <input id="test_create_question_quantity" type="number" min="0" class="form-control" data-presave-object="Cantidad" />
                        </div>
                    </div>
                </div>
            </form>
            <div id="test_create_content_table_question" style="display: none;">
                <h4 class="right-line right-line-white cls-1812051504">Lista de Preguntas</h4>
                <div class="row">
                    <div class="col-12">
                        <div class="app-row">
                            <button id="test_create_add_question" class="btn btn-raised btn-primary pull-right m-0">
                                <i class="fa fa-plus"></i> Agregar Pregunta
                            </button>
                        </div>
                        <div class="app-form">
                            <table id="test_create_table_question" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="align-middle text-ws-normal">Orden</th>
                                        <th class="align-middle text-ws-normal">Pregunta</th>
                                        <th class="align-middle text-ws-normal">Tipo</th>
                                        <th class="align-middle text-ws-normal">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-dark" />
            <div class="app-row">
                <span class="small text-dark">Campo requerido (<span class="text-danger">*</span>)</span>
                @Helpers.TagHelper.buttonSave("test_create_save")
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/test/create.js?v=@ViewBag.app_version"></script>
}