﻿@{
    ViewBag.title = "Lugar no encontrado";
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="card animated fadeInUp animation-delay-7 color-primary withripple">
                <div class="card-body-big color-dark">
                    <div class="text-center">
                        <h1 class="color-primary">Error</h1>
                        <h2>Lugar no encontrado</h2>
                        <p class="lead lead-sm">
                            No hemos encontrado lo que estás buscando.
                        </p>
                        <a href="@Url.Action("Index", "Place")" class="btn btn-primary btn-raised">
                            <i class="zmdi zmdi-home"></i> Go Place List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>