﻿@using NGon
@Html.IncludeNGon()
<div class="pt-2 pl-2 pr-2 pb-2 app-form">
    <table id="profiles_item_table" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <div class="checkbox">
                        <label class="m-0">
                            <input id="profiles_item_table_check_all" type="checkbox"><span class="checkbox-material"><span class="check"></span></span>
                        </label>
                    </div>
                </th>
                <th class="align-middle text-ws-normal" data-object="document_ruc"></th>
                <th class="align-middle text-ws-normal" data-object="name_businessname"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    (function (p_model) {
        var l_ids = p_model.ItemIds, l_dataTable, l_sipe_provider = gf_Helpers_GetParameterByKey('CODI_SIPE_ELEARNING_PROVEEDOR');
        if (l_ids == null || l_ids.trim() == "") {
            l_ids = "-1";
        }
        $('#profiles_item_table thead th[data-object=document_ruc]').text(p_model.AppProfileId == l_sipe_provider ? 'RUC' : 'Documento');
        $('#profiles_item_table thead th[data-object=name_businessname]').text(p_model.AppProfileId == l_sipe_provider ? 'Razón Social' : 'Nombre');
        $("#profiles_item_table_check_all").change(function () {
            l_dataTable.cells().nodes().to$().find(':checkbox:checked').prop('checked', false);
            if ($(this).is(":checked")) {
                l_dataTable.rows({ filter: 'applied' }).nodes().to$().find(':checkbox').prop('checked', true);
            }
        });
        $("#profiles_item_table").on("change", "tbody tr input[type=checkbox]", function () {
            $(this).parents('tr').toggleClass("row_checked");
        });
        l_dataTable = $("#profiles_item_table").daDataTable({
            "DataTable": {
                "ajax": {
                    "url": '@Url.Action("GetItem", "Profiles")',
                    "type": "post",
                    "data": {
                        "ItemIds": l_ids,
                        'AppProfileId': p_model.AppProfileId
                    }
                },
                "aoColumns": [
                    {
                        "data": null,
                        "orderable": false,
                        "searchable": false,
                        "width": "20px",
                        "className": "text-center",
                        "mRender": function (o) {
                            return `<div class="checkbox">
                                        <label class="m-0">
                                            <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span>
                                        </label>
                                    </div>`;
                        }
                    },
                    {
                        "data": 2,
                        "className": "text-center"
                    },
                    {
                        "data": 3
                    }
                ],
                "order": [[2, 'asc']],
                "processing": true,
                "bLengthChange": false,
                "iDisplayLength": 10
            },
            "theme": "devexpress",
            "imgProcessing": "/assets/dalba/img/DXR.gif",
            "search": {
                "btn": null,
                "noSearch": [0]
            }
        }).Datatable;
    }(gf_getClone(ngon.Model)));
</script>
