﻿@{
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="pt-2 pl-2 pr-2 pb-2">
    <form id="_layout_changepassword_form" class="app-form" autocomplete="off" data-presave-rule="object" data-presave-analysis="insert">
        <div class="row">
            <div class="col-12">
                <div class="form-group mt-0">
                    <label class="control-label" for="_layout_changepassword_old_password"><span class="text-dark">Contraseña Actual</span> <span class="text-danger">*</span></label>
                    <input id="_layout_changepassword_old_password" type="password" class="form-control mb-0" maxlength="64" data-presave-object="Contraseña Actual">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group mt-0">
                    <label class="control-label" for="_layout_changepassword_new_password"><span class="text-dark">Contraseña Nueva</span> <span class="text-danger">*</span></label>
                    <input id="_layout_changepassword_new_password" type="password" class="form-control mb-0" maxlength="64" data-presave-object="Contraseña Nueva">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group mt-0">
                    <label class="control-label" for="_layout_changepassword_confirm_new_password"><span class="text-dark">Confirmar Contraseña Nueva</span> <span class="text-danger">*</span></label>
                    <input id="_layout_changepassword_confirm_new_password" type="password" class="form-control mb-0" maxlength="64" data-presave-object="Confirmar Contraseña Nueva">
                </div>
            </div>
        </div>
    </form>
</div>
<script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
<script>
    $.material.init({ inputElements: "#_layout_changepassword_form input.form-control, #_layout_changepassword_form textarea.form-control, #_layout_changepassword_form select.form-control" }), $("#_layout_changepassword_form").submit(function (a) { a.preventDefault() }), $("#_layout_changepassword_old_password, #_layout_changepassword_new_password, #_layout_changepassword_confirm_new_password").data({ PresaveRequired: !0, PresaveJson: '{"maxLength":64}' });
</script>