﻿<div class="pt-2 pl-2 pr-2 pb-2">
    <form id="_layout_login_form" autocomplete="off" data-presave-rule="object" data-presave-analysis="insert">
        <div class="row">
            <div class="col-12">
                <div class="form-group label-floating">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-account"></i>
                        </span>
                        <label class="control-label" for="_layout_login_username">Usuario / RUC</label>
                        <input type="text" id="_layout_login_username" class="form-control mb-0" maxlength="20" data-presave-object="Usuario / RUC" value="@ViewBag.Username" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group label-floating">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-lock"></i>
                        </span>
                        <label class="control-label" for="_layout_login_password">Contraseña</label>
                        <input type="password" id="_layout_login_password" class="form-control mb-0" maxlength="64" data-presave-object="Contraseña" value="@ViewBag.Password" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-12">
                <div id="_layout_login_error" class="app-login-error m-0" style="display: none;">
                    <div class="alert alert-danger alert-light alert-dismissible m-0" role="alert">
                        <strong>
                            <i class="zmdi zmdi-close-circle"></i> ¡Error!
                        </strong> <span id="_layout_login_error_message"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-raised btn-primary btn-block animate-icon">
                    Entrar
                    <i class="zmdi zmdi-long-arrow-right no-mr ml-1"></i>
                </button>
            </div>
        </div>
        <div id="_layout_login_profiles" class="row" style="display: none;">
            <div class="col-12">
                <div id="_layout_login_profiles_list" class="position-relative">
                    <div id="_layout_login_loading" class="app-login-loading" style="display: none;">
                        <div class="lds-circle"><div></div></div>
                    </div>
                </div>
                <span class="mt-10 small text-dark">*Seleccione el perfil con el que desea ingresar</span>
                <hr class="mt-1 mb-1" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="checkbox">
                    <label class="m-0 cls-1903220846">
                        <input id="_layout_login_remember_me" type="checkbox" @(ViewBag.RememberMe == "S" ? "checked" : "") /> Recordarme
                    </label>
                </div>
            </div>
            <div class="col-12 col-sm-8 text-right small">
                ¿Todavía no tienes una cuenta? <a href="javascript:void(0)" onclick="gf__layout_register_modal(this)">Regístrate</a>
            </div>
            <div class="col-12 col-sm-8 text-right small">
                <a href="javascript:void(0)" onclick="gf__layout_retrieve_user_pass_modal(this)">¿Olvidaste tú Usuario y/o Contraseña?</a>
            </div>
        </div>
    </form>
</div>
<script>
    !function(){var e,a;$.material.init({inputElements:"#_layout_login_form input.form-control, #_layout_login_form textarea.form-control, #_layout_login_form select.form-control"}),$("#_layout_login_username").data({PresaveRequired:!0,PresaveJson:'{"maxLength":20}'}),$("#_layout_login_password").data({PresaveRequired:!0,PresaveJson:'{"maxLength":64}'}),$("#_layout_login_form").submit(function(o){if(o.preventDefault(),!e){var t;if(gf_presaveForm($("#_layout_login_form")).hasError)return!1;$("#_layout_login_error").hide(),$("#_layout_login_error_message").html(""),$("#_layout_login_profiles").hide(),$("#_layout_login_profiles button").remove(),$("#_layout_login_loading").hide(),t={Username:$("#_layout_login_username").val().trim(),Password:$("#_layout_login_password").val().trim()},$.ajax({data:JSON.stringify(t),url:'@Url.Action("GetLoginValidate", "Account")',type:"post",dataType:"json",contentType:"application/json; charset=utf-8",beforeSend:function(){$("#_layout_login_form input[type=submit]").prop("disabled",!0)},success:function(o){1==o.status?function(o,t){var l;if("Error"==o[0][0])return $("#_layout_login_error_message").html(o[0][2]),$("#_layout_login_error").show();for(var e in $("#_layout_login_profiles_list").data("Param",t),$("#_layout_login_profiles_list button").remove(),o)(l=$("<button />")).text(o[e][2]),l.data("Code",o[e][1]),l.addClass("btn btn-raised btn-primary btn-block m-0 mb-1 cls-1901150924"),$("#_layout_login_profiles_list").append(l);1==$("#_layout_login_profiles_list button").length?(a=!0,$("#_layout_login_profiles_list button").trigger("click")):$("#_layout_login_profiles").show()}(o.response,t):($("#_layout_login_error_message").html(o.response),$("#_layout_login_error").show())},complete:function(o,t){$("#_layout_login_form input[type=submit]").prop("disabled",!1)}})}}),$("#_layout_login_profiles_list").on("click","button",function(o){o.preventDefault();var t=$("#_layout_login_profiles_list").data("Param"),l=!1;t.ProfileId=$(this).data("Code"),t.RememberMe=$("#_layout_login_remember_me").is(":checked"),$.ajax({data:JSON.stringify(t),url:'@Url.Action("Login", "Account")',type:"post",dataType:"json",contentType:"application/json; charset=utf-8",beforeSend:function(){$("#_layout_login_profiles_list button").prop("disabled",!0).addClass("disabled"),$("#_layout_login_loading").show(),a&&gf_addLoadingTo($("#_layout_login_form button[type=submit]")),e=!0},success:function(o){1==o.status&&(l=!0)},complete:function(){l?window.bGF5b3V0X2xvZ2luX21vZGFsX3Rv?window.location=window.bGF5b3V0X2xvZ2luX21vZGFsX3Rv:window.location='@Url.Action("Index", "Home")':($("#_layout_login_profiles_list button").prop("disabled",!1).removeClass("disabled"),$("#_layout_login_loading").hide(),a&&(gf_removeLoadingTo($("#_layout_login_form button[type=submit]")),a=!1),e=!1)}})}),$("#_layout_login_username, #_layout_login_password").keyup(function(o){o.preventDefault();var t=$(this).val(),l=$("#_layout_login_username").val(),e=$("#_layout_login_password").val();""!=t&&$(this).hasClass("app-error")&&($(this).removeClass("app-error"),$(this).next("div.app-error-message").remove(),""!==l&&""!==e&&$("#_layout_login_error").hide())})}();
</script>