﻿@{
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="pt-2 pl-2 pr-2 pb-2">
    <form id="_layout_register_form" class="app-form" autocomplete="off" data-presave-rule="object" data-presave-analysis="insert">
        <div class="row">
            <div class="col-12">
                <div id="_layout_register_alert" class="alert alert-warning alert-light alert-dismissible m-0 text-center" role="alert" style="display: none;">
                    <span id="_layout_register_alert_message"></span>
                </div>
            </div>
        </div>
        <div>
            <span class="text-dark">Sus Credenciales serán enviadas a su dirección de Correo Electrónico.</span>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group mt-0">
                    <label class="control-label" for="_layout_register_email"><span class="text-dark">Correo Electrónico</span> <span class="text-danger">*</span> | Máximo 50 caracteres.</label>
                    <input type="text" class="form-control mb-0" id="_layout_register_email" maxlength="50" placeholder="example@domain.com" data-presave-object="Correo Electrónico" />
                </div>
            </div>
        </div>
        <input type="submit" class="d-none" />
    </form>
</div>
<script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
<script>
    $.material.init({ inputElements: "#_layout_register_form input.form-control, #_layout_register_form textarea.form-control, #_layout_register_form select.form-control" }), $("#_layout_register_form").submit(function (e) { e.preventDefault() }), $("#_layout_register_email").data({ PresaveRequired: !0, PresaveJson: '{"maxLength":50}' }), $("#_layout_register_email").data("PresaveList", "email");
</script>