﻿@{
    ViewBag.title = "Dashboard 2";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
    var today = ElearningApp.Models.Helpers.GetUTCDate().ToString("dd/MM/yyyy");
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb app-has-ms-paper-menu">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="javascript:void(0)" class="active">Dashboard 2</a></li>
        </ul>
    </div>
    <div class="ms-paper">
        <div class="row">
            <div class="col-12 ms-paper-content-container">
                <div class="ms-paper-content">
                    <div class="app-row cls-1903221521">
                        <h1 class="m-0 pull-left cls-1903221507">Tu Campus</h1>
                        <div class="pull-right app-form app-row">
                            <div class="form-group pb-0 mt-0 pull-left">
                                <label class="control-label mt-0 d-inline-block">Rango :</label>
                                <input id="dashboard2_index_campus_filter_from_date" class="form-control d-inline-block cls-1902051722 cls-1903221507" type="text" value="@today" placeholder="Fecha Inicio" /> - <input id="dashboard2_index_campus_filter_to_date" class="form-control d-inline-block cls-1902051722 cls-1903221507" type="text" value="@today" placeholder="Fecha Fin" />
                            </div>
                            <div class="pull-right cls-1903221507">
                                <a id="dashboard2_index_campus_filter_retrieve" href="javascript:void(0)" class="btn btn-raised btn-primary mt-0 mb-0 cls-1902051730" data-toggle="tooltip" data-placement="top" title="Recuperar">
                                    <i class="fa fa-search m-0"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted m-0" />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center ms-margin">
                                <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-5 cursor-default cls-1902061256-active_users">
                                    <div class="btn-container">
                                        <i class="fa fa-user-circle"></i>
                                        <span>Usuario Activo</span>
                                        <br>
                                        <strong id="dashboard2_index_campus_active_users"></strong>
                                    </div>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-5 cursor-default cls-1902061256-new_users">
                                    <div class="btn-container">
                                        <i class="fa fa-user-plus"></i>
                                        <span>Usuario Nuevo</span>
                                        <br>
                                        <strong id="dashboard2_index_campus_new_users"></strong>
                                    </div>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-5 cursor-default cls-1902061256-users_login">
                                    <div class="btn-container">
                                        <i class="fa fa fa-users"></i>
                                        <span>Usuario Total</span>
                                        <br>
                                        <strong id="dashboard2_index_campus_users_login"></strong>
                                    </div>
                                </a>
                                <a href="javascript:void(0)" class="btn btn-info btn-raised btn-app wow flipInX animation-delay-5 cursor-default cls-1902061256-hours_on_campus">
                                    <div class="btn-container">
                                        <i class="fa fa-clock-o"></i>
                                        <span>Horas Utilizadas</span>
                                        <br>
                                        <strong id="dashboard2_index_campus_hours_on_campus_t"></strong>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 col-12 cls-1902072308">
                            <div class="color-primary app-row cls-1902071111">
                                <i class="icon ion-md-analytics"></i>TU CAMPUS DESDE <span id="dashboard2_index_campus_from_date"></span> HASTA <span id="dashboard2_index_campus_to_date"></span>
                            </div>
                            <div class="scrollbar-rail cls-1901230349">
                                <div id="dashboard2_index_campus_chart" class="cls-1902051520"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="color-primary app-row cls-1902071111">
                                        <i class="fa fa-smile-o"></i>SATISFACCIÓN
                                        <a id="dashboard2_index_satisfaction_refresh" href="javascript:void(0)" class="btn btn-raised btn-primary pull-right cls-1902072252" data-toggle="tooltip" data-placement="top" title="Refrescar">
                                            <i class="icon ion-md-refresh m-0"></i>
                                        </a>
                                    </div>
                                    <div class="cls-1902071135">Premedio de satisfacción de los cursos</div>
                                    <h4 class="font-weight-normal app-row mt-1 mb-1">
                                        Promedio general <span id="dashboard2_index_satisfaction_pg" class="pull-right color-primary cls-1902071729"></span>
                                    </h4>
                                    <hr class="dotted m-0" />
                                    <h5 class="font-weight-normal mt-1 mb-1">
                                        Promedio más alto
                                    </h5>
                                    <table class="w-100">
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <a href="javascript:void(0)" class="cls-1902071714 cursor-default img-thumbnail mb-1">
                                                        <div class="thumbnail-container">
                                                            <img id="dashboard2_index_satisfaction_pmax_img" src="" alt="..." class="img-fluid">
                                                        </div>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pr-1">
                                                    <h5 id="dashboard2_index_satisfaction_pmax_name" class="font-weight-normal color-primary text-center m-0"></h5>
                                                </td>
                                                <td class="cls-1902071729">
                                                    <h3 id="dashboard2_index_satisfaction_pmax_value" class="font-weight-normal color-success text-center m-0"></h3>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <hr class="dotted m-0" />
                                    <h5 class="font-weight-normal mt-1 mb-1">
                                        Promedio más bajo
                                    </h5>
                                    <table class="w-100">
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <a href="javascript:void(0)" class="cls-1902071714 cursor-default img-thumbnail mb-1">
                                                        <div class="thumbnail-container">
                                                            <img id="dashboard2_index_satisfaction_pmin_img" src="" alt="..." class="img-fluid">
                                                        </div>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pr-1">
                                                    <h5 id="dashboard2_index_satisfaction_pmin_name" class="font-weight-normal color-primary text-center m-0"></h5>
                                                </td>
                                                <td class="cls-1902071729">
                                                    <h3 id="dashboard2_index_satisfaction_pmin_value" class="font-weight-normal color-danger text-center m-0"></h3>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-12">
                                    <div class="color-primary app-row cls-1902071111">
                                        <i class="icon ion-md-bookmarks"></i>SITUACIÓN ACADÉMICA
                                        <a id="dashboard2_index_academic_situation_refresh" href="javascript:void(0)" class="btn btn-raised btn-primary pull-right cls-1902072252" data-toggle="tooltip" data-placement="top" title="Refrescar">
                                            <i class="icon ion-md-refresh m-0"></i>
                                        </a>
                                    </div>
                                    <div class="cls-1902071135">Premedio histórico de las notas de los exámenes de tu Campus</div>
                                    <h4 class="font-weight-normal app-row mt-1 mb-1">
                                        Promedio general <span id="dashboard2_index_academic_situation_pg" class="pull-right color-primary cls-1902071729"></span>
                                    </h4>
                                    <hr class="dotted m-0" />
                                    <h5 class="font-weight-normal mt-1 mb-1">
                                        Promedio más alto
                                    </h5>
                                    <table class="w-100">
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <a href="javascript:void(0)" class="cls-1902071714 cursor-default img-thumbnail mb-1">
                                                        <div class="thumbnail-container">
                                                            <img id="dashboard2_index_academic_situation_pmax_img" src="" alt="..." class="img-fluid">
                                                        </div>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pr-1">
                                                    <h5 id="dashboard2_index_academic_situation_pmax_name" class="font-weight-normal color-primary text-center m-0"></h5>
                                                </td>
                                                <td class="cls-1902071729">
                                                    <h3 id="dashboard2_index_academic_situation_pmax_value" class="font-weight-normal color-success text-center m-0"></h3>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <hr class="dotted m-0" />
                                    <h5 class="font-weight-normal mt-1 mb-1">
                                        Promedio más bajo
                                    </h5>
                                    <table class="w-100">
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <a href="javascript:void(0)" class="cls-1902071714 cursor-default img-thumbnail mb-1">
                                                        <div class="thumbnail-container">
                                                            <img id="dashboard2_index_academic_situation_pmin_img" src="" alt="..." class="img-fluid">
                                                        </div>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="pr-1">
                                                    <h5 id="dashboard2_index_academic_situation_pmin_name" class="font-weight-normal color-primary text-center m-0"></h5>
                                                </td>
                                                <td class="cls-1902071729">
                                                    <h3 id="dashboard2_index_academic_situation_pmin_value" class="font-weight-normal color-danger text-center m-0"></h3>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted" />
                    <h1>Estadísticas</h1>
                    <hr class="dotted" />
                    <div class="color-primary app-row cls-1902071111">
                        <i class="icon ion-md-pricetags"></i>DETALLE POR CADA CURSO
                        <a id="dashboard2_index_statistics_course_refresh" href="javascript:void(0)" class="btn btn-raised btn-primary pull-right cls-1902072252" data-toggle="tooltip" data-placement="top" title="Refrescar">
                            <i class="icon ion-md-refresh m-0"></i>
                        </a>
                    </div>
                    <div class="app-row cls-1902151559">
                        <div id="dashboard2_index_statistics_course_buttons" class="pull-left"></div>
                    </div>
                    <div class="app-form">
                        <table id="dashboard2_index_statistics_course" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="align-middle text-ws-normal text-center">Foto</th>
                                    <th class="align-middle text-ws-normal text-center">Título</th>
                                    <th class="align-middle text-ws-normal text-center">Tipo de Inscripción</th>
                                    <th class="align-middle text-ws-normal text-center">Inscritos</th>
                                    <th class="align-middle text-ws-normal text-center">Estado</th>
                                    <th class="align-middle text-ws-normal text-center">Satisfacción</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="color-primary mt-2 app-row cls-1902071111">
                        <i class="icon ion-ios-time"></i>TOP ALUMNOS CON MÁS TIEMPO EN CAMPUS (>2 Hrs)
                        <a id="dashboard2_index_statistics_student_refresh" href="javascript:void(0)" class="btn btn-raised btn-primary pull-right cls-1902072252" data-toggle="tooltip" data-placement="top" title="Refrescar">
                            <i class="icon ion-md-refresh m-0"></i>
                        </a>
                    </div>
                    <div class="app-row cls-1902151559">
                        <div id="dashboard2_index_statistics_student_buttons" class="pull-left"></div>
                    </div>
                    <div class="app-form">
                        <table id="dashboard2_index_statistics_student" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="align-middle text-ws-normal">Nombre</th>
                                    <th class="align-middle text-ws-normal">Apellido</th>
                                    <th class="align-middle text-ws-normal">Email</th>
                                    <th class="align-middle text-ws-normal">Tiempo en el Campus</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <hr class="dotted" />
                    <div class="app-row cls-1903221521">
                        <h1 class="m-0 pull-left cls-1903221507">Características por Curso</h1>
                        <div class="pull-right app-form app-row">
                            <div class="form-group pb-0 mt-0 pull-left">
                                <div class="d-inline-block cls-1903221507">
                                    <label class="control-label mt-0 d-inline-block">Curso :</label>
                                    <div class="d-inline-block cls-1902081046">
                                        <select id="dashboard2_index_course_filter_course" class="form-control" data-live-search="true" data-dropup-auto="false"></select>
                                    </div>
                                </div>
                                <div class="d-inline-block">
                                    <label class="control-label mt-0 d-inline-block">Rango :</label>
                                    <input id="dashboard2_index_course_filter_from_date" class="form-control d-inline-block cls-1902051722 cls-1903221507" type="text" value="@today" placeholder="Fecha Inicio" /> - <input id="dashboard2_index_course_filter_to_date" class="form-control d-inline-block cls-1902051722 cls-1903221507" type="text" value="@today" placeholder="Fecha Fin" />
                                </div>
                            </div>
                            <div class="pull-right cls-1903221507">
                                <a id="dashboard2_index_course_filter_retrieve" href="javascript:void(0)" class="btn btn-raised btn-primary mt-0 mb-0 cls-1902051730" data-toggle="tooltip" data-placement="top" title="Recuperar">
                                    <i class="fa fa-search m-0"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted mt-0" />
                    <div class="row">
                        <div class="col-lg-9 col-12 cls-1902072308">
                            <div class="color-primary cls-1902071111">
                                <i class="icon ion-md-analytics"></i>VISTA GENERAL DESDE <span id="dashboard2_index_course_from_date"></span> HASTA <span id="dashboard2_index_course_to_date"></span>
                            </div>
                            <div class="scrollbar-rail cls-1901230349">
                                <div id="dashboard2_index_course_chart" class="cls-1902051520"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="color-primary cls-1902071111">
                                <i class="fa fa-users"></i>PARTICIPANTES
                            </div>
                            <div class="scrollbar-rail cls-1901230349">
                                <div id="dashboard2_index_participants_chart" class="cls-1902051520"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/buttons.html5.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/bower_components/amcharts4/core.js"></script>
    <script src="~/bower_components/amcharts4/charts.js"></script>
    <script src="~/bower_components/amcharts4/themes/material.js"></script>
    <script src="~/bower_components/amcharts4/themes/kelly.js"></script>
    <script src="~/bower_components/amcharts4/themes/animated.js"></script>
    <script src="~/bower_components/amcharts4/lang/es_ES.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/dashboard2/index.js?v=@ViewBag.app_version"></script>
}