﻿@{
    var year = ElearningApp.Models.Helpers.GetUTCDate().ToString("yyyy");
}
<!-- container -->
<aside class="ms-footbar">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2 ms-footer-col ms-footer-alt-color m-0">
                <div class="ms-footbar-block">
                    <h3 class="ms-footbar-title">Contáctenos</h3>
                </div>
            </div>
            <div class="col-12 col-lg-5 ms-footer-col">
                <div class="ms-footbar-block">
                    <h3 class="ms-footbar-title text-center mb-2">Oficinas en Lima</h3>
                    <address class="no-mb">
                        <p>
                            <i class="color-danger-light zmdi zmdi-pin mr-1"></i> Av. Juan de Arona n°151, torre B, 5to piso, San Isidro – Lima
                        </p>
                        <p>
                            <i class="color-danger-light zmdi zmdi-pin mr-1"></i> Av. Los Rosales n° 245, Sta. Anita – Lima
                        </p>
                        <p>
                            <i class="color-royal-light zmdi zmdi-phone mr-1"></i> 51- 1- 6186868
                        </p>
                    </address>
                </div>
            </div>
            <div class="col-12 col-lg-5 ms-footer-col">
                <div class="ms-footbar-block">
                    <h3 class="ms-footbar-title text-center mb-2">Planta Chimbote</h3>
                    <address class="no-mb">
                        <p>
                            <i class="color-danger-light zmdi zmdi-pin mr-1"></i> Av. Santiago Antúnez de Mayolo, s/n Chimbote - Ancash
                        </p>
                        <p>
                            <i class="color-royal-light zmdi zmdi-phone mr-1"></i> 51- 43- 483000
                        </p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</aside>
<footer class="ms-footer">
    <div class="container">
        <p>Copyright &copy; @year</p>
    </div>
</footer>