﻿@{
    var menu = ElearningApp.Models.Helpers.GetAppObject();
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
    menu = ElearningApp.Models.Helpers.RemoveDocumentsOfVehiclesFromAppObjects(menu);
}
<header class="ms-header ms-header-white">
    <!--ms-header-primary-->
    <div class="container container-full">
        <div class="ms-title">
            <a href="@Url.Action("Index", "Home")" class="text-decoration-none">
                <div class="animated zoomInDown animation-delay-5">
                    <img src="~/assets/app/img/GERDAU_FINAL.png" class="app-logo-gerdau" />
                    <img src="~/assets/app/img/SIDER_EXTERNO_FINAL.png" class="app-logo-siderperu" />
                </div>
                <h4 class="animated fadeInRight animation-delay-6 typed-title mb-0 mt-0 text-dark">
                    <strong>
                        Plataforma
                        <span id="typed1" class="typed-class typed-block"></span>
                    </strong>
                </h4>
            </a>
        </div>
        <div class="header-right">
            @{
                if (ElearningApp.Models.SessionHelpers.IsAuthenticated())
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-raised btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle"></i> @ElearningApp.Models.SessionHelpers.GetUser().FullName
                            <i class="ml-1 zmdi zmdi-chevron-down right"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item" href="javascript:void(0)" onclick="gf__layout_change_password_modal(this)">Cambiar contraseña</a>
                            </li>
                            <li role="separator" class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("Logout", "Account")">
                                    <i class="fa fa-window-close-o"></i>
                                    Salir
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <a href="javascript:void(0)" class="btn btn-sm btn-raised btn-primary animated fadeInRight animation-delay-8 position-relative app-header-btn" onclick="gf__layout_register_modal(this)">
                        <i class="zmdi zmdi-account-add"></i> Regístrate
                    </a>
                    <a href="javascript:void(0)" class="btn btn-sm btn-raised btn-primary animated fadeInRight animation-delay-8 position-relative app-header-btn" onclick="gf__layout_login_modal(this)">
                        <i class="zmdi zmdi-account"></i> Inicia sesión
                    </a>
                }
            }
            <a href="javascript:void(0)" class="btn-ms-menu btn-circle btn-circle-primary ms-toggle-left animated zoomInDown animation-delay-10 d-sm-none">
                <i class="zmdi zmdi-menu"></i>
            </a>
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-md  navbar-static ms-navbar ms-navbar-primary">
    <div class="container container-full">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <div class="animated zoomInDown animation-delay-5">
                    @*<img src="~/assets/app/img/logo horizontal GG (blanco).png" class="app-sm-logo-gerdau" />
                    <img src="~/assets/app/img/logo horizontal SP (blanco).png" class="app-sm-logo-siderperu" />*@
                </div>
                @*<h4 class="animated fadeInRight animation-delay-6 typed-title mb-0 mt-0">
                        <strong>
                            Plataforma
                            <span id="typed2" class="typed-class typed-block"></span>
                        </strong>
                    </h4>*@
            </a>
        </div>
        <div class="collapse navbar-collapse" id="ms-navbar">
            <ul class="navbar-nav">
                @{
                    if (ElearningApp.Models.SessionHelpers.IsAuthenticated())
                    {
                        foreach (var item in menu)
                        {
                            if (item.ParentId == 0)
                            {
                                if (item.HasChildren)
                                {
                                    <li class="nav-item dropdown app-nav-item-@ElearningApp.Models.Helpers.GetAppActiveObject(item.Controller, item.Action, controller, action, menu)">
                                        <a href="@Url.Action(item.Action, item.Controller)" class="nav-link dropdown-toggle animated fadeIn animation-delay-7" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="@item.Id">
                                            @item.Name
                                            <i class="zmdi zmdi-chevron-down"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            @{
                                                foreach (var iitem in menu)
                                                {
                                                    if (iitem.ParentId == item.Id)
                                                    {
                                                        if (iitem.HasChildren)
                                                        {
                                                            <li class="dropdown-submenu">
                                                                <a href="javascript:void(0)" class="dropdown-item has_children">
                                                                    <i class="@item.Icon"></i> @iitem.Name
                                                                </a>
                                                                <ul class="dropdown-menu dropdown-menu-left">
                                                                    @{
                                                                        foreach (var iiitem in menu)
                                                                        {
                                                                            if (iiitem.ParentId == iitem.Id)
                                                                            {
                                                                                <li>
                                                                                    <a class="dropdown-item" href="@Url.Action(iiitem.Action, iiitem.Controller)">
                                                                                        <i class="@iiitem.Icon"></i> @iiitem.Name
                                                                                    </a>
                                                                                </li>
                                                                            }
                                                                        }
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <a href="@Url.Action(iitem.Action, iitem.Controller)" class="dropdown-item dropdown-link">
                                                                    <i class="@iitem.Icon"></i> @iitem.Name
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item app-nav-item-@ElearningApp.Models.Helpers.GetAppActiveObject(item.Controller, item.Action, controller, action, menu)">
                                        <a href="@Url.Action(item.Action, item.Controller)" class="nav-link animated fadeIn animation-delay-7">
                                            @item.Name
                                        </a>
                                    </li>
                                }
                            }
                        }
                    }
                }
            </ul>
        </div>
        <a href="javascript:void(0)" class="ms-toggle-left btn-navbar-menu d-md-none">
            <i class="zmdi zmdi-menu"></i>
        </a>
    </div>
    <!-- container -->
</nav>