﻿@{
    var menu = ElearningApp.Models.Helpers.GetAppObject();
    menu = ElearningApp.Models.Helpers.RemoveDocumentsOfVehiclesFromAppObjects(menu);
}
<!-- ms-site-container -->
<div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
    <div class="sb-slidebar-container">
        <header class="ms-slidebar-header">
            <div class="ms-slidebar-login">
                @{
                    if (ElearningApp.Models.SessionHelpers.IsAuthenticated())
                    {
                        <div class="btn-group app-slidebar-login">
                            <a href="javascript:void(0)" class="withripple dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle"></i> @ElearningApp.Models.SessionHelpers.GetUser().FullName
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="gf__layout_change_password_modal(this)">Cambiar contraseña</a>
                                </li>
                                <li role="separator" class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="@Url.Action("Logout", "Account")">
                                        <i class="fa fa-window-close-o"></i>
                                        Salir
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <a href="javascript:void(0)" class="withripple" onclick="gf__layout_login_modal(this)">
                            <i class="zmdi zmdi-account"></i> Inicia sesión
                        </a>
                        <a href="javascript:void(0)" class="withripple" onclick="gf__layout_register_modal(this)">
                            <i class="zmdi zmdi-account-add"></i> Regístrate
                        </a>
                    }
                }
            </div>
            <div class="ms-slidebar-title">
                <div class="ms-slidebar-t">
                    <h4 class="animated fadeInRight animation-delay-6 typed-title mb-0 mt-0 text-white">
                        <strong>
                            Plataforma
                            <span id="typed3" class="typed-class typed-block"></span>
                        </strong>
                    </h4>
                </div>
            </div>
        </header>
        <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
            @{
                if (ElearningApp.Models.SessionHelpers.IsAuthenticated())
                {
                    foreach (var item in menu)
                    {
                        if (item.ParentId == 0)
                        {
                            if (item.HasChildren)
                            {
                                <li class="card" role="tab" id="sch@(item.Id)">
                                    <a class="collapsed" role="button" data-toggle="collapse" href="#sc@(item.Id)" aria-expanded="false" aria-controls="sc@(item.Id)">
                                        <i class="@item.Icon"></i> @item.Name
                                    </a>
                                    <ul id="sc@(item.Id)" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch@(item.Id)" data-parent="#slidebar-menu">
                                        @{
                                            foreach (var iitem in menu)
                                            {
                                                if (iitem.ParentId == item.Id)
                                                {
                                                    <li>
                                                        <a href="@Url.Action(iitem.Action, iitem.Controller)">@*<i class="@iitem.Icon"></i>*@ @iitem.Name</a>
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a class="link" href="@Url.Action(item.Action, item.Controller)">
                                        <i class="@item.Icon"></i> @item.Name
                                    </a>
                                </li>
                            }
                        }
                    }
                }
            }
        </ul>
    </div>
</div>