﻿@{
    ViewBag.title = "Constancia :: Nuevo";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("Index", "Certificate")">Constancia</a></li>
            <li><a href="javascript:void(0)" class="active">Nuevo</a></li>
        </ul>
    </div>
    <div class="card animated slideInUp animation-delay-8">
        <div class="card-body">
            <form id="certificate_create_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
                <div class="row">
                    <div class="col-12 col-sm-10">
                        <div class="form-group mt-0">
                            <label class="control-label" for="certificate_create_description"><span class="text-dark">Descripción</span> <span class="text-danger">*</span> | Máximo 200 caracteres</label>
                            <input id="certificate_create_description" type="text" maxlength="200" class="form-control" data-presave-object="Descripción" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-2">
                        <div class="form-group mt-0">
                            <label class="control-label" for="certificate_create_status"><span class="text-dark">Activo</span></label>
                            <div class="togglebutton">
                                <label>
                                    <input id="certificate_create_status" type="checkbox" checked />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group mt-0">
                            <label class="control-label" for="certificate_create_format"><span class="text-dark">Formato</span></label>
                            <select id="certificate_create_format" class="form-control" data-live-search="true" data-dropup-auto="false">
                                <option value="a0">A0</option>
                                <option value="a1">A1</option>
                                <option value="a2">A2</option>
                                <option value="a3">A3</option>
                                <option value="a4">A4</option>
                                <option value="a5">A5</option>
                                <option value="a6">A6</option>
                                <option value="a7">A7</option>
                                <option value="a8">A8</option>
                                <option value="a9">A9</option>
                                <option value="a10">A10</option>
                                <option value="b0">B0</option>
                                <option value="b1">B1</option>
                                <option value="b2">B2</option>
                                <option value="b3">B3</option>
                                <option value="b4">B4</option>
                                <option value="b5">B5</option>
                                <option value="b6">B6</option>
                                <option value="b7">B7</option>
                                <option value="b8">B8</option>
                                <option value="b9">B9</option>
                                <option value="b10">B10</option>
                                <option value="c0">C0</option>
                                <option value="c1">C1</option>
                                <option value="c2">C2</option>
                                <option value="c3">C3</option>
                                <option value="c4">C4</option>
                                <option value="c5">C5</option>
                                <option value="c6">C6</option>
                                <option value="c7">C7</option>
                                <option value="c8">C8</option>
                                <option value="c9">C9</option>
                                <option value="c10">C10</option>
                                <option value="dl">DL</option>
                                <option value="letter">Letter</option>
                                <option value="government-letter">Government-Letter</option>
                                <option value="legal">Legal</option>
                                <option value="junior-legal">Junior-Legal</option>
                                <option value="ledger">Ledger</option>
                                <option value="tabloid">Tabloid</option>
                                <option value="credit-card">Credit-Card</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group mt-0">
                            <label class="control-label" for="certificate_create_orientation"><span class="text-dark">Orientación</span></label>
                            <select id="certificate_create_orientation" class="form-control" data-live-search="true" data-dropup-auto="false">
                                <option value="landscape">Horizontal</option>
                                <option value="portrait">Vertical</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <h4 class="right-line right-line-white cls-1812051504">Plantilla</h4>
            <div class="app-row mb-15">
                <div class="pull-left">
                    <a id="certificate_create_btn_img" href="javascript:void(0)" class="btn btn-primary btn-raised pl-2 pr-2 m-0">
                        Fondo
                    </a>
                    <input id="certificate_create_file" type="file" class="d-none" />
                </div>
                <div class="pull-right">
                    <a id="certificate_create_add_image" href="javascript:void(0)" class="btn btn-primary btn-raised pl-2 pr-2 m-0">
                        <i class="fa fa-file-photo-o"></i> Imagen
                    </a>
                    <div class="btn-group m-0">
                        <button type="button" class="btn btn-primary btn-raised pl-2 pr-2"><i class="fa fa-font"></i> Texto</button>
                        <button type="button" class="btn btn-primary btn-raised dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="zmdi zmdi-chevron-down right only"></i>
                        </button>
                        <ul class="dropdown-menu cls-1903070943">
                            <li>
                                <a id="certificate_create_add_name" class="dropdown-item" href="javascript:void(0)">Nombre</a>
                            </li>
                            <li>
                                <a id="certificate_create_add_course" class="dropdown-item" href="javascript:void(0)">Curso</a>
                            </li>
                            <li>
                                <a id="certificate_create_add_score" class="dropdown-item" href="javascript:void(0)">Nota</a>
                            </li>
                            <li>
                                <a id="certificate_create_add_date" class="dropdown-item" href="javascript:void(0)">Fecha</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cls-1903070355">
                <div id="certificate_create_board" class="cls-1903070354"></div>
            </div>
            <hr class="border-dark" />
            <div class="app-row">
                <span class="small text-dark">Campo requerido (<span class="text-danger">*</span>)</span>
                @Helpers.TagHelper.buttonSave("certificate_create_save")
                <button id="certificate_create_download_preview" class="btn btn-raised btn-info pull-right m-0 mr-1" data-toggle="tooltip" data-placement="top" title="Descargar Vista Previa">
                    <i class="glyphicon glyphicon-download-alt m-0"></i>
                </button>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/jsPDF-master/jspdf.customfonts.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/jsPDF-master/jspdf.customfonts.js"></script>
    <script src="~/bower_components/jsPDF-master/jspdf.min.js"></script>
    <script src="~/bower_components/jquery-ui.interactions/jquery-ui.min.js"></script>
    <script src="~/bower_components/jquery-ui.full/jquery.ui.touch-punch.min.js"></script>
    <script src="~/bower_components/fullcalendar/lib/moment.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/certificate/create.js?v=@ViewBag.app_version"></script>
}