﻿@{
    ViewBag.title = "Constancia";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb app-has-ms-paper-menu">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="javascript:void(0)" class="active">Constancia</a></li>
        </ul>
    </div>
    <div class="ms-paper">
        <div class="row">
            <div class="col-12 ms-paper-content-container">
                <div class="ms-paper-content">
                    <div class="app-row mb-5">
                        <h1 class="pull-left m-0">Constancia</h1>
                        <div class="pull-right">
                            @Helpers.TagHelper.buttonNew(@Url.Action("Create", "Certificate"))
                        </div>
                    </div>
                    <div class="app-form">
                        <table id="certificate_index_table" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="align-middle text-ws-normal text-center">Descripción</th>
                                    <th class="align-middle text-ws-normal text-center">Estado</th>
                                    <th class="align-middle text-ws-normal text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/certificate/index.js?v=@ViewBag.app_version"></script>
}