﻿@{
    ViewBag.title = "Dashboard 1";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb app-has-ms-paper-menu">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="javascript:void(0)" class="active">Dashboard 1</a></li>
        </ul>
    </div>
    <div class="ms-paper">
        <div class="row">
            <div class="col-12 ms-paper-content-container">
                <div class="ms-paper-content">
                    <div class="app-row cls-1903221521">
                        <h1 class="m-0 pull-left cls-1903221507">Dashboard 1</h1>
                        <div class="pull-right app-form app-row">
                            <div class="form-group pb-0 mt-0 pull-left cls-1903221507">
                                <label class="control-label mt-0 d-inline-block" for="dashboard1_index_filter_year">Año :</label>
                                <input id="dashboard1_index_filter_year" class="form-control d-inline-block cls-1902051722" type="number" value="@ElearningApp.Models.Helpers.GetUTCDate().ToString("yyyy")" />
                            </div>
                            <div class="pull-right cls-1903221507">
                                <a id="dashboard1_index_filter_retrieve" href="javascript:void(0)" class="btn btn-raised btn-primary mt-0 mb-0 cls-1902051730" data-toggle="tooltip" data-placement="top" title="Recuperar">
                                    <i class="fa fa-search m-0"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted mt-0" />
                    <div class="scrollbar-rail cls-1901230349">
                        <div id="dashboard1_index_chart" class="cls-1902051520"></div>
                    </div>
                    <div class="app-form">
                        <div class="color-primary mt-2 cls-1902071111">
                            <i class="icon ion-md-grid"></i><span id="dashboard1_index_table_title"></span>
                        </div>
                        <div class="app-row cls-1902151559">
                            <div id="dashboard1_index_table_buttons" class="pull-left"></div>
                        </div>
                        <table id="dashboard1_index_table" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="align-middle text-ws-normal">Nombre</th>
                                    <th class="align-middle text-ws-normal">Documento</th>
                                    <th class="align-middle text-ws-normal">N° Documento</th>
                                    <th class="align-middle text-ws-normal">Tipo</th>
                                    <th class="align-middle text-ws-normal">Proveedor</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/buttons.html5.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/bower_components/amcharts4/core.js"></script>
    <script src="~/bower_components/amcharts4/charts.js"></script>
    <script src="~/bower_components/amcharts4/themes/material.js"></script>
    <script src="~/bower_components/amcharts4/themes/animated.js"></script>
    <script src="~/bower_components/amcharts4/lang/es_ES.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/dashboard1/index.js?v=@ViewBag.app_version"></script>
}