﻿@{
    ViewBag.title = "Dashboard 3";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
    var today = ElearningApp.Models.Helpers.GetUTCDate().ToString("dd/MM/yyyy");
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb app-has-ms-paper-menu">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="javascript:void(0)" class="active">Dashboard 3</a></li>
        </ul>
    </div>
    <div class="ms-paper">
        <div class="row">
            <div class="col-12 ms-paper-content-container">
                <div class="ms-paper-content">
                    <div class="app-row cls-1903221521">
                        <h1 class="m-0 pull-left cls-1903221507">Dashboard 3</h1>
                        <div class="pull-right app-form app-row">
                            <div class="form-group pb-0 mt-0 pull-left">
                                <div class="d-inline-block cls-1903221507">
                                    <label class="control-label mt-0 d-inline-block">Transportista :</label>
                                    <div class="d-inline-block cls-1902081046">
                                        <select id="dashboard3_index_filter_provider" class="form-control" data-live-search="true" data-dropup-auto="false"></select>
                                    </div>
                                </div>
                                <div class="d-inline-block">
                                    <label class="control-label mt-0 d-inline-block">Rango :</label>
                                    <input id="dashboard3_index_filter_from_date" class="form-control d-inline-block cls-1902051722 cls-1903221507" type="text" value="@today" placeholder="Fecha Inicio" /> - <input id="dashboard3_index_filter_to_date" class="form-control d-inline-block cls-1902051722 cls-1903221507" type="text" value="@today" placeholder="Fecha Fin" />
                                </div>
                            </div>
                            <div class="pull-right cls-1903221507">
                                <a id="dashboard3_index_filter_retrieve" href="javascript:void(0)" class="btn btn-raised btn-primary mt-0 mb-0 cls-1902051730" data-toggle="tooltip" data-placement="top" title="Recuperar">
                                    <i class="fa fa-search m-0"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted mt-0" />
                    <div class="color-primary cls-1902071111">
                        <i class="fa fa-bar-chart-o"></i>CUMPLIMIENTO DE PROGRAMACIÓN
                    </div>
                    <div class="scrollbar-rail cls-1901230349">
                        <div id="dashboard3_index_fulfillment_chart" class="cls-1902051520"></div>
                    </div>
                    <hr class="dotted" />
                    <h1>Porcentaje de Aprobados y Desaprobados</h1>
                    <hr class="dotted" />
                    <div class="row">
                        <div class="col-lg-3 col-12 cls-1902072308">
                            <div class="color-primary cls-1902071111">
                                <i class="fa fa-users"></i>PARTICIPANTES
                            </div>
                            <div class="scrollbar-rail cls-1901230349">
                                <div id="dashboard3_index_participants_chart" class="cls-1902051520"></div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-12">
                            <div class="color-primary cls-1902071111">
                                <i class="icon ion-md-grid"></i>CUADRO DETALLADO
                            </div>
                            <div class="app-row cls-1902151559">
                                <div id="dashboard3_index_participants_detail_buttons" class="pull-left"></div>
                            </div>
                            <div class="app-form">
                                <table id="dashboard3_index_participants_detail" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="align-middle text-ws-normal">Fecha</th>
                                            <th class="align-middle text-ws-normal">Hora</th>
                                            <th class="align-middle text-ws-normal">Codigo SAP</th>
                                            <th class="align-middle text-ws-normal">Transportista</th>
                                            <th class="align-middle text-ws-normal">N° Doc</th>
                                            <th class="align-middle text-ws-normal">Conductor</th>
                                            <th class="align-middle text-ws-normal">Nota</th>
                                            <th class="align-middle text-ws-normal">Estatus</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted" />
                    <h1>Cantidad de Capacitaciones por Turno</h1>
                    <hr class="dotted" />
                    <div class="row">
                        <div class="col-lg-4 col-12 cls-1902072308">
                            <div class="color-primary cls-1902071111">
                                <i class="fa fa-clock-o"></i>TURNOS
                            </div>
                            <div class="scrollbar-rail cls-1901230349">
                                <div id="dashboard3_index_shift_chart" class="cls-1902051520"></div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-12">
                            <div class="color-primary cls-1902071111">
                                <i class="icon ion-md-grid"></i>HORARIO
                            </div>
                            <div class="scrollbar-rail cls-1901230349">
                                <div id="dashboard3_index_schedule_chart" class="cls-1902051520"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/buttons.html5.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/bower_components/amcharts4/core.js"></script>
    <script src="~/bower_components/amcharts4/charts.js"></script>
    <script src="~/bower_components/amcharts4/themes/material.js"></script>
    <script src="~/bower_components/amcharts4/themes/kelly.js"></script>
    <script src="~/bower_components/amcharts4/themes/animated.js"></script>
    <script src="~/bower_components/amcharts4/lang/es_ES.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/dashboard3/index.js?v=@ViewBag.app_version"></script>
}