﻿@{
    ViewBag.Title = "Micro-Aprendizaje";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="ms-paper">
        <div class="card card-primary">
            <div class="card-header">
                <div aria-label="breadcrumb">
                    <ol class="breadcrumb" style="margin-bottom: 0px;font-weight: 500;padding: 4px;">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "HomeLMS")">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Micro-Aprendizaje</li>
                    </ol>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12" id="id_articulo">
                    </div>
                    <div class="col-md-12" style="margin-bottom: 40px;">
                        <div aria-label="Page navigation">
                            <ul class="pagination" id="id_pagi">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@{
    if (ViewBag.NGon.perfil == "INGRESO")
    {

        <link href="~/assets/css/style.light-blue-500.min.css" rel="stylesheet" />
        <link href="~/assets/dalba/dalba.jquery.jgrowl.css?v=@ViewBag.app_version" rel="stylesheet" />

    }
}
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/elearninginterno/index.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/buttons.html5.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/homelms/general_mls.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/viewmicroaprendizaje/index.js?v=@ViewBag.app_version"></script>
}

