﻿@{
    ViewBag.Title = "Micro-Aprendizaje Item";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">

    <div class="card card-primary">
        <div class="card-header">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb" style="margin-bottom: 0px;font-weight: 500;padding: 4px;">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "HomeLMS")">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "ViewMicroAprendizaje")">Micro-aprendizaje</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Detalle</li>
                </ol>
            </div>
        </div>
        <div class="card-body">
            <div class="container text-center mb-2">
                <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg animated zoomInDown animation-delay-5" style="color: #909090 !important;font-weight: 400;">Micro-Aprendizaje</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card animated materialUp animation-delay-5">
                            <div class="card-body card-body-big">
                                <h1 class="no-mt" id="id_titulo" style="color: #03a9f4;font-weight: 400;"></h1>
                                <div class="mb-3">
                                    <img src="~/assets/img/avatar.png" alt="..." class="rounded-circle mr-1" style="width: 50px;"> por
                                    <a href="javascript:void(0)" id="id_usua"></a>
                                    <span class="ml-1 d-none d-sm-inline">
                                        <i class="zmdi zmdi-time mr-05 color-info"></i>
                                        <span class="color-medium-dark" id="id_fecha"></span>
                                    </span>
                                </div>
                                <hr>
                                <div id="id_contenedor">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@{
    if (ViewBag.NGon.perfil == "INGRESO")
    {

        <link href="~/assets/css/style.light-blue-500.min.css" rel="stylesheet" />
        <link href="~/assets/dalba/dalba.jquery.jgrowl.css?v=@ViewBag.app_version" rel="stylesheet" />

    }
}
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/elearninginterno/index.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/buttons.html5.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/homelms/general_mls.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/viewmicroaprendizaje/item.js?v=@ViewBag.app_version"></script>
}
