﻿@{
    ViewBag.Title = "Home Lms";
}
@using NGon
@Html.IncludeNGon()
@{
    <div class="container container-full app-container">
        <div class="card card-primary">
            <div class="card-header">
                <div aria-label="breadcrumb">
                    <ol class="breadcrumb" style="margin-bottom: 0px;font-weight: 500;padding: 4px;">
                        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
                    </ol>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-9 mb-4">
                        <div id="carousel-home-magazine" class="carousel ms-carousel slide card" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators" id="car_indicador">
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox" id="car_listbox">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3" style="border-left: 1px solid #ddd;">
                        <div style="margin: 0px 16px 0px 16px;">
                            <div class="mb-2 listitems" id="id_mcursos">
                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised" style="background-color: #e2e2e2;font-size: 24px;color: #013145;">
                                    <i class="fa fa-book"></i>
                                </a>
                                <h3 class="no-m ms-site-title" style="color:#013145; font-weight:400; margin-left: 6px !important;">
                                    <a href="@Url.Action("ListMyCourse", "HomeLMS")" style="color: #013145;">Mis cursos</a>
                                </h3>
                            </div>
                            <div class="mb-2 listitems">
                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised" style="background-color: #e2e2e2;font-size: 24px;color: #013145;">
                                    <i class="fa fa-tasks"></i>
                                </a>
                                <h3 class="no-m ms-site-title" style="color:#013145; font-weight:400; margin-left: 6px !important;">
                                    <a href="@Url.Action("Progress", "HomeLMS")" style="color: #013145;">Mi progreso</a>
                                </h3>
                            </div>
                            <div class="mb-2 listitems">
                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised" style="background-color: #e2e2e2;font-size: 24px;color: #013145;">
                                    <i class="fa fa-list-alt"></i>
                                </a>
                                <h3 class="no-m ms-site-title" style="color:#013145; font-weight:400; margin-left: 6px !important;">
                                    <a href="@Url.Action("Index", "ViewMicroAprendizaje")" style="color: #013145;">Micro-Aprendizaje</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@{
    if (ViewBag.NGon.perfil == "INGRESO")
    {

        <link href="~/assets/css/style.light-blue-500.min.css" rel="stylesheet" />
        <link href="~/assets/dalba/dalba.jquery.jgrowl.css?v=@ViewBag.app_version" rel="stylesheet" />

    }
}
@section styles{
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/elearninginterno/index.css?v=@ViewBag.app_version" rel="stylesheet" />
}

@section scripts{
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/homelms/general_mls.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/homelms/index.js?v=@ViewBag.app_version"></script>

}

