﻿@{
    ViewBag.Title = "Mis cursos";
}
@using NGon
@Html.IncludeNGon()
@{
    <div class="container container-full app-container">
        <div class="card card-primary">
            <div class="card-header">
                <div aria-label="breadcrumb">
                    <ol class="breadcrumb" style="margin-bottom: 0px;font-weight: 500;padding: 4px;">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "HomeLMS")">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Mis cursos</li>
                    </ol>
                </div>
            </div>
            <div class="card-body">

                
                <div class="row mb-2">
                    <div class="col-12" id="group_filter">
                        <select class="form-control selectpicker" id="filter_cursos" style="width:150px;">
                            <option value="ALL">TODOS</option>
                            <option value="FINA">FINALIZADOS</option>
                            <option value="ABIE">ABIERTOS</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card card-success">
                            <div class="withripple zoom-img">
                                <a href="javascript:void(0);">
                                    <img src="https://stgcapacitacionelearning.blob.core.windows.net/elearning/elearning/curso/CARACTERÍSTICAS DEL FIERRO SIDERPERU/21102019145817798541-portada video fierro.png" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="card-body overflow-hidden text-center">
                                <a href="javascript:void(0)" class="btn btn-royal btn-raised btn-card-float left wow zoomInDown" style="visibility: visible; animation-name: zoomInDown; padding-left: 15px;padding-right: 15px;">
                                    Nota: 14.00
                                </a>
                                <a href="javascript:void(0)" class="btn-circle btn-circle-success btn-circle-raised btn-card-float right wow zoomInDown" style="visibility: visible; animation-name: zoomInDown;">
                                    <i class="zmdi zmdi-star"></i>
                                </a>
                                <h4 class="cls-1812301259">
                                    <strong>
                                        CARACTERÍSTICAS DEL FIERRO SIDERPERU
                                    </strong>
                                </h4>
                                <a href="javascript:void(0)" class="btn btn-success btn-raised" style="width:100%">
                                    Finalizado
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card card-primary">
                            <div class="withripple zoom-img">
                                <a href="javascript:void(0);">
                                    <img src="https://stgcapacitacionelearning.blob.core.windows.net/elearning/elearning/curso/CARACTERÍSTICAS DEL FIERRO SIDERPERU/21102019145817798541-portada video fierro.png" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="card-body overflow-hidden text-center">
                                <a href="javascript:void(0)" class="btn-circle btn-circle-primary btn-circle-raised btn-card-float right wow zoomInDown" style="visibility: visible; animation-name: zoomInDown;">
                                    <i class="zmdi zmdi-star"></i>
                                </a>
                                <h4 class="cls-1812301259">
                                    <strong>
                                        CARACTERÍSTICAS DEL FIERRO SIDERPERU
                                    </strong>
                                </h4>
                                <a href="javascript:void(0)" class="btn btn-primary btn-raised" style="width:100%">
                                    INGRESAR
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

}

@{
    if (ViewBag.NGon.perfil == "INGRESO")
    {

        <link href="~/assets/css/style.light-blue-500.min.css" rel="stylesheet" />
        <link href="~/assets/dalba/dalba.jquery.jgrowl.css?v=@ViewBag.app_version" rel="stylesheet" />

    }
}
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/elearninginterno/index.css?v=@ViewBag.app_version" rel="stylesheet" />
}

@section scripts{
    <script src="~/bower_components/fullcalendar/lib/moment.min.js"></script>
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/buttons.html5.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/homelms/general_mls.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/homelms/listmycourse.js?v=@ViewBag.app_version"></script>
}


