﻿@{
    ViewBag.Title = "Progreso";
}
@using NGon
@Html.IncludeNGon()
@{
    <div class="container container-full app-container">
        <div class="card card-primary">
            <div class="card-header">
                <div aria-label="breadcrumb">
                    <ol class="breadcrumb" style="margin-bottom: 0px;font-weight: 500;padding: 4px;">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "HomeLMS")">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Mi progreso</li>
                    </ol>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2 col-sm-12">
                        <div class="text-center mt-2 mb-3"> 
                            <img src="/assets/img/user.png" alt="..." id="avatar_id" class="ms-avatar-hero animated zoomIn animation-delay-7" style="width: 150px;height: 180px;">
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                        <div class="card-body" style="padding:7px;">
                            <h3 class="color-primary mt-0 mb-0">Información Personal</h3>
                        </div>
                        <table class="table table-no-border table-striped">
                            <tbody>
                                <tr>
                                    <th>
                                        <i class="zmdi zmdi-face mr-1 color-warning"></i> Nombre:
                                    </th>
                                    <td id="id_nombre"></td>
                                </tr>
                                <tr>
                                    <th>
                                        <i class="zmdi zmdi-layers mr-1 color-success"></i> Área:
                                    </th>
                                    <td id="id_area"></td>
                                </tr>
                                <tr>
                                    <th>
                                        <i class="zmdi zmdi-calendar mr-1 color-primary"></i> Último ingreso:
                                    </th>
                                    <td id="id_ultimo"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <div class="text-center mt-2 mb-3">
                            <img id="img_insignia" src="" alt="..." class="animated zoomIn animation-delay-7" style="width: 120px;max-height: 170px;">
                            <label id="name_insignia" style="display: block;color: #000;"></label>
                        </div>
                    </div>
                </div>
                <h3 class="color-primary mt-0 mb-1">Porcentaje de avance</h3>
                <div class="progress">
                    <div id="id_progress" class="progress-bar progress-bar-royal" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        0%
                    </div>
                </div>


                <div class="card" style="background: #f9f8f8;">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs  shadow-2dp" role="tablist">
                        <li class="nav-item"><a class="nav-link withoutripple active" href="#id_cursos" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-book"></i> <span class="d-none d-sm-inline">Cursos</span></a></li>
                        <li class="nav-item"><a class="nav-link withoutripple" href="#id_ranking" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-child"></i> <span class="d-none d-sm-inline">Ranking</span></a></li>
                    </ul>

                    <div class="card-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active show" id="id_cursos">
                                <div class="app-form">
                                    <table id="cursos_index_table" class="table table-bordered" style="border: solid 2px #c1bfbf !important">
                                        <thead>
                                            <tr style="background-color: #c1bfbf !important; color: #272727;">
                                                <th class="align-middle text-ws-normal text-center">Nombre del curso</th>
                                                <th class="align-middle text-ws-normal text-center">Estado</th>
                                                <th class="align-middle text-ws-normal text-center">Puntaje</th>
                                                <th class="align-middle text-ws-normal text-center">F. Inscripción</th>
                                                <th class="align-middle text-ws-normal text-center">F. Finalización</th>
                                                <th class="align-middle text-ws-normal text-center">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="id_ranking">
                                <div class="app-form">
                                    <table id="ranking_index_table" class="table table-bordered" style="border: solid 2px #c1bfbf !important">
                                        <thead>
                                            <tr style="background-color: #c1bfbf !important; color: #272727;">
                                                <th class="align-middle text-ws-normal text-center">Posición</th>
                                                <th class="align-middle text-ws-normal text-center">Nombre</th>
                                                <th class="align-middle text-ws-normal text-center">Cant. Cursos</th>
                                                <th class="align-middle text-ws-normal text-center">Estado</th>
                                                <th class="align-middle text-ws-normal text-center">Puntaje Promedio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@{
    if (ViewBag.NGon.perfil == "INGRESO")
    {

        <link href="~/assets/css/style.light-blue-500.min.css" rel="stylesheet" />
        <link href="~/assets/dalba/dalba.jquery.jgrowl.css?v=@ViewBag.app_version" rel="stylesheet" />

    }
}
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/elearninginterno/index.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/homelms/progress.css?v=@ViewBag.app_version" rel="stylesheet" />
}

@section scripts{
    <script src="~/bower_components/jsPDF-master/jspdf.customfonts.js"></script>
    <script src="~/bower_components/jsPDF-master/jspdf.min.js"></script>
    <script src="~/bower_components/fullcalendar/lib/moment.min.js"></script>
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/buttons.html5.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/bower_components/amcharts4/core.js"></script>
    <script src="~/bower_components/amcharts4/charts.js"></script>
    <script src="~/bower_components/amcharts4/themes/material.js"></script>
    <script src="~/bower_components/amcharts4/themes/animated.js"></script>
    <script src="~/bower_components/amcharts4/lang/es_ES.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/homelms/general_mls.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/homelms/progress.js?v=@ViewBag.app_version"></script>

}

