﻿.cls-1906251251 {
    margin-right: 5px !important;
}
.cls-1905271248 {
    font-size: 1.5em;
    vertical-align: middle;
    cursor: pointer;
}
.cls-1905082259 {
    font-size: .85em;
    border: dashed 1px;
}
.table tr th.cls-1905081036 {
    border: solid 2px #c62828 !important;
    font-weight: 500;
    font-size: .9em;
    text-align: center;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}
.cls-1905072246 {
    color: #000;
}
.cls-1905072200 {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.cls-1905072200 thead {
    border: solid 2px #c62828;
}
.cls-1905072200 thead th {
    font-weight: 500;
    font-size: .9em;
    text-align: center;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    border-bottom: solid 2px #c62828 !important;
}
.cls-1905072200 tbody {
    border: solid 2px #c62828;
}
.cls-1905072200 tbody td {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    font-size: .9em;
}
.cls-1905022222 {
    text-decoration: underline !important;
    color: #a51e17 !important;
}
.cls-1905021145 {
    width: calc(100% - 50px);
}
.cls-1905021146 {
    width: 46px;
    text-align: center;
}
.cls-1905021146 button {
    padding-left: 15px;
    padding-right: 15px;
    z-index: 101;
}
.cls-1904300910 {
    top: -17px;
    right: 7px;
}
.cls-1904300909 {
    top: -17px;
    right: 38px;
}
.cls-1904291750 {
    padding: 6px 10px;
    border: dotted 1px #aeaeae;
    border-radius: 4px;
    color: #1c1c1c;
    font-size: 14px;
    text-align: justify;
}
.cls-1904290936 {
    top: -17px;
    right: 23px;
}
.cls-1904161418 input,
.cls-1904161418 textarea {
    text-transform: uppercase !important;
}
.cls-1904150857 {
    width: 41px;
    height: 37.81px;
    position: relative;
}
.cls-1904150856 {
    position: absolute;
    font-size: 10px;
    right: 5px;
    top: 5px;
}
.cls-1904150855 {
    font-size: 22px;
}
.cls-1904051701 {
    z-index: 1;
}
.cls-1904051245:after {
    content: '*';
    color: #dc3545;
    position: absolute;
    top: 0;
    right: 2px;
    line-height: 1;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    background-color: #fff;
    height: 15px;
}
.cls-1904040948 {
    width: 100%;
    height: auto;
    min-height: 400px;
}
.cls-1903301453 {
    font-size: 1em !important;
}
.cls-1903301454 {
    width: 20px;
}
.cls-1903301431 {
    vertical-align: top;
    font-size: 1.1em;
    font-weight: 400;
}
.cls-1903301415 {
    font-size: 1.5em;
}
.cls-1903201551 .slick-arrow::before {
    content: none;
}
.cls-1903201551 .slick-arrow {
    border-radius: 3px;
    width: 23px;
    height: 23px;
    z-index: 1;
}
.cls-1903201551 .slick-arrow.slick-prev {
    right: 41px;
    left: initial;
    background: #c62828 url('assets/images/button-previous.png') center top no-repeat;
}
.cls-1903201551 .slick-arrow.slick-next {
    right: 15px;
    background: #c62828 url('assets/images/button-next.png') center top no-repeat;
}
.cls-1903221521 {
    margin-bottom: 20px;
}
.cls-1903221507 {
    margin-right: 5px !important;
    margin-bottom: 5px !important;
}
.cls-1903221127 {
    outline: solid 1px #c62828;
    background-color: #fff;
}
.cls-1903220846 {
    font-size: 13px !important;
    color: #757575 !important;
}
.cls-1903220846 .checkbox-material:before {
    top: -8px;
}
.cls-1903220846 input[type=checkbox]:checked + .checkbox-material:after {
    top: -8px;
}
.cls-1903201606 .note-editor.note-frame {
    background-color: #ffc;
}
.cls-1903201606 .note-editor .note-editing-area {
    margin: auto;
}
@media (min-width: 768px) {
    .cls-1903201606 .note-editor .note-editing-area {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.cls-1903201551 {
    height: 56px;
    padding: 15px;
    outline: solid 1px #fff;
}
.cls-1903201538 {
    background-color: #fff;
    height: 740px;
}
.cls-1903181645 {
    height: 27px;
    padding-right: 15px !important;
    padding-left: 15px !important;
    box-shadow: none !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 1px !important;
}
.cls-1903181624 {
    top: 2px;
    right: 2px;
}
.cls-1903162125 {
    height: 27px;
    font-size: 12px;
}
.cls-1903161746 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 3px;
}
.cls-1903161746 i {
    margin-left: 8px !important;
}
.cls-1903151429-progress-0,
.cls-1903151429-progress-50,
.cls-1903151429-progress-100 {
    font-size: 11px;
    line-height: 1;
    font-weight: 600;
    bottom: -15px;
}
.cls-1903151429-progress-0 {
    left: 0;
}
.cls-1903151429-progress-50 {
    left: calc(50% - 15px);
}
.cls-1903151429-progress-100 {
    right: -5px;
}
.cls-1903151653 {
    font-size: 14px;
}
.cls-1903151649 {
    padding: 10px;
    padding-bottom: 25px;
}
.cls-1903151429 {
    /*background-color: rgba(233,250,254,0.5);*/
    /*height: 32px;*/
    -moz-border-radius: 20px/40px;
    -webkit-border-radius: 20px 40px;
    border-radius: 20px/40px;
    /*border: solid 1px #666;*/
}
.cls-1903151429-left,
.cls-1903151429-right {
    /*background-color: rgba(0,0,0,0.1);*/
    position: relative;
    width: 15px;
    height: 30px;
    -moz-border-radius: 20px/40px;
    -webkit-border-radius: 20px 40px;
    border-radius: 20px/40px;
}
.cls-1903151429-left {
    left: 0;
    top: 0;
}
.cls-1903151429-right {
    right: 0;
    top: 0;
    /*border: dashed 1px #666;*/
    border-right: 0;
}
.cls-1903151429-top {
    right: 0;
    top: 0;
    /*border: solid 1px #666;*/
    background-color: rgba(255,255,255,0.25);
}
.cls-1903151429-content {
    background-color: transparent;
    height: 30px;
    -moz-border-radius: 20px/40px;
    -webkit-border-radius: 20px 40px;
    border-radius: 20px/40px;
    opacity: 0.75;
}
.cls-1903150917 > .row {
    border: dotted 1px #dee2e6;
    border-bottom: 0;
}
.cls-1903150917 > .row:last-child {
    border-bottom: dotted 1px #dee2e6;
}
.cls-1903150917 > .row:nth-of-type(odd) {
    background-color: #fafafa;
}
.cls-1903150848 {
    width: 200px;
}
.cls-1903140902 {
    height: 150px;
}
.cls-1903121534 {
    background-color: #ffc !important;
    border: dotted 1px #aeaeae !important;
    box-shadow: none !important;
}
.cls-1903121506 .jstree-default .jstree-hovered {
}
.cls-1903121506 .jstree-default .jstree-clicked {
    background: #c62828;
    color: #fff;
    box-shadow: none;
}
.cls-1903110411 {
    position: absolute;
    top: 5px;
    right: 5px;
}
.cls-1903071036 {
    width: 100%;
    text-align: center;
}
.dropdown-menu.cls-1903070943 {
    right: 0;
}
.cls-1903070857 {
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    margin: 0;
    left: 0;
    top: -22px;
}
.cls-1903070857 i {
    vertical-align: unset;
}
.cls-1903070846 {
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    margin: 0;
    top: -22px;
    right: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
}
.cls-1903070846 i {
    vertical-align: unset;
}
.cls-1903070515 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.cls-1903070509 {
    position: absolute !important;
    line-height: 1;
    white-space: nowrap;
    outline: 1px dotted #c62828 !important;
}
.cls-1903070354 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border: dashed 1px #c62828;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.cls-1903070355 {
    border: solid 1px #ccc;
    padding: 2px;
    overflow: auto;
}
.cls-1902141139-capacitado {
    border-color: #FFB700 !important;
}
.cls-1902141139-capacitado .app-state {
    background-color: #FFB700;
}
.cls-1903022357 {
    display: inline-block;
    width: 50%;
    height: 10px;
    position: relative;
}
.cls-1903021233 {
    font-weight: 800;
    color: #fff;
    line-height: 1.5;
    font-size: 14px;
    display: block;
}
.cls-1902141139-logistica {
    border-color: #11A9CC !important;
}
.cls-1902141139-logistica .app-state {
    background-color: #11A9CC;
}
.cls-1903010264 {
    margin-right: 10px !important;
}
.cls-1902260911-A {
    background-color: #D2F2D4;
}
.cls-1902260911-P {
    background-color: #DFFBFF;
}
.cls-1902260911-R {
    background-color: #FFECEA;
}
.cls-1902251909 {
    width: 200px;
}
.cls-1902251629 {
    height: auto !important;
}
.cls-1902251629 .switch-toggle.switch-candy {
    box-shadow: 1px 1px 2px #ccc inset;
    background-color: #fff;
    border: solid 1px #aeaeae;
}
.cls-1902251629 .switch-candy label {
    font-size: 11px;
    font-weight: 400 !important;
    color: #000 !important;
    text-shadow: unset !important;
    cursor: pointer;
    white-space: nowrap;
}
.cls-1902251629 .switch-candy a {
    background-color: #fff;
}
.cls-1902251629 .switch-candy input:checked + label {
    color: #fff !important;
}
.cls-1902251629 .switch-candy input:checked + label.cls-1902251629-approve {
    background-color: #50AF56;
}
.cls-1902251629 .switch-candy input:checked + label.cls-1902251629-nothing {
    background-color: #00B1CA;
}
.cls-1902251629 .switch-candy input:checked + label.cls-1902251629-deny {
    background-color: #E54B3F;
}
.cls-1902251502 {
    top: 1px !important;
    right: 1px !important;
}
.cls-1902251447 {
    background-color: #efefef;
}
.cls-1902250959 {
    height: 50px;
    padding: 12px 0;
    vertical-align: top;
}
.cls-1902250955 {
    height: 50px;
    width: 50px;
    border: solid 2px #fff;
    border-radius: 50%;
}
.cls-1902251012 {
    font-size: 30px;
}
.cls-1902241803 .cls-1901280058 {
    margin: 0 !important;
    padding: 0 !important;
}
table.cls-1902241648 tbody tr.row_checked {
    background-color: #FFFF98;
}
.cls-1902240557 {
    top: 2px;
    right: 2px;
    font-size: 21px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    z-index: 101;
    height: 33px !important;
}
.cls-1902240500 {
    font-size: 15px !important;
}
.cls-1902240436 {
    margin-left: -5px;
    margin-right: -5px;
}
.cls-1902240431 {
    padding-left: 5px;
    padding-right: 5px;
}
.cls-1902240417 {
    top: 5px !important;
    right: 5px !important;
}
.cls-1902240408 {
    border: dashed 1px #c62828;
    padding: 5px;
}
table tbody td.cls-1902240273 {
    width: 60px !important;
    height: 60px !important;
}
.cls-1902240153 {
    right: 10px;
    top: -20px;
}
@media (max-width: 767px) {
    .cls-1902240153 {
        left: 10px;
        top: 15px;
    }
    .cls-1902240205 {
        height: 40px;
    }
}
.cls-1902221730 {
    background-color: #ffc !important;
}
.cls-1902211935 {
    background-color: #ffc;
}
.cls-1902201153 {
    line-height: 37px;
}
.cls-1902191656 {
    width: 48px;
    text-align: right;
}
.cls-1902191656 .btn {
    padding-left: 15px;
    padding-right: 15px;
}
.cls-1902191608 {
    display: inline-block;
    padding: 15px;
    background-color: #eee;
    border-radius: 50%;
}
.cls-1902191557 .dataTables_info {
    padding-top: 0px !important;
    font-size: 13px;
}
table tbody td.cls-1902191550 {
    padding: 1px !important;
    background-color: #fff !important;
    width: 100px;
    height: 100px;
    text-align: center;
}
.cls-1902191508 {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px !important;
}
.table tr th.cls-1902191204 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.cls-1902190923 {
    width: 120px;
}
.cls-1902180013 {
    padding: 10px;
    border: solid 1px #aeaeae;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #ccc inset;
    color: #1c1c1c;
}
.cls-1902172238 {
    /*background-image: url(assets/images/bg_poll.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;*/
}
.cls-1902151559 .dt-buttons {
    margin-bottom: 0;
}
.cls-1902151548 span i {
    line-height: 15px;
    margin-right: 8px;
}
table tbody td.cls-1902141700 {
    padding: 0 !important;
}
table tbody td.cls-1902141700 .cls-1902071714 {
    border: 0;
}
.cls-1902141459 {
    font-size: 13px;
    line-height: 20px;
    padding: 0 5px;
    position: absolute;
    height: 20px;
    width: 200px;
    top: -15px;
    right: 70px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}
.cls-1902141455 {
    border: dashed 1px #c62828;
    padding-top: 5px;
}
.cls-1902141441 {
    height: 64px;
    display: inline-block;
    width: calc(50% - 10px);
}
.cls-1902141431 {
    height: 38px;
    padding: 6px 10px;
    border: dotted 1px #aeaeae;
    border-radius: 4px;
    color: #1c1c1c;
    font-size: 14px;
    margin-top: 25px;
    overflow: hidden;
}
@media (max-width: 767px) {
    .cls-1902141431 {
        margin-top: 0px;
    }
}
.cls-1902141237 {
    width: calc(100% - 55px);
}
.cls-1902141238 {
    width: 50px;
    text-align: center;
}
.cls-1902141232 {
    font-size: 1em !important;
}
.cls-1902141139-danger {
    border-color: #f44336 !important;
}
.cls-1902141139-danger .app-state {
    background-color: #f44336;
}
.cls-1902141139-warning {
    border-color: #ff9800 !important;
}
.cls-1902141139-warning .app-state {
    background-color: #ff9800;
}
.cls-1902141139-success {
    border-color: #4caf50 !important;
}
.cls-1902141139-success .app-state {
    background-color: #4caf50;
}
.cls-1902141132 {
    padding: 0 30px 0 10px;
    font-size: .85em;
    color: #343a40;
    border: dashed 1px;
    line-height: 1.5;
    margin-left: 15px;
    margin-bottom: 10px;
}
.cls-1902141132:last-child {
    margin-left: 0;
}
.cls-1902141132 .app-state {
    top: -2px;
    right: -10px;
}
li.cls-1902141021 {
    margin-bottom: 5px !important;
}
li.cls-1902141021:last-child {
    margin-bottom: 0 !important;
}
.cls-1902141012 {
    width: calc(100% - 55px);
}
.cls-1902141011 {
    width: 50px;
    padding-top: 6px;
}
table.cls-1902141049 {
    border: solid 2px #c62828;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-top: 6px;
    margin-bottom: 6px;
}
table.cls-1902141049 thead th {
    font-weight: 500;
    font-size: .9em;
    padding: 6px;
    border: 1px solid #e0e0e0;
    border-bottom: solid 2px #c62828;
}
table.cls-1902141049 tbody td {
    padding: 4px 2px;
    border: 1px solid #e0e0e0;
}
table.cls-1902141049 .form-group {
    margin: 0;
    padding: 0;
}
.cls-1902131805 {
    width: 80px;
    text-align: center;
}
.cls-1902131706 {
    width: calc(100% - 50px);
}
.cls-1902131707 {
    height: 38px;
    width: 40px;
    text-align: center;
    padding-top: 5px;
}
.cls-1902131707 .checkbox-material {
    margin: 0 !important;
}
.cls-1902102221 img {
    height: 130px;
    max-width: 200px;
}
.cls-1902100452 {
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
}
.cls-1902081050 {
    margin-top: 5px;
}
.cls-1902081046 {
    width: 200px;
}
@media (max-width: 991px) {
    .cls-1902072308 {
        margin-bottom: 25px;
    }
}
.cls-1902072252 {
    margin: 2px 0;
    padding: 0 10px;
    height: 23px;
    font-size: 14px;
}
.cls-1902072235 {
    margin-bottom: 25px;
}
.cls-1902071729 {
    width: 60px;
}
a.cls-1902071714.img-thumbnail .thumbnail-container {
    text-align: center;
}
a.cls-1902071714.img-thumbnail img.img-fluid {
    height: 130px;
}
a.cls-1902071714.img-thumbnail:hover,
a.cls-1902071714.img-thumbnail:focus {
    border-color: #e0e0e0;
}
.cls-1902071135 {
    font-size: 13px;
    font-weight: 400;
    color: #aaa;
    text-align: left;
    line-height: 1.5;
}
.cls-1902071111 {
    font-weight: 600;
    font-size: 1.1em;
    border-bottom: solid 2px;
    margin-bottom: 15px;
}
.cls-1902071111 i {
    font-size: 1.2em;
    margin-right: 15px;
}
.cls-1902061256-active_users {
    border-bottom-color: #fb6e52 !important;
    background-color: #fb6e52 !important;
}
.cls-1902061256-new_users {
    border-bottom-color: #ffce55 !important;
    background-color: #ffce55 !important;
}
.cls-1902061256-users_login {
    border-bottom-color: #a0d468 !important;
    background-color: #a0d468 !important;
}
.cls-1902061256-hours_on_campus {
    border-bottom-color: #2dc3e8 !important;
    background-color: #2dc3e8 !important;
}
.cls-1902051730 {
    padding-left: 15px;
    padding-right: 15px;
}
.cls-1902051722 {
    width: 110px;
}
.cls-1902051520 {
    height: 600px;
}
.cls-1902051226 {
    padding-top: 3px !important;
    min-height: 43px;
}
.cls-1902051225 {
    width: 90px;
}
.cls-1902032237 {
    width: 10px;
    height: 10px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
/*#region uiresizable*/
.ui-resizable {
    position: relative;
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}
.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}
.ui-icon,
.ui-widget-content .ui-icon {
    background-image: url("assets/images/ui-icons_444444_256x240.png");
}
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
/*#endregion uiresizable*/
.cls-1902032059 {
    right: -10px !important;
}
iframe.cls-1902010351 {
    background-image: url(../dalba/img/DXR.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.cls-1902010149 {
    border: solid 1px #bbb;
    box-shadow: none !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
}
.cls-1901311616 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cls-1901311542 {
    border: dashed 1px #c62828;
    position: relative;
}
.cls-1901311542 iframe {
    width: 100%;
    height: 250px;
    background-image: url(assets/images/iframe-loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.cls-1901311542 iframe.cls-1901311608 {
    background-image: url(assets/images/iframe-background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.cls-1901300059 {
    max-height: 100%;
    text-align: center;
}
.cls-1901300059 video {
    max-width: 100%;
    max-height: calc(100vh - 125px);
}
.cls-1901292345 {
    padding: 2px 15px;
}
/*#region parametermessage*/
.cls-1901290014 {
    position: relative;
    min-height: 393px;
    padding: 40px 0 0 150px;
}
.cls-1901290014 .message {
    border: dashed 2px #000;
    padding: 15px;
}
.cls-1901290014 .img-approved {
    position: absolute;
    width: 260px;
    height: 393px;
    left: 0;
    top: 0;
}
.cls-1901290014 .img-disapproved {
    position: absolute;
    height: 393px;
    left: 0;
    top: 0;
}
/*#endregion parametermessage*/
.cls-1901281800 {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}
table.cls-1901281738 thead th {
    background-color: #c62828;
    border-color: #fff !important;
    color: #fff;
    border-bottom: 1px !important;
}
table.cls-1901281738 tbody tr:hover {
    background-color: #fff;
}
table.cls-1901281738 tbody tr:nth-of-type(odd):hover {
    background-color: rgba(0,0,0,.05);
}
table.cls-1901280925 {
    border: 0 !important;
}
table.cls-1901280925 tbody td {
    border: 0 !important;
    padding: 0 !important;
}
.cls-1901280906 {
    max-width: 100%;
    max-height: 100%;
}
table tbody td.cls-1901280900 {
    padding: 1px !important;
    background-color: #fff !important;
    width: 150px;
    height: 150px;
    text-align: center;
}
.cls-1901280028 table {
    border: 1px solid #dee2e6;
    box-shadow: none;
}
tr.cls-1901280028 {
    background-color: #fff !important;
}
.cls-1901280058 {
    margin: 5px 5px 5px 40px;
    padding-right: 15px;
}
.cls-1901280053 {
    max-width: 40px;
    min-width: 40px;
    box-sizing: border-box !important;
}
.dalba-datatable table:first-child tbody td.cls-1901280028 {
    padding: 0 !important;
}
.cls-1901271349 {
    color: #C4F1FB !important;
}
.cls-1901271254 {
    background-color: #C4F1FB !important;
}
.cls-1901262059 {
    color: #ffce55;
    font-size: 1.2em;
    line-height: 26px;
}
.cls-1901262102 {
    line-height: 26px;
}
.cls-1901261927 div.dataTables_wrapper div.dataTables_info {
    padding-top: 0;
}
.cls-1901261927 div.dataTables_wrapper div.dataTables_paginate {
    padding-top: 26px;
}
@media (max-width: 767px) {
    .cls-1901261927 div.dataTables_wrapper div.dataTables_paginate {
        padding-top: 0px;
    }
}
.cls-1901261011 {
    font-size: 3em;
    border-style: solid;
}
.cls-1901260939 {
    font-size: 3em;
    font-weight: 600;
    color: #ed4e2a;
    border-style: solid;
}
.cls-1901260938 {
    font-size: 3em;
    font-weight: 600;
    color: #53a93f;
    border-style: solid;
}
.cls-1901251140 {
}
.cls-1901242141 {
    line-height: 43px;
}
.cls-1901230349 {
    border: dashed 1px #c62828;
}
.cls-1901230340 {
    height: 500px;
}
.cls-1901211202 {
    background-color: #fff;
    border: dashed 1px #888;
}
.dalba-datatable table tbody td.cls-1901202130 {
    padding: 4px 2px !important;
}
.cls-1901182309 {
    height: 30px;
    border-radius: 3px;
    border: solid 1px #aaa;
    padding: 0 4px;
}
.cls-1901182212 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    top: -10px;
}
.cls-1901182212:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.cls-1901182212:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.cls-1901182212:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.cls-1901180943 {
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    outline: 1px dotted #c62828 !important;
}
.cls-1901172159 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border: dashed 1px #c62828;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.cls-1901172159 div.ui-draggable:hover {
    /*outline: 1px dashed #ccc !important;*/
}
.cls-1901172154 {
    overflow: auto;
}
.cls-1901170442 {
    position: absolute;
    border-radius: 50%;
    background-color: #53a93f;
    color: #fff;
    padding: 2px;
    width: 16px;
    height: 16px;
    text-align: center;
    top: -8px;
    right: -8px;
    z-index: 2;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    border: 2px solid #fff;
}
.cls-1901170442:hover {
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,1);
    box-shadow: 0 0 8px rgba(0,0,0,1);
}
.cls-1901161208 {
    position: absolute;
    border-radius: 50%;
    background-color: #11A9CC;
    color: #fff;
    padding: 2px;
    width: 16px;
    height: 16px;
    text-align: center;
    top: -8px;
    right: -8px;
    cursor: pointer;
    z-index: 2;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    border: 2px solid #fff;
}
.cls-1901161208:hover {
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,1);
    box-shadow: 0 0 8px rgba(0,0,0,1);
}
.cls-1901161207 {
    border-color: #aaa !important;
    cursor: default;
}
.cls-1901161009 {
    background-color: #ffce55 !important;
}
.cls-1901160522 {
    background-color: #efefef;
    border: dashed 1px #888;
    padding: 15px;
}
.cls-1901160416 {
    position: relative;
    padding-right: 120px !important;
}
.cls-1901160415 {
    font-size: 0.8em;
    position: absolute;
    right: 30px;
}
.cls-1901151144 {
    margin-top: 35px;
}
@media (max-width: 575px) {
    .cls-1901151144 {
        margin-top: 0;
    }
}
.btn.btn-primary.btn-raised.cls-1901150924 {
    background-color: #11A8CC !important;
    outline: #026880 solid 1px !important;
    border-radius: 0;
}
.cls-1901140935 {
    padding-left: 15px;
    padding-right: 15px;
}
.cls-1901140932 {
    margin: 27px 0 0;
}
@media (max-width: 575px) {
    .cls-1901140932 {
        margin-top: 0;
    }
}
.cls-1901140341 {
    margin-top: 17px;
}
@media (max-width: 991px) {
    .cls-1901140341 {
        margin-top: 0;
    }
}
.cls-1901140329 {
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.cls-1901132045 {
    position: fixed;
    z-index: 1180;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 8px 8px 0;
    color: #000;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
.cls-1901120847 {
    background-color: #fff !important;
}
.cls-1901080948 {
    margin-top: 19px;
    margin-bottom: 19px;
}
.cls-1901071658 {
    top: 30px !important;
}
.cls-1901022021 .note-editor.note-frame .note-editing-area {
    background-image: url(../app/img/elearning.jpg);
    background-size: cover;
    background-position: center center;
}
.cls-1901022021 .note-editor.note-frame .note-editing-area .note-editable {
    color: #fff;
    background-color: rgba(2,2,2,.85);
}
.cls-1901022021 .note-editor.note-frame .note-placeholder {
    color: #fff;
}
.cls-1901021607 {
    margin: 26px 0 0 0 !important;
}
.cls-1901021559 {
    width: calc(100% - 80px);
}
.cls-1901012048 {
    padding: .375rem .75rem;
    font-size: .9em;
    font-weight: 300;
    color: #000;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin: 4px 0;
    max-width: 100%;
}
.cls-1901012048 option {
    font-size: .95em;
    font-weight: 300;
}
label.cls-1901011936 {
    margin-right: 0;
    padding-left: 45px;
    position: relative;
}
label.cls-1901011936 .checkbox-material {
    display: block;
    position: absolute;
    left: 10px;
    top: 2px;
    transition-duration: .2s;
}
label.cls-1901011936 .checkbox-material:after {
    background-color: transparent !important;
}
span.cls-1901011855 {
    position: initial;
    display: initial;
    font-size: .9em;
    color: #555;
}
span.cls-1901011855:hover {
    color: #c62828;
}
.cls-1812310350 {
    /*max-width: 250px;
    max-height: 250px;*/
}
.cls-1812310137 {
    font-size: 1.6em;
}
.cls-1812310038 .ribbon.category-private span {
    background-color: #d73d32;
}
.cls-1812310038 .ribbon.category-private::before,
.cls-1812310038 .ribbon.category-private::after {
    border-color: #B22217;
}
.cls-1812310038 .ribbon.category-protected span {
    background-color: #f4b400;
}
.cls-1812310038 .ribbon.category-protected::before,
.cls-1812310038 .ribbon.category-protected::after {
    border-color: #C08E00;
}
/*#region indexribbon*/
.cls-1812310038 .half-circle-ribbon {
    background: #4285f4;
    color: #fff;
    height: 60px;
    width: 60px;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    position: absolute;
    top: -1px;
    right: -1px;
    flex-direction: row;
    border-radius: 0 0 0 100%;
    border: 1px solid #fff;
    box-shadow: 0 0 0 3px #4285f4;
    z-index: 1;
}
.cls-1812310038 .ribbon {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
}
.cls-1812310038 .ribbon::before,
.cls-1812310038 .ribbon::after {
    position: absolute;
    z-index: 0;
    content: '';
    display: block;
    border: 5px solid #2980b9;
}
.cls-1812310038 .ribbon span {
    position: absolute;
    display: block;
    width: 150px;
    padding: 4px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-align: center;
    z-index: 1;
}
/* top left*/
.cls-1812310038 .ribbon-top-left {
    top: -10px;
    left: -10px;
}
.cls-1812310038 .ribbon-top-left::before,
.cls-1812310038 .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.cls-1812310038 .ribbon-top-left::before {
    top: 0;
    right: 0;
}
.cls-1812310038 .ribbon-top-left::after {
    bottom: 0;
    left: 0;
}
.cls-1812310038 .ribbon-top-left span {
    right: -12px;
    top: 22px;
    transform: rotate(-45deg);
}
/* top right*/
.cls-1812310038 .ribbon-top-right {
    top: -10px;
    right: -10px;
}
.cls-1812310038 .ribbon-top-right::before,
.cls-1812310038 .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}
.cls-1812310038 .ribbon-top-right::before {
    top: 0;
    left: 0;
}
.cls-1812310038 .ribbon-top-right::after {
    bottom: 0;
    right: 0;
}
.cls-1812310038 .ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}
/*#endregion indexribbon*/
.cls-1812301259 {
    display: block;
    min-height: 50px;
}
.cls-1812270021 tbody tr td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: .9em;
}
.cls-1812270021 tbody tr td:last-child {
    width: 40px;
    text-align: center;
}
.cls-1812262109 {
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 160, 0);
    color: #fff;
    padding: 2px;
    width: 16px;
    height: 16px;
    text-align: center;
    top: -8px;
    right: -8px;
    cursor: pointer;
    z-index: 2;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    border: 2px solid #fff;
}
.cls-1812262109:hover {
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,1);
    box-shadow: 0 0 8px rgba(0,0,0,1);
}
.cls-1812261600 {
    height: 200px;
}
.cls-1812261600 img {
    max-height: 100%;
}
.cls-1812251930 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 3001;
}
.cls-1812251404 {
    padding: 45px 90px 0;
}
/*#region testinfo*/
.cls-1812251213 .list-wrapper {
    position: relative;
}
.cls-1812251213 .list-item-wrapper {
    margin-top: 10px;
    position: relative;
}
.cls-1812251213 .list-bullet {
    float: left;
    margin-right: 20px;
    background: rgb(198, 40, 40);
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 100%;
    font-weight: 700;
    color: white;
    text-align: center;
}
.cls-1812251213 .list-item {
    display: table-row;
    vertical-align: middle;
}
.cls-1812251213 .list-title {
    font-family: Roboto,Noto Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
}
.cls-1812251213 .list-text {
    font-family: Roboto,Noto Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 300;
}
.cls-1812251213 .red-line {
    background: rgb(198, 40, 40);
    z-index: -1;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 14px;
}
.cls-1812251213 .white-line {
    background: #fff;
    z-index: -1;
    top: 0px;
    width: 4px;
    height: 101%;
    position: absolute;
    left: 13px;
}
/*#endregion testinfo*/
/*#region test*/
.cls-1812250947 .slide {
    display: none;
    position: relative;
    min-height: 250px;
}
.cls-1812250947 img {
    vertical-align: middle;
}
/* Slideshow container */
.cls-1812250947 .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
/* Next & previous buttons */
.cls-1812250947 .prev,
.cls-1812250947 .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 78px;
    padding: 8px;
    margin-top: -22px;
    font-size: 15px;
    transition: 0.6s ease;
    user-select: none;
    background-color: #C62828;
    color: #fff !important;
}
/* Position the "next button" to the right */
.cls-1812250947 .next {
    right: 0;
}
/* On hover, add a black background color with a little bit see-through */
.cls-1812250947 .prev:hover,
.cls-1812250947 .next:hover {
    background-color: #A01313;
}
/* Caption text */
.cls-1812250947 .text {
}
/* Number text (1/3 etc) */
.cls-1812250947 .numbertext {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* The dots/bullets/indicators */
.cls-1812250947 .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.cls-1812250947 .active,
.cls-1812250947 .dot:hover {
    background-color: #717171;
}
/* Fading animation */
.cls-1812250947 .cls-1812250947-fade {
    -webkit-animation-name: cls-1812250947-fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes cls-1812250947-fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes cls-1812250947-fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .cls-1812250947 .prev,
    .cls-1812250947 .next,
    .cls-1812250947 .text {
        font-size: 11px
    }
}
/*#endregion test*/
.cls-1812242242 {
    position: relative;
    min-height: 400px;
}
.cls-1812241718 {
    min-height: 400px;
}
.cls-1812241718 .plyr--video {
    /*border: solid 1px #ddd;*/
}
.cls-1812241634 {
    color: #1d448e;
}
.cls-1812241515 {
    font-size: .9em;
}
.cls-1812240810 {
    background-color: #f9f9f9;
    border: 1px solid #DEDFE0;
    padding: 10px 15px;
}
.cls-1812231520 tbody tr td {
    padding: 3px !important;
    border: 0 !important;
}
.cls-1812231520 tbody tr td:first-child {
    padding-top: 10px !important;
}
.cls-1812231520 tbody tr td:last-child {
    padding-top: 8px !important;
}
.cls-1812231357 .bootstrap-tagsinput {
    padding-top: 7px;
    padding-bottom: 7px;
}
.cls-1812231352 {
    margin: 0 4px 4px 0 !important;
    font-size: .9em;
    font-weight: 400;
    padding: 8px !important;
    border: 0 !important;
}
.cls-1812231229 {
    min-height: 400px;
}
.cls-1812231220 {
    margin-top: 7px;
}
table.table-bordered.dataTable tbody td.cls-1812230025 {
    padding: 2px !important;
}
.cls-1812222027 {
    height: 58px;
}
.cls-1812210149 {
    width: 100%;
}
.cls-1812210149 tbody tr td {
    padding: 5px;
}
.cls-1812210149 tbody tr td:nth-child(1) {
    padding: 0;
    width: 22px;
}
.cls-1812210149 tbody tr td:nth-child(2) {
    color: #000;
    padding-left: 10px;
}
.cls-1812210149 tbody tr td i {
    font-size: 1.8em;
    color: #007791;
    vertical-align: middle;
}
.cls-1812210139 {
    background-color: #f9f9f9 !important;
    border: solid 1px #DEDFE0 !important;
}
.cls-1812210019 {
    border: solid 1px #DEDFE0;
    border-top: 0;
}
.cls-1812201745 {
    font-size: 14px;
    padding: 20px;
    color: #555;
    border: dashed 1px #c62828;
}
.cls-1812201745-vacantes {
    text-align: right;
    color: #006699;
    font-size: .85em;
}
.cls-1812201745-categoria {
    color: #006699;
    font-size: .85em;
}
.cls-1812201745-programa {
    margin: 8px 0;
    font-size: .8em;
}
.cls-1812201745-fechas {
    margin-right: 10px;
}
.cls-1812201745-fechas i {
    font-size: 1.2em;
    margin-right: 5px;
}
.cls-1812201745-horas {
}
.cls-1812201745-horas i {
    font-size: 1.2em;
    margin-right: 5px;
}
.cls-1812201745-resumen {
}
.cls-1812201745-detalle {
    margin: 10px 0;
    font-size: .9em;
}
.cls-1812201745-fin-inscripcion {
    text-align: right;
    font-size: .85em;
    font-weight: 600;
    color: #006699;
}
.cls-1812201117 {
    height: 37px;
}
.cls-1812131710.form-control:disabled {
    background: #fff !important;
}
.cls-1812131647 {
    top: 29px !important;
}
.cls-1812131645 {
    padding: 0;
    line-height: 78px;
}
.cls-1812121533 {
    margin: 0;
    height: 20px !important;
    width: 40px;
    padding: 0 !important;
}
.cls-1812110907 {
    width: 120px;
}
.cls-1812101145 {
    overflow: initial;
    padding: 6px;
}
.cls-1812101145.selected {
    border-color: #009AE5 !important;
}
.cls-1812101145 .fc-content .fc-time {
    color: #000;
    font-size: 12px;
    margin-bottom: 4px;
}
.cls-1812101145 .fc-content .fc-vacancies {
    color: #006699;
    font-size: 12px;
    margin-top: 4px;
    display: block;
}
.cls-1812101139 {
    position: absolute;
    border-radius: 50%;
    background-color: #ed4e2a;
    color: #fff;
    padding: 2px;
    width: 16px;
    height: 16px;
    text-align: center;
    top: -8px;
    right: -8px;
    cursor: pointer;
    z-index: 2;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    border: 2px solid #fff;
}
.cls-1812101139:hover {
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,1);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,1);
    box-shadow: 0 0 8px rgba(0,0,0,1);
}
.cls-1812071458 {
    border: solid 1px #aeaeae !important;
    height: 38px;
    box-shadow: 1px 1px 2px #ccc inset !important;
}
button.cls-1812071458 {
    box-shadow: none !important;
    border: initial !important;
}
.cls-1812071448 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.cls-1812071434 {
    margin-bottom: 7px;
    margin-top: 40px;
}
.cls-1812071244 {
    line-height: 79px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.cls-1812071124 {
    width: 120px;
}
.cls-1812071124 > .bootstrap-select {
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #e9ecef;
}
.form-group.is-focused .form-control.cls-1812071135 {
    background-image: none;
}
.cls-1812051732 {
    padding-left: 25px;
    padding-right: 25px;
}
.cls-1812051504 {
    color: #c62828;
    font-weight: bolder;
    margin: 15px 0;
}
.form-group.cls-1810080909 label {
    color: #f44336 !important;
}
.cls-1810072234 {
    padding: 4px !important;
    text-align: center;
    width: 40px;
}
.cls-1810072234 i {
    font-size: 1.4em;
}
.cls-1810071157 {
    width: auto !important;
    max-height: 250px;
    margin: auto;
}
.cls-1810071216 {
    height: 250px;
}
.cls-1810071839 {
    line-height: 16px;
    font-weight: 600;
    margin-right: 40px;
    font-size: .9em;
}
.cls-1810071839 + .cls-1810071839 {
    margin-right: 10px;
}
.cls-1810071839:hover {
    text-decoration: underline;
}
.cls-1810071553 {
    padding-left: 15px;
    padding-right: 15px;
}
.cls-1810072122 {
    font-size: 12px;
    line-height: 1.07143;
    font-weight: 400;
}
.cls-1810111800 {
    background-color: #d7f0f7 !important;
    background-image: none !important;
}
.cls-1810111555 {
    max-height: 80vh;
    overflow: auto;
}
.cls-1810111555 a .checkbox label .checkbox-material {
    margin: 0;
}
.cls-1810111600 {
    font-size: 0.8em;
    margin-left: 10px;
}
.bootstrap-tagsinput input {
    box-shadow: none !important;
    border: none !important;
}
.div18112018 {
    background-color: #fafafa;
    border: solid 1px #eaeaea;
    border-radius: 5px;
}
.div18112018 > input {
    background-color: #fff !important;
}
@media (max-width: 575px) {
    .cls-1901022203 {
        margin-top: 0 !important;
    }
    .cls-1812071244 {
        line-height: 50px;
    }
    .cls-1812071434 {
        margin-top: 10px;
    }
}
table.cls-1903301513 thead th {
    background-color: #ffc !important;
    color: #555 !important;
    border-color: #e0e0e0 !important;
}
table.cls-1903301513 thead th.cls-1903301550,
td.cls-1903301550 {
    background-color: #E8FED1 !important;
}
table.cls-1903301513 thead th.cls-1903301551,
td.cls-1903301551 {
    background-color: #FFFCDC !important;
}
/*#region app-table*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    table.cls-1902140859 td:nth-of-type(1):before {
        content: "Nro. Licencia :";
    }
    table.cls-1902140859 td:nth-of-type(2):before {
        content: "Tipo Documento :";
    }
    table.cls-1902140859 td:nth-of-type(3):before {
        content: "Nro. Documento :";
    }
    table.cls-1902140859 td:nth-of-type(4):before {
        content: "Apellido Paterno :";
    }
    table.cls-1902140859 td:nth-of-type(5):before {
        content: "Apellido Materno :";
    }
    table.cls-1902140859 td:nth-of-type(6):before {
        content: "Nombres :";
    }
    table.cls-1902140859 td:nth-of-type(7):before {
        content: "Email :";
    }
    table.cls-1902140859 td:nth-of-type(8):before {
        content: "Celular :";
    }
    table.cls-1902140859 td:nth-of-type(9):before {
        content: "Acciones :";
    }
    /**/
    table.cls-1902141050 td:nth-of-type(1):before {
        content: "Tipo Vehículo :";
    }
    table.cls-1902141050 td:nth-of-type(2):before {
        content: "Nro. Placa :";
    }
    table.cls-1902141050 td:nth-of-type(3):before {
        content: "Acciones :";
    }
    /**/
    table.cls-1902141523 td:nth-of-type(1):before {
        content: "Tipo Cuenta :";
    }
    table.cls-1902141523 td:nth-of-type(2):before {
        content: "Nro. Cuenta :";
    }
    table.cls-1902141523 td:nth-of-type(3):before {
        content: "Banco :";
    }
    table.cls-1902141523 td:nth-of-type(4):before {
        content: "Tipo Moneda :";
    }
    table.cls-1902141523 td:nth-of-type(5):before {
        content: "Archivo :";
    }
    table.cls-1902141523 td:nth-of-type(6):before {
        content: "Acciones :";
    }
}
/*#endregion app-table*/

#modal_update_note .modal-header {
    background-color: #2196f3;
}

    #modal_update_note .modal-header .modal-title {
        color: white;
        padding: 15px 20px;
        font-size: large;
    }
    #modal_update_note .modal-header .close {
        color: white;
        margin: auto 0;
        padding: 0 20px;
        font-size: x-large;
    }

#modal_update_note .modal-footer button {
    background-color: #2196f3;
    color: white;
    font-weight: bold;
}
#modal_update_note .modal-body .col-form-label {
    color:rgba(0,0,0,.5);
    font-weight: bold;
}
#modal_update_note .modal-body .form-control {
    border-radius: 8px;
    padding: 5px 10px;
    border: 1px solid #cacaca;
    background-image: none;
}


/*Switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
/*Fin Switch*/

/* Inicio Declaracion Jurada */
.d-block-none {
    display: none !important;
}
.modal-dec-jur {
    position: fixed;
    top: 0;
    left: 0;
    background: #00000094;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

    .modal-dec-jur > div {
        background: white;
        padding: 10px;
        border-radius: 5px;
    }

        .modal-dec-jur > div > button[title="cerrar"] {
            background: none;
            padding: 10px;
            cursor: pointer;
            margin-left: calc(100% - 30px);
            border: none;
            color: black;
            outline: none;
        }

        .modal-dec-jur > div > button[title="exportar"] {
            background: #1ab4ff;
            padding: 10px;
            cursor: pointer;
            margin-left: calc(100% - 100px);
            margin-top: 20px;
            border: 1px solid #1ab4ff;
            font-size: 0.85em;
            color: white;
            outline: none;
        }

    .modal-dec-jur .back-page-paper {
        height: 450px;
        overflow-y: scroll;
        box-shadow: 1px 1px 10px 1px #929292;
        border-radius: 5px;
    }

    .modal-dec-jur .page-paper {
        background: white;
        padding: 15px;
        width: 615px;
        height: 842px;
    }

        .modal-dec-jur .page-paper > div {
            position: relative;
        }

    .modal-dec-jur .img-firma {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 50px;
    }

    .modal-dec-jur .img-huella {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 50px;
    }
/* Fin Declaracion Jurada */