﻿@model ElearningApp.Models.Entity.Instructor_Entity
@{
    ViewBag.title = "Instructor :: Editar";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("Index", "Instructor")">Instructor</a></li>
            <li><a href="javascript:void(0)" class="active">Editar</a></li>
        </ul>
    </div>
    <div class="card animated slideInUp animation-delay-8">
        <div class="card-body">
            <form id="instructor_edit_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
                <h4 class="right-line right-line-white cls-1812051504">Documento</h4>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="form-group mt-0">
                            <label class="control-label" for="instructor_edit_document_type"><span class="text-dark">Tipo Documento</span> <span class="text-danger">*</span></label>
                            <select id="instructor_edit_document_type" class="form-control pointer-events-none no-color-disabled" data-live-search="true" data-dropup-auto="false" data-presave-object="Tipo Documento" disabled></select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-group mt-0">
                            <label class="control-label" for="instructor_edit_document_number"><span class="text-dark">N° Documento</span> <span class="text-danger">*</span> | Máximo 30 caracteres</label>
                            <input id="instructor_edit_document_number" type="text" maxlength="30" class="form-control pointer-events-none no-color-disabled" data-presave-object="N° Documento" value="@Model.DocumentNumber" disabled />
                        </div>
                    </div>
                    @*<div class="col-12 col-sm-4">
                            <div class="app-row cls-1901151144">
                                <button id="instructor_edit_retrieve" class="btn btn-raised btn-primary pull-left m-0" data-toggle="tooltip" data-placement="top" title="Recuperar">
                                    <i class="glyphicon glyphicon-search m-0"></i>
                                </button>
                            </div>
                        </div>*@
                </div>
                <h4 class="right-line right-line-white cls-1812051504">Datos Personales</h4>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="instructor_edit_last_name_1"><span class="text-dark">Apellido Paterno</span> <span class="text-danger">*</span> | Máximo 100 caracteres</label>
                            <input id="instructor_edit_last_name_1" type="text" maxlength="100" class="form-control pointer-events-none" data-presave-object="Apellido Paterno" value="@Model.LastName1" disabled />
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="instructor_edit_last_name_2"><span class="text-dark">Apellido Materno</span> <span class="text-danger">*</span> | Máximo 100 caracteres</label>
                            <input id="instructor_edit_last_name_2" type="text" maxlength="100" class="form-control pointer-events-none" data-presave-object="Apellido Materno" value="@Model.LastName2" disabled />
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="instructor_edit_first_name"><span class="text-dark">Nombre</span> <span class="text-danger">*</span> | Máximo 100 caracteres</label>
                            <input id="instructor_edit_first_name" type="text" maxlength="100" class="form-control pointer-events-none" data-presave-object="Nombre" value="@Model.FirstName" disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="instructor_edit_email"><span class="text-dark">Correo Electrónico</span> <span class="text-danger">*</span> | Máximo 50 caracteres</label>
                            <input id="instructor_edit_email" type="text" maxlength="50" class="form-control pointer-events-none" data-presave-object="Correo Electrónico" value="@Model.Email" disabled />
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="instructor_edit_type"><span class="text-dark">Tipo</span></label>
                            <input id="instructor_edit_type" type="text" class="form-control pointer-events-none" value="@(Model.Type == "E" ? "Externo" : Model.Type == "I" ? "Interno" : "")" disabled />
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="instructor_edit_status"><span class="text-dark">Activo</span></label>
                            <div class="togglebutton">
                                <label>
                                    <input id="instructor_edit_status" type="checkbox" @(Model.Status == "A" ? @Html.Raw("checked") : @Html.Raw(""))>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <hr class="border-dark" />
            <div class="app-row">
                <span class="small text-dark">Campo requerido (<span class="text-danger">*</span>)</span>
                @Helpers.TagHelper.buttonSave("instructor_edit_save")
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/instructor/edit.js?v=@ViewBag.app_version"></script>
}