﻿@helper buttonNew(string href = "#")
{
    <a href="@href" class="btn btn-raised btn-primary pull-right m-0">
        <i class="fa fa-plus m-0"></i><span class="d-none d-sm-inline ml-1">Nuevo</span>
    </a>
}
@helper buttonSave(string id = "")
{
    <button id="@id" class="btn btn-raised btn-primary pull-right m-0" type="button">
        <i class="fa fa-save m-0"></i><span class="d-none d-sm-inline ml-1">Guardar</span>
    </button>
}
@helper buttonSave(string id, string _class)
{
    <button id="@id" class="btn btn-raised btn-primary pull-right m-0 @_class" type="button">
        <i class="fa fa-save m-0"></i><span class="d-none d-sm-inline ml-1">Guardar</span>
    </button>
}
@helper buttonSave(string id, string _class, string icon, string text = "Guardar")
{
    <button id="@id" class="btn btn-raised btn-primary pull-right m-0 @_class" type="button">
        <i class="@icon m-0"></i><span class="d-none d-sm-inline ml-1">@text</span>
    </button>
}
@helper buttonMigrate(string id, string _class = "")
{
    <button id="@id" class="btn btn-raised btn-info m-0 @_class" type="button">
        <i class="glyphicon glyphicon-duplicate m-0"></i><span class="d-none d-sm-inline ml-1">Migrar</span>
    </button>
}