﻿@{
    ViewBag.title = "MicroAprendizaje :: Nuevo";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("Index", "MicroAprendizaje")">MicroAprendizaje</a></li>
            <li><a href="javascript:void(0)" class="active">Nuevo</a></li>
        </ul>
    </div>
    <div class="card animated slideInUp animation-delay-8">
        <div class="card-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active show" id="generaldata">
                    <form id="microa_create_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
                        <div class="row">
                            <div class="col-12 col-sm-8">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="microa_create_name"><span class="text-dark">Título</span> <span class="text-danger">*</span> | Máximo 200 caracteres</label>
                                    <input id="microa_create_name" type="text" maxlength="200" class="form-control" data-presave-object="Título" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-2">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="finicio"><span class="text-dark">Fecha Inicio</span> <span class="text-danger">*</span></label>
                                    <input type="date" id="finicio" value="" class="form-control" data-presave-object="Fecha Inicio">
                                </div>
                            </div>
                            <div class="col-12 col-sm-2">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="ffinal"><span class="text-dark">Fecha Final</span> <span class="text-danger">*</span></label>
                                    <input type="date" id="ffinal" value="" class="form-control" data-presave-object="Fecha Inicio">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="form-group mt-0">
                                    <label class="control-label"><span class="text-dark">Contenido</span> <span class="text-danger">*</span></label>
                                    <div id="microa_create_descripcion"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="border-dark" />
            <div class="app-row mt-2">
                <span class="small text-dark">Campo requerido (<span class="text-danger">*</span>)</span>
                @Helpers.TagHelper.buttonSave("microa_create_save")
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/summernote/summernote.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/microaprendizaje/add.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/summernote/summernote.js"></script>
    <script src="~/bower_components/summernote/lang/summernote-es-ES.js"></script>
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/microaprendizaje/add.js?v=@ViewBag.app_version"></script>
}
