﻿.note-editor .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.note-editor .dropdown-menu > li > a:hover,
.note-editor .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.note-editor .panel-heading.note-toolbar .dropdown-menu.note-check li a i {
    margin: 0;
}
.note-editor.note-frame .btn > i {
    font-size: 11px;
}
.modal-backdrop.show {
    display: none;
}
.note-editor .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1172;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.note-editor .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.slideInUp {
    -webkit-animation-name: slideInUp_;
    animation-name: slideInUp_;
}
.note-editor .modal-header {
    padding: 15px !important;
    border-bottom: 1px solid #e5e5e5 !important;
    display: block;
}
.note-editor .modal-title {
    padding: 0 !important;
    line-height: 1.42857143;
}
.note-editor .modal-header .close {
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 5px !important;
}
.note-editor button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.note-editor .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.note-editor .modal-body .form-group {
    margin-top: 0;
    margin-bottom: 15px;
}
.note-editor .modal-body .form-group label {
    color: #000 !important;
    font-size: 14px;
}
.note-editor .modal-body .checkbox label {
    color: #000 !important;
    font-size: 14px;
}
.note-editor .modal-body .checkbox input[type=checkbox] {
    opacity: 1;
    position: initial;
    z-index: 1;
    width: auto;
    height: auto;
    pointer-events: auto;
    margin-right: 10px;
}
.note-editor .modal-footer .btn {
    margin: 0;
}
.note-editor .modal-body .form-group input[type=file] {
    opacity: 1;
    position: initial;
}
.note-popover .btn {
    border: 1px solid transparent;
}
.note-popover .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    min-height: 31px;
}
.note-popover .btn-default:focus,
.note-popover .btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.note-popover .btn-sm,
.note-popover .btn-group-sm > .btn {
    padding: 5px 10px;
}
.note-popover .btn > i {
    margin: 0;
    font-size: 11px;
}
.note-popover .btn-group .btn + .btn,
.note-popover .btn-group .btn + .btn-group,
.note-popover .btn-group .btn-group + .btn,
.note-popover .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}
.note-popover .popover-content > .btn-group {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 0;
    margin-bottom: 0;
}