﻿@{
    ViewBag.title = "Proveedor :: Aprobación Documentos";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb app-has-ms-paper-menu">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="javascript:void(0)" class="active">Proveedor :: Aprobación Documentos</a></li>
        </ul>
    </div>
    <div class="ms-paper">
        <div class="row">
            <div class="col-12 ms-paper-content-container">
                <div class="ms-paper-content">
                    <div class="app-row app-form cls-1902072235">
                        @*<h1 class="pull-left m-0">Proveedor :: Datos Generales</h1>*@
                        <div class="pull-left app-row">
                            <div class="form-group mt-0 mr-05 pull-left">
                                <label class="control-label mt-0 d-inline-block">Filtro :</label>
                                <div class="d-inline-block cls-1902190923">
                                    <select id="provider_approvedocument_filter_type" class="form-control selectpicker">
                                        <option value="all" selected>Todos</option>
                                        <option value="ruc">RUC</option>
                                    </select>
                                </div>
                            </div>
                            <div id="provider_approvedocument_filter_container_ruc" class="form-group mt-0 mr-05 pull-left" style="display: none;">
                                <label class="control-label mt-0 d-inline-block">RUC :</label>
                                <div class="d-inline-block cls-1902190923">
                                    <input id="provider_approvedocument_filter_ruc" type="text" maxlength="20" class="form-control" />
                                </div>
                            </div>
                            <div class="pull-right pb-07">
                                <a id="provider_approvedocument_filter_retrieve" href="javascript:void(0)" class="btn btn-raised btn-primary m-0 cls-1902051730" data-toggle="tooltip" data-placement="top" title="Recuperar">
                                    <i class="fa fa-search m-0"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="app-form">
                        <table id="provider_approvedocument_table" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="cls-1902191204"></th>
                                    <th class="align-middle text-ws-normal text-center">Acciones</th>
                                    <th class="align-middle text-ws-normal text-center">Ruc</th>
                                    <th class="align-middle text-ws-normal text-center">Razón Social</th>
                                    <th class="align-middle text-ws-normal text-center">Cód. Sap</th>
                                    <th class="align-middle text-ws-normal text-center">Email</th>
                                    <th class="align-middle text-ws-normal text-center">Estado</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/buttons.html5.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/provider/approvedocument.js?v=@ViewBag.app_version"></script>
}