﻿@model ElearningApp.Models.Entity.Provider_Entity
@{
    var l_provider = ElearningApp.Models.SessionHelpers.IsProviderProfile();
    var l_logistica_admin = ElearningApp.Models.SessionHelpers.IsLogisticaAdminProfile();
    ViewBag.title = l_provider ? "Proveedor :: Datos Generales" : "Proveedor :: Editar";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        @{
            if (l_provider)
            {
                <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
                    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
                    <li><a href="javascript:void(0)" class="active">Datos Generales</a></li>
                </ul>
            }
            else
            {
                <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
                    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
                    <li><a href="@Url.Action("Index", "Provider")">Proveedor :: Datos Generales</a></li>
                    <li><a href="javascript:void(0)" class="active">Editar</a></li>
                </ul>
            }
        }
    </div>
    <div class="card animated slideInUp animation-delay-8">
        <div class="card-body">
            <form id="provider_edit_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group mt-0">
                            <label class="control-label"><span class="text-dark">RUC/NIT</span> <span class="text-danger">*</span> | Máximo 20 caracteres</label>
                            <div class="cls-1902141431 text-nowrap m-0 text-left cls-1902211935">@Model.RUC</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group mt-0">
                            <label class="control-label" for="provider_edit_business_name"><span class="text-dark">Razón Social</span> <span class="text-danger">*</span> | Máximo 200 caracteres</label>
                            <input id="provider_edit_business_name" type="text" maxlength="200" class="form-control" value="@Model.BusinessName" data-presave-object="Razón Social">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group mt-0">
                            <label class="control-label" for="provider_edit_sap_code"><span class="text-dark">Código SAP</span> <span class="text-danger">*</span> | Máximo 20 caracteres</label>
                            <input id="provider_edit_sap_code" type="text" maxlength="20" class="form-control" value="@Model.SAPCode" data-presave-object="Código SAP">
                        </div>
                    </div>
                    @*<div class="col-md-3 col-sm-12">
                            <div class="form-group mt-0">
                                <label class="control-label" for="provider_edit_incoterms"><span class="text-dark">Incoterms</span> <span class="text-danger">*</span></label>
                                @{
                                    if (l_provider)
                                    {
                                        <div class="cls-1902141431 text-nowrap m-0 text-left cls-1902211935">@Model.IncotermsDescription</div>
                                    }
                                    else
                                    {
                                        <select id="provider_edit_incoterms" class="form-control" data-live-search="true" data-dropup-auto="false" data-presave-object="Incoterms"></select>
                                    }
                                }
                            </div>
                        </div>*@
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group mt-0">
                            <label class="control-label" for="provider_edit_retention"><span class="text-dark">(%) Retención</span> | Número no menor a cero</label>
                            <div class="app-row">
                                <div class="pull-left cls-1902131706">
                                    <input id="provider_edit_retention" type="number" min="0" class="form-control text-right" title=" " step="0.01" value="@(Model.HasRetention == "S" ? Convert.ToString(Model.Retention) : "")" disabled data-presave-object="(%) Retención" />
                                </div>
                                <div class="pull-right cls-1902131707">
                                    <div class="checkbox">
                                        <label class="m-0">
                                            <input id="provider_edit_has_retention" type="checkbox" @(Model.HasRetention == "S" ? "checked" : "") />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @{
                        if (l_provider)
                        {
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="provider_edit_address"><span class="text-dark">Dirección Fiscal</span> | Máximo 200 caracteres</label>
                                    <input id="provider_edit_address" type="text" maxlength="200" class="form-control" value="@Model.Address" data-presave-object="Dirección Fiscal">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-11 col-sm-12">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="provider_edit_address"><span class="text-dark">Dirección Fiscal</span> | Máximo 200 caracteres</label>
                                    <input id="provider_edit_address" type="text" maxlength="200" class="form-control" value="@Model.Address" data-presave-object="Dirección Fiscal">
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-12">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="provider_edit_status"><span class="text-dark">Activo</span></label>
                                    <div class="togglebutton">
                                        <label>
                                            <input id="provider_edit_status" type="checkbox" @(Model.Status == "A" ? "checked" : "") />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                @{
                    if (!l_provider)
                    {
                        <div class="row">
                            @{
                                if (Model.User == "" && Model.Password == "")
                                {
                                    <div class="col-12">
                                        <div class="text-center color-warning cls-1905082259">
                                            <i class="mr-1 fa fa-warning"></i>El proveedor no tiene <span class="font-weight-bold">Usuario</span>, para generarle uno, debe "GUARDAR Y ENVIAR" o "GUARDAR"
                                        </div>
                                    </div>
                                }
                            }
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="provider_edit_username"><span class="text-dark">Usuario</span> | Es igual a la RUC ingresada</label>
                                    <div class="cls-1902141431 text-nowrap m-0 text-left cls-1902211935">@Model.User</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="provider_edit_password"><span class="text-dark">Contraseña</span> | Será genera automáticamente al 'Guardar y Enviar'</label>
                                    <div class="cls-1902141431 text-nowrap m-0 cls-1902211935">@Model.Password</div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group mt-0">
                            <label class="control-label" for="provider_edit_email"><span class="text-dark">Email</span> <span class="text-danger">*</span> | Máximo 200 caracteres</label>
                            <div class="app-row w-100">
                                <div class="pull-left cls-1902131706">
                                    <input id="provider_edit_email" type="text" maxlength="200" class="form-control" value="@Model.Email" data-presave-object="Email" placeholder="Email principal" />
                                </div>
                                <div class="pull-right cls-1902191656">
                                    <button id="provider_edit_btn_add_email" class="btn btn-raised btn-success m-0 cls-1904150857" data-toggle="tooltip" data-placement="top" title="Agregar email">
                                        <i class="fa fa-plus m-0 cls-1904150856"></i>
                                        <i class="icon ion-ios-at m-0 app-center cls-1904150855"></i>
                                    </button>
                                </div>
                            </div>
                            <ul id="provider_edit_emails" class="list-group"></ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group mt-0">
                            <label class="control-label"><span class="text-dark">Teléfonos</span></label>
                            <ul id="provider_edit_phones" class="list-group">
                                <li class="list-group-item bg-transparent border-0 p-0">
                                    <div class="app-row w-100">
                                        <div class="pull-left cls-1902131706">
                                            <input type="text" maxlength="20" class="form-control" data-input="phone" />
                                        </div>
                                        <div class="pull-right cls-1902191656">
                                            <button id="provider_edit_btn_add_phone" class="btn btn-raised btn-success m-0 cls-1904150857" data-toggle="tooltip" data-placement="top" title="Agregar teléfono">
                                                <i class="fa fa-plus m-0 cls-1904150856"></i>
                                                <i class="icon ion-md-call m-0 app-center cls-1904150855"></i>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
            <hr class="mt-1 mb-15 dotted" />
            <div class="card">
                <ul class="nav nav-tabs shadow-2dp" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link withoutripple active" href="#employees" aria-controls="employees" role="tab" data-toggle="tab">
                            <i class="fa fa-users"></i>
                            <span class="d-none d-sm-inline">Trabajadores</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link withoutripple" href="#cars" aria-controls="cars" role="tab" data-toggle="tab">
                            <i class="fa fa-truck"></i>
                            <span class="d-none d-sm-inline">Vehículos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link withoutripple" href="#documents" aria-controls="documents" role="tab" data-toggle="tab">
                            <i class="fa fa-file-text-o"></i>
                            <span class="d-none d-sm-inline">Documentos Proveedor</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link withoutripple" href="#accounts" aria-controls="accounts" role="tab" data-toggle="tab">
                            <i class="fa fa-bank"></i>
                            <span class="d-none d-sm-inline">Cuentas Bancarias</span>
                        </a>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active show" id="employees">
                            <div class="app-row">
                                <div class="pull-left app-form mb-05">
                                    <div class="form-group mt-0 pb-0">
                                        <label class="control-label mt-0 d-inline-block" for="provider_edit_filter_employee">Buscar :</label>
                                        <input id="provider_edit_filter_employee" class="form-control d-inline-block cls-1903150848" type="text" placeholder="Global" />
                                    </div>
                                </div>
                                <a id="provider_edit_btn_add_employee" href="javascript:void(0)" class="btn btn-raised btn-primary pull-right mt-0 mb-05">
                                    <i class="fa fa-plus m-0"></i><span class="d-none d-sm-inline ml-1">Agregar Trabajador</span>
                                </a>
                            </div>
                            <div class="app-form">
                                <table id="provider_edit_table_employee" class="app-table mt-0 cls-1902141049 cls-1902140859 cls-1904161418">
                                    <thead>
                                        <tr>
                                            <th class="align-middle text-ws-normal text-center" style="width:80px;">Codigo</th>
                                            <th class="align-middle text-ws-normal text-center">Nro. Licencia</th>
                                            <th class="align-middle text-ws-normal text-center">Tipo Documento</th>
                                            <th class="align-middle text-ws-normal text-center">Nro. Documento</th>
                                            <th class="align-middle text-ws-normal text-center">Apellido Paterno</th>
                                            <th class="align-middle text-ws-normal text-center">Apellido Materno</th>
                                            <th class="align-middle text-ws-normal text-center">Nombres</th>
                                            <th class="align-middle text-ws-normal text-center">Fecha Nacimiento</th>
                                            <th class="align-middle text-ws-normal text-center">Email</th>
                                            <th class="align-middle text-ws-normal text-center">Celular</th>
                                            <th class="align-middle text-ws-normal text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="cars">
                            <div class="app-row">
                                <div class="pull-left app-form mb-05">
                                    <div class="form-group mt-0 pb-0">
                                        <label class="control-label mt-0 d-inline-block" for="provider_edit_filter_vehicle">Buscar :</label>
                                        <input id="provider_edit_filter_vehicle" class="form-control d-inline-block cls-1903150848" type="text" placeholder="Global" />
                                    </div>
                                </div>
                                <a id="provider_edit_btn_add_vehicle" href="javascript:void(0)" class="btn btn-raised btn-primary pull-right mt-0 mb-05">
                                    <i class="fa fa-plus m-0"></i><span class="d-none d-sm-inline ml-1">Agregar Vehículo</span>
                                </a>
                            </div>
                            <div class="app-form">
                                <table id="provider_edit_table_vehicle" class="app-table mt-0 cls-1902141049 cls-1902141050 cls-1904161418">
                                    <thead>
                                        <tr>
                                            <th class="align-middle text-ws-normal text-center">Tipo Vehículo</th>
                                            <th class="align-middle text-ws-normal text-center">Nro. Placa</th>
                                            <th class="align-middle text-ws-normal text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="documents">
                            <div class="app-row mb-2">
                                @{
                                    if (l_provider || l_logistica_admin)
                                    {
                                        <div class="pull-left position-relative cls-1902141132 cls-1902141139-logistica ml-0">
                                            Doc. Logística:
                                            <div class="app-state">
                                                <span class="cls-1903021233">L</span>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="pull-right position-relative cls-1902141132 cls-1902141139-danger">
                                    Vencido:
                                    <div class="app-state">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </div>
                                <div class="pull-right position-relative cls-1902141132 cls-1902141139-warning">
                                    Por Vencer:
                                    <div class="app-state">
                                        <i class="fa fa-info"></i>
                                    </div>
                                </div>
                                <div class="pull-right position-relative cls-1902141132 cls-1902141139-success">
                                    Conforme:
                                    <div class="app-state">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </div>
                            </div>
                            <div id="provider_edit_list_document" class="app-form">
                                @{
                                    foreach (ElearningApp.Models.Entity.ProviderDocument_Model document in Model.Documents)
                                    {
                                        <div class="row mb-2 cls-1902141455 cls-1902240436 cls-1902260911-@document.EstadoDoc" data-object="sustenance-document" data-tdos="@document.CodiTdos" data-description="@document.DescripcionCorta" data-has-date="@document.FlagFecha" data-prdo="@document.CodiPrdo" data-status="@document.EstadoDoc">
                                            <div class="col-12 position-relative cls-1902240431">
                                                @{
                                                    //status
                                                    if (document.EstadoDoc == "A")
                                                    {
                                                        <span class="bg-success cls-1902141459">Aprobado</span>
                                                    }
                                                    else if (document.EstadoDoc == "P")
                                                    {
                                                        <span class="bg-info cls-1902141459">Pendiente de Aprobación</span>
                                                    }
                                                    else if (document.EstadoDoc == "R")
                                                    {
                                                        <span class="bg-danger cls-1902141459">Rechazado</span>
                                                    }
                                                    //icons
                                                    if ((l_provider || l_logistica_admin) && ElearningApp.Models.Helpers.IsLogisticaDocument(document.CodiTdos, Model.LogisticaDocuments))
                                                    {
                                                        <div class="app-state cls-1904300909" style="background-color: #11A9CC;">
                                                            <span class="cls-1903021233">L</span>
                                                        </div>
                                                    }
                                                    if (document.Semaforo == "V")
                                                    {
                                                        <div class="app-state cls-1904300910" style="background-color: #4caf50;">
                                                            <i class="fa fa-check"></i>
                                                        </div>
                                                    }
                                                    else if (document.Semaforo == "A")
                                                    {
                                                        <div class="app-state cls-1904300910" style="background-color: #ff9800;">
                                                            <i class="fa fa-info"></i>
                                                        </div>
                                                    }
                                                    else if (document.Semaforo == "R")
                                                    {
                                                        <div class="app-state cls-1904300910" style="background-color: #f44336;">
                                                            <i class="fa fa-times"></i>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="col-md-3 col-sm-12 col-12 cls-1902240431">
                                                <div class="form-group mt-0">
                                                    <label class="control-label m-0">
                                                        @{
                                                            if (document.Modelo == "")
                                                            {
                                                                <span class="text-dark font-weight-bold h4">@document.DescripcionCorta</span>
                                                            }
                                                            else
                                                            {
                                                                <a href="@(document.ModeloUrl + document.Modelo)" download class="font-weight-bold h4 cls-1905022222" data-toggle="tooltip" data-placement="top" title="Descargar Modelo">@document.DescripcionCorta <i class="icon ion-ios-cloud-download m-0"></i></a>
                                                            }
                                                        }
                                                    </label>
                                                    <div class="pb-07" data-object="document">
                                                        <div class="d-inline-block cls-1902141237">
                                                            <div class="form-group m-0 p-0">
                                                                <input type="text" readonly class="form-control bg-white" placeholder="Seleccionar..." data-object="document-name" value="@document.NombreReal" />
                                                                @{
                                                                    if (document.CodiTdos == 75)
                                                                    {
                                                                        <input type="file" title=" " data-input="document" data-name="@document.Nombre" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="file" title=" " data-input="document" data-name="@document.Nombre" />
                                                                    }
                                                                }
                                                                @{
                                                                    if (document.NombreReal != "")
                                                                    {
                                                                        <a href="@document.Url" download class="btn btn-sm btn-raised btn-info m-0 pt-0 pb-0 position-absolute cls-1902240557" data-toggle="tooltip" data-placement="top" title="Descargar">
                                                                            <i class="icon ion-ios-cloud-download m-0"></i>
                                                                        </a>
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="d-inline-block cls-1902141238">
                                                            <button class="btn btn-xs btn-raised btn-warning m-0 cls-1902141232" data-toggle="tooltip" data-placement="top" title="Limpiar documento" data-action="remove-document">
                                                                <i class="glyphicon glyphicon-erase m-0"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-9 col-sm-12 col-12 cls-1902240431">
                                                <div class="row cls-1902240436">
                                                    <div class="col-md-4 col-sm-6 col-6 cls-1902240431">
                                                        @{
                                                            if (document.FlagFecha == "S")
                                                            {
                                                                <div class="form-group mt-0">
                                                                    <label class="control-label m-0"><span class="text-dark">Fecha Emisión</span></label>
                                                                    <input type="text" class="form-control bg-white" data-input="issue-date" value="@document.FechaEmision" />
                                                                    <div class="icon-input small-calendar cls-1901071658" title="..."></div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-6 cls-1902240431">
                                                        @{
                                                            if (document.FlagFecha == "S")
                                                            {
                                                                <div class="form-group mt-0">
                                                                    <label class="control-label m-0"><span class="text-dark">Fecha Vencimiento</span></label>
                                                                    <input type="text" class="form-control bg-white" data-input="expiration-date" value="@document.FechaVencimiento" />
                                                                    <div class="icon-input small-calendar cls-1901071658" title="..."></div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="col-md-4 col-sm-12 col-12 cls-1902240431">
                                                        <div class="pb-07">
                                                            <div class="cls-1902141431 bg-white text-nowrap">
                                                                @document.Area
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @{
                                                if (document.EstadoDoc == "R")
                                                {
                                                    <div class="col-12 cls-1902240431" data-object="reason">
                                                        <div class="form-group mt-0">
                                                            <label class="control-label m-0"><span class="text-dark">Motivo de Rechazo</span></label>
                                                            <div class="bg-white cls-1904291750">@document.DescripcionRechazo</div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="accounts">
                            <div class="app-row">
                                <div class="pull-left app-form mb-05">
                                    <div class="form-group mt-0 pb-0">
                                        <label class="control-label mt-0 d-inline-block" for="provider_edit_filter_account">Buscar :</label>
                                        <input id="provider_edit_filter_account" class="form-control d-inline-block cls-1903150848" type="text" placeholder="Global" />
                                    </div>
                                </div>
                                <a id="provider_edit_btn_add_account" href="javascript:void(0)" class="btn btn-raised btn-primary pull-right mt-0 mb-05">
                                    <i class="fa fa-plus m-0"></i><span class="d-none d-sm-inline ml-1">Agregar Cuenta</span>
                                </a>
                            </div>
                            <div class="app-form">
                                <table id="provider_edit_table_account" class="app-table mt-0 cls-1902141049 cls-1902141523 cls-1904161418">
                                    <thead>
                                        <tr>
                                            <th class="align-middle text-ws-normal text-center">Tipo Cuenta</th>
                                            <th class="align-middle text-ws-normal text-center">Nro. Cuenta</th>
                                            <th class="align-middle text-ws-normal text-center">Banco</th>
                                            <th class="align-middle text-ws-normal text-center">Tipo Moneda</th>
                                            <th class="align-middle text-ws-normal text-center">Archivo</th>
                                            <th class="align-middle text-ws-normal text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-dark" />
            <div class="app-row">
                <span class="small text-dark">Campo requerido (<span class="text-danger">*</span>)</span>
                @Helpers.TagHelper.buttonSave("provider_edit_save")
                @{
                    if (!l_provider)
                    {
                        @Helpers.TagHelper.buttonSave("provider_edit_save_send", "cls-1903010264", "fa fa-send", "Guardar y Enviar")
                    }
                }
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script>
        @{
            if (l_provider)
            {
                @:ngon.Model.IsProviderProfile = true;
            }
            else
            {
                @:ngon.Model.IsProviderProfile = false;
            }
        }
    </script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/provider/edit.js?v=@ViewBag.app_version"></script>
}