﻿@model ElearningApp.Models.Entity.ProviderEmployee_Model
@{
    var l_provider = ElearningApp.Models.SessionHelpers.IsProviderProfile();
    var l_logistica_admin = ElearningApp.Models.SessionHelpers.IsLogisticaAdminProfile();
    ViewBag.title = l_provider ? "Proveedor :: Documentos Trabajador" : "Proveedor :: Trabajador";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb cls-1902240205">
        @{
            if (l_provider)
            {
                <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
                    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
                    <li><a href="javascript:void(0)" class="active">Documentos Trabajador</a></li>
                </ul>
            }
            else
            {
                <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
                    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
                    <li><a href="@Url.Action("Index", "Provider")">Proveedor :: Datos Generales</a></li>
                    <li><a href="javascript:void(0)" class="active">Trabajador</a></li>
                </ul>
            }
        }
        <h4 class="animated fadeInLeft animation-delay-5 color-white position-absolute m-0 cls-1902240153">
            <i class="mr-1 fa fa-globe"></i> @Model.Provider.BusinessName
        </h4>
    </div>
    <div class="card animated slideInUp animation-delay-8">
        <ul class="nav nav-tabs shadow-2dp" role="tablist">
            <li class="nav-item">
                <a class="nav-link withoutripple active" href="#individual" aria-controls="individual" role="tab" data-toggle="tab">
                    <i class="fa fa-user"></i>
                    <span class="d-none d-sm-inline">Carga Individual</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link withoutripple" href="#massive" aria-controls="massive" role="tab" data-toggle="tab">
                    <i class="fa fa-users"></i>
                    <span class="d-none d-sm-inline">Carga Masiva</span>
                </a>
            </li>
        </ul>
        <div class="card-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active show" id="individual">
                    <div class="row">
                        <div class="col-12">
                            <div class="app-row">
                                @{
                                    if (l_provider || l_logistica_admin)
                                    {
                                        <div class="pull-left position-relative cls-1902141132 cls-1902141139-logistica ml-0">
                                            Doc. Logística:
                                            <div class="app-state">
                                                <span class="cls-1903021233">L</span>
                                            </div>
                                        </div>
                                        <div class="pull-left position-relative cls-1902141132 cls-1902141139-capacitado">
                                            Capacitado:
                                            <div class="app-state">
                                                <span class="cls-1903021233">C</span>
                                            </div>
                                        </div>
                                        <div class="pull-left position-relative cls-1902141132 cls-1902141139-capacitado" style="border-color: #140080 !important;">
                                            Vulnerable:
                                            <div class="app-state" style="background-color: #fff">
                                                <i style='font-size: 19px; color: #140080;' class='icofont icofont-heart-beat'></i>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="pull-right position-relative cls-1902141132 cls-1902141139-danger">
                                    Vencido:
                                    <div class="app-state">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </div>
                                <div class="pull-right position-relative cls-1902141132 cls-1902141139-warning">
                                    Por Vencer:
                                    <div class="app-state">
                                        <i class="fa fa-info"></i>
                                    </div>
                                </div>
                                <div class="pull-right position-relative cls-1902141132 cls-1902141139-success">
                                    Conforme:
                                    <div class="app-state">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                            <h4 class="right-line right-line-white cls-1812051504"><span id="provider_employee_individual_table_export_btn" class="cursor-pointer">Trabajador <i class="fa fa-file-excel-o"></i></span></h4>
                            <div id="provider_employee_individual_table_export" class="d-none"></div>
                            <div class="app-form cls-1902051730">
                                <table id="provider_employee_individual_table" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="align-middle text-ws-normal text-center">Foto</th>
                                            <th class="align-middle text-ws-normal text-center">Nombres</th>
                                            <th class="align-middle text-ws-normal text-center">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                            <h4 class="right-line right-line-white cls-1812051504"><span id="provider_employee_individual_fullname">...</span> / <span id="provider_employee_individual_document">...</span></h4>
                            <div class="app-form cls-1902051730">
                                <table id="provider_employee_individual_table_document" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="align-middle text-ws-normal text-center">Documento</th>
                                            <th class="align-middle text-ws-normal text-center">Área</th>
                                            <th class="align-middle text-ws-normal text-center">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr class="border-dark" />
                    <div class="app-row">
                        @*<span class="small text-dark">Campo requerido (<span class="text-danger">*</span>)</span>*@
                        @Helpers.TagHelper.buttonSave("provider_employee_individual_save")
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="massive">
                    <div class="row">
                        <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                            <h4 class="right-line right-line-white cls-1812051504">Trabajador</h4>
                            <div class="app-form cls-1902051730">
                                <table id="provider_employee_massive_table" class="table table-bordered cls-1902241648">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <div class="checkbox">
                                                    <label class="m-0">
                                                        <input id="provider_employee_massive_table_check_all" type="checkbox">
                                                    </label>
                                                </div>
                                            </th>
                                            <th class="align-middle text-ws-normal text-center">Foto</th>
                                            <th class="align-middle text-ws-normal text-center">Nombres</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                            <h4 class="right-line right-line-white cls-1812051504">Documento</h4>
                            <div class="app-form">
                                <div class="form-group mt-0">
                                    <select id="provider_employee_massive_document" class="form-control selectpicker" data-live-search="true" data-dropup-auto="false">
                                        @{
                                            foreach (List<object> document in Model.Documents)
                                            {
                                                if (Convert.ToString(document[9]) == "S")
                                                {
                                                    <option value="@document[0]">@document[1]</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div id="provider_employee_massive_form" class="cls-1902241803">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="border-dark" />
                    <div class="app-row">
                        @*<span class="small text-dark">Campo requerido (<span class="text-danger">*</span>)</span>*@
                        @Helpers.TagHelper.buttonSave("provider_employee_massive_save")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/icon/icofont/css/icofont.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script>
        @{
            if (l_provider)
            {
                @:ngon.Model.IsProviderProfile = true;
            }
            else
            {
                @:ngon.Model.IsProviderProfile = false;
            }
            if (l_logistica_admin)
            {
                @:ngon.Model.IsLogisticaAdminProfile = true;
            }
            else
            {
                @:ngon.Model.IsLogisticaAdminProfile = false;
            }
        }
    </script>
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/buttons.html5.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/bower_components/fullcalendar/lib/moment.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/provider/employee.js?v=@ViewBag.app_version"></script>
}