﻿@model ElearningApp.Models.Entity.ProviderToApprove_Model
@{
    ViewBag.title = "Proveedor :: Aprobar";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("ApproveDocument", "Provider")">Proveedor :: Aprobación Documentos</a></li>
            <li><a href="javascript:void(0)" class="active">Aprobar</a></li>
        </ul>
    </div>
    <div class="card animated slideInUp animation-delay-8">
        <ul class="nav nav-tabs shadow-2dp" role="tablist">
            <li class="nav-item">
                <a class="nav-link withoutripple active" href="#provider" aria-controls="provider" role="tab" data-toggle="tab">
                    <i class="fa fa-building"></i>
                    <span class="d-none d-sm-inline">Proveedor</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link withoutripple" href="#employees" aria-controls="employees" role="tab" data-toggle="tab">
                    <i class="fa fa-user-o"></i>
                    <span class="d-none d-sm-inline">Trabajadores</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link withoutripple" href="#vehicles" aria-controls="vehicles" role="tab" data-toggle="tab">
                    <i class="fa fa-truck"></i>
                    <span class="d-none d-sm-inline">Vehículos</span>
                </a>
            </li>
        </ul>
        <div class="card-body app-form">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active show" id="provider">
                    <h4 class="right-line right-line-white cls-1812051504">Datos Generales</h4>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group mt-0">
                                <label class="control-label"><span class="text-dark">RUC/NIT</span></label>
                                <div class="cls-1902141431 text-nowrap m-0 text-left cls-1902211935">@Model.Provider.RUC</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group mt-0">
                                <label class="control-label"><span class="text-dark">Razón Social</span></label>
                                <div class="cls-1902141431 text-nowrap m-0 text-left cls-1902211935" @Html.Raw(ElearningApp.Models.Helpers.GetHtmlTooltipFromText(Model.Provider.BusinessName))>@Model.Provider.BusinessName</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group mt-0">
                                <label class="control-label"><span class="text-dark">Email</span> | Email principal</label>
                                <div class="cls-1902141431 text-nowrap m-0 text-left cls-1902211935">@Model.Provider.Email</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group mt-0">
                                <label class="control-label"><span class="text-dark">Código SAP</span></label>
                                <div class="cls-1902141431 text-nowrap m-0 text-left cls-1902211935">@Model.Provider.SAPCode</div>
                            </div>
                        </div>
                        @*<div class="col-md-3 col-sm-12">
                            <div class="form-group mt-0">
                                <label class="control-label"><span class="text-dark">Incoterms</span></label>
                                <div class="cls-1902141431 text-nowrap m-0 text-left cls-1902211935">@Model.Provider.IncotermsDescription</div>
                            </div>
                        </div>*@
                    </div>
                    <h4 class="right-line right-line-white cls-1812051504">Documentos</h4>
                    <div class="app-row mb-2">
                        <div class="pull-right position-relative cls-1902141132 cls-1902141139-danger">
                            Vencido:
                            <div class="app-state">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="pull-right position-relative cls-1902141132 cls-1902141139-warning">
                            Por Vencer:
                            <div class="app-state">
                                <i class="fa fa-info"></i>
                            </div>
                        </div>
                        <div class="pull-right position-relative cls-1902141132 cls-1902141139-success">
                            Conforme:
                            <div class="app-state">
                                <i class="fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div id="provider_toapprove_provider_documents" class="cls-1902051730">
                        @{
                            foreach (ElearningApp.Models.Entity.ProviderDocument_Model document in Model.Documents)
                            {
                                <div class="row mb-2 cls-1902141455 cls-1902240436 cls-1902260911-@document.EstadoDoc" data-object="sustenance-document" data-tdos="@document.CodiTdos" data-prdo="@document.CodiPrdo" data-status="@(document.EstadoDoc == "" ? "" : "APR")">
                                    <div class="col-12 position-relative cls-1902240431">
                                        @{
                                            //status
                                            if (document.EstadoDoc == "A")
                                            {
                                                <span class="bg-success cls-1902141459">Aprobado</span>
                                            }
                                            else if (document.EstadoDoc == "P")
                                            {
                                                <span class="bg-info cls-1902141459">Pendiente de Aprobación</span>
                                            }
                                            else if (document.EstadoDoc == "R")
                                            {
                                                <span class="bg-danger cls-1902141459">Rechazado</span>
                                            }
                                            //icons
                                            if (document.Semaforo == "V")
                                            {
                                                <div class="app-state cls-1904290936" style="background-color: #4caf50;">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                            }
                                            else if (document.Semaforo == "A")
                                            {
                                                <div class="app-state cls-1904290936" style="background-color: #ff9800;">
                                                    <i class="fa fa-info"></i>
                                                </div>
                                            }
                                            else if (document.Semaforo == "R")
                                            {
                                                <div class="app-state cls-1904290936" style="background-color: #f44336;">
                                                    <i class="fa fa-times"></i>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-12 cls-1902240431">
                                        <div class="form-group mt-0">
                                            <label class="control-label m-0"><span class="text-dark font-weight-bold h4">@document.DescripcionCorta</span></label>
                                            @{
                                                if (document.NombreReal != "")
                                                {
                                                    <div class="position-relative cls-1902141431 mt-0 text-nowrap cls-1902251447" @Html.Raw(ElearningApp.Models.Helpers.GetHtmlTooltipFromText(document.NombreReal))>
                                                        @document.NombreReal
                                                        <a href="@document.Url" download class="btn btn-sm btn-raised btn-info m-0 pt-0 pb-0 position-absolute cls-1902240557 cls-1902251502" data-toggle="tooltip" data-placement="top" title="Descargar">
                                                            <i class="icon ion-ios-cloud-download m-0"></i>
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="cls-1902141431 mt-0 text-nowrap cls-1902251447"></div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-12 cls-1902240431">
                                        <div class="row cls-1902240436">
                                            <div class="col-md-3 col-sm-6 col-6 cls-1902240431">
                                                @{
                                                    if (document.FlagFecha == "S")
                                                    {
                                                        <div class="form-group mt-0">
                                                            <label class="control-label m-0"><span class="text-dark">Fecha Emisión</span></label>
                                                            <div class="cls-1902141431 mt-0 text-nowrap cls-1902251447">@document.FechaEmision</div>
                                                            <div class="icon-input small-calendar cls-1901071658" title="..."></div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-6 cls-1902240431">
                                                @{
                                                    if (document.FlagFecha == "S")
                                                    {
                                                        <div class="form-group mt-0">
                                                            <label class="control-label m-0"><span class="text-dark">Fecha Vencimiento</span></label>
                                                            <div class="cls-1902141431 mt-0 text-nowrap cls-1902251447">@document.FechaVencimiento</div>
                                                            <div class="icon-input small-calendar cls-1901071658" title="..."></div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="col-md-3 col-sm-12 col-12 cls-1902240431">
                                                <div class="pb-07">
                                                    <div class="cls-1902141431 bg-white text-nowrap">
                                                        @document.Area
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-12 col-12 cls-1902240431">
                                                @{
                                                    if (document.EstadoDoc != "")
                                                    {
                                                        <div class="pb-07">
                                                            <div class="p-0 border-0 cls-1902141431 cls-1902251629">
                                                                <fieldset class="pt-07">
                                                                    <div class="switch-toggle switch-candy" data-object="switch" data-initial="@document.EstadoDoc">
                                                                        <input id="approve-@document.CodiTdos" name="switch-@document.CodiTdos" type="radio" data-input="switch" value="A" @(document.EstadoDoc == "A" ? "checked" : "") />
                                                                        <label for="approve-@document.CodiTdos" onclick="" class="cls-1902251629-approve">Aprobar</label>
                                                                        <input id="nothing-@document.CodiTdos" name="switch-@document.CodiTdos" type="radio" data-input="switch" value="P" @(document.EstadoDoc == "P" ? "checked" : "") />
                                                                        <label for="nothing-@document.CodiTdos" onclick="" class="cls-1902251629-nothing">o</label>
                                                                        <input id="deny-@document.CodiTdos" name="switch-@document.CodiTdos" type="radio" data-input="switch" value="R" @(document.EstadoDoc == "R" ? "checked" : "") />
                                                                        <label for="deny-@document.CodiTdos" onclick="" class="cls-1902251629-deny">Rechazar</label>
                                                                        <a></a>
                                                                    </div>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    @{
                                        if (document.EstadoDoc != "")
                                        {
                                            <div class="col-12 cls-1902240431" data-object="reason" style="display: none;">
                                                <div class="form-group mt-0">
                                                    <label class="control-label m-0"><span class="text-dark">Motivo de Rechazo</span> | Máximo 500 caracteres</label>
                                                    <textarea class="form-control bg-white" maxlength="500" rows="3" data-input="reason">@document.DescripcionRechazo</textarea>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="employees">
                    <div class="row">
                        <div class="col-12">
                            <div class="app-row">
                                <div class="pull-right position-relative cls-1902141132 cls-1902141139-danger">
                                    Vencido:
                                    <div class="app-state">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </div>
                                <div class="pull-right position-relative cls-1902141132 cls-1902141139-warning">
                                    Por Vencer:
                                    <div class="app-state">
                                        <i class="fa fa-info"></i>
                                    </div>
                                </div>
                                <div class="pull-right position-relative cls-1902141132 cls-1902141139-success">
                                    Conforme:
                                    <div class="app-state">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                            <h4 class="right-line right-line-white cls-1812051504">Trabajador</h4>
                            <div class="app-form cls-1902051730">
                                <table id="provider_toapprove_employee_table" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="align-middle text-ws-normal text-center">Foto</th>
                                            <th class="align-middle text-ws-normal text-center">Nombres</th>
                                            <th class="align-middle text-ws-normal text-center">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                            <h4 class="right-line right-line-white cls-1812051504"><span id="provider_toapprove_employee_fullname">...</span> / <span id="provider_toapprove_employee_document">...</span></h4>
                            <div class="app-form cls-1902051730">
                                <table id="provider_toapprove_employee_table_document" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="align-middle text-ws-normal text-center">Documento</th>
                                            <th class="align-middle text-ws-normal text-center">Área</th>
                                            <th class="align-middle text-ws-normal text-center">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="vehicles">
                    <div class="row">
                        <div class="col-12">
                            <div class="app-row">
                                <div class="pull-right position-relative cls-1902141132 cls-1902141139-danger">
                                    Vencido:
                                    <div class="app-state">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </div>
                                <div class="pull-right position-relative cls-1902141132 cls-1902141139-warning">
                                    Por Vencer:
                                    <div class="app-state">
                                        <i class="fa fa-info"></i>
                                    </div>
                                </div>
                                <div class="pull-right position-relative cls-1902141132 cls-1902141139-success">
                                    Conforme:
                                    <div class="app-state">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                            <h4 class="right-line right-line-white cls-1812051504">Vehículo</h4>
                            <div class="app-form cls-1902051730">
                                <table id="provider_toapprove_vehicle_table" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="align-middle text-ws-normal text-center">Foto</th>
                                            <th class="align-middle text-ws-normal text-center">Nombres</th>
                                            <th class="align-middle text-ws-normal text-center">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                            <h4 class="right-line right-line-white cls-1812051504"><span id="provider_toapprove_vehicle_description">...</span></h4>
                            <div class="app-form cls-1902051730">
                                <table id="provider_toapprove_vehicle_table_document" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="align-middle text-ws-normal text-center">Documento</th>
                                            <th class="align-middle text-ws-normal text-center">Área</th>
                                            <th class="align-middle text-ws-normal text-center">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-dark" />
            <div class="app-row">
                @Helpers.TagHelper.buttonSave("provider_toapprove_save")
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/css-toggle-switch/css-toggle-switch.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/buttons.html5.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/provider/toapprove.js?v=@ViewBag.app_version"></script>
}