﻿@using NGon
@Html.IncludeNGon()
<div class="pt-2 pl-2 pr-2 pb-2 app-form">
    <table id="programming_area_table" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <div class="checkbox">
                        <label class="m-0">
                            <input id="programming_area_table_check_all" type="checkbox"><span class="checkbox-material"><span class="check"></span></span>
                        </label>
                    </div>
                </th>
                <th class="align-middle text-ws-normal">Área</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    (function (p_Model) {
        var l_ids = p_Model.AreaIds, l_dataTable;
        if (l_ids == null || l_ids.trim() == "") {
            l_ids = "-1";
        }
        $("#programming_area_table_check_all").change(function () {
            var cells = l_dataTable.cells().nodes();
            var checked = $(this).is(":checked");
            var row;
            $(cells).find(":checkbox").each(function () {
                $(this).prop("checked", checked);
                row = $(this).closest("tr");
                if (checked) {
                    row.addClass("row_checked");
                } else {
                    row.removeClass("row_checked");
                }
            });
        });
        $("#programming_area_table").on("change", "tbody tr input[type=checkbox]", function () {
            $(this).parents('tr').toggleClass("row_checked");
        });
        l_dataTable = $("#programming_area_table").daDataTable({
            "DataTable": {
                "ajax": {
                    "url": '@Url.Action("GetArea", "Programming")',
                    "type": "post",
                    "data": {
                        "AreaIds": l_ids
                    }
                },
                "aoColumns": [
                    {
                        "data": null,
                        "orderable": false,
                        "searchable": false,
                        "width": "20px",
                        "className": "text-center",
                        "mRender": function (o) {
                            return `<div class="checkbox">
                                        <label class="m-0">
                                            <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span>
                                        </label>
                                    </div>`;
                        }
                    },
                    {
                        "data": 1
                    }
                ],
                "order": [[1, 'asc']],
                "processing": true,
                "bLengthChange": false,
                "iDisplayLength": 10
            },
            "theme": "devexpress",
            "imgProcessing": "/assets/dalba/img/DXR.gif",
            "search": {
                "btn": null,
                "noSearch": [0]
            }
        }).Datatable;
    }(gf_getClone(ngon.Model)));
</script>