﻿@model ElearningApp.Models.Entity.AttemptFinalized_Model
@using NGon
@Html.IncludeNGon()
<div class="mb-15">
    @Html.Raw(Model.MessageFinalized)
</div>
@{
    if (Model.IsCarrier)
    {
        if (Model.IsApproved)
        {
            <div class="cls-1901290014">
                <div class="message">@Html.Raw(Model.Parameter.MessageApproved)</div>
                <img src="/assets/site/assets/images/aprobado.png" class="img-approved" />
            </div>
        }
        else
        {
            <div class="cls-1901290014">
                <div class="message">@Html.Raw(Model.Parameter.MessageDisapproved)</div>
                <img src="/assets/site/assets/images/desaprobado.png" class="img-disapproved" />
            </div>
        }
    }
    else
    {
        <h2 class="text-center cls-1901261011">Nota: <span class="font-weight-bold">@Model.Score</span></h2>
    }
}
@{
    if (Model.Test.TestType == "T")
    {
        <hr class="dotted">
        <h3 class="text-center fw-500">Solución</h3>
        <ul class="ms-timeline-left ml-5">
            @{
                for (var i = 0; i < Model.Questions.Count; i++)
                {
                    var question = Model.Questions[i] as List<object>;
                    <li class="ms-timeline-left-item wow fadeInUp">
                        <h4 class="font-weight-bold color-primary">Pregunta @(i + 1)</h4>
                        <p>
                            @question[1]
                        </p>
                        @{
                            if (question[0].ToString() == "radio" || question[0].ToString() == "boolean" || question[0].ToString() == "checkbox")
                            {
                                <p class="font-italic font-weight-bold">Respuesta correcta :</p>
                                <ul>
                                    @{
                                        foreach (List<object> answer in question[2] as List<object>)
                                        {
                                            <li>@answer[0]</li>
                                        }
                                    }
                                </ul>
                            }
                        }
                    </li>
                }
            }
        </ul>
    }
}
<script>
    !function(e){
        if (e.IsCarrier && e.IsApproved) {
        } e.FromCarrierLogin && setTimeout(function () { location.href = "/Account/Logout" }, 1e3 * (e.Parameter.iWaitTimeCloseSession + 1))
    }(gf_getClone(ngon.Model));
</script>