﻿@{
    Layout = null;
}
@using NGon
@Html.IncludeNGon()
<div class="pt-2 pl-2 pr-2 pb-2 app-form">
    <table id="programming_editregistermassive_table" class="table table-bordered">
        <thead>
            <tr>
                <th>Empleado</th>
                <th>Inscrito</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    (function (p_model) {
        $('#programming_editregistermassive_table').daDataTable({
            'DataTable': {
                'data': p_model.Persons,
                'aoColumns': [
                    {
                        'data': 3,
                        'className': "text-left"
                    },
                    {
                        'data': null,
                        'orderable': false,
                        'searchable': false,
                        'width': '20px',
                        'className': 'text-center',
                        'mRender': function (o) {
                            return `<div class="checkbox">
                                        <label class="m-0">
                                            <input type="checkbox" checked /><span class="checkbox-material m-0"><span class="check"></span></span>
                                        </label>
                                    </div>`;
                        }
                    }
                ],
                'order': [[0, 'asc']],
                'processing': true,
                'bLengthChange': false,
                'iDisplayLength': 10
            },
            'theme': 'devexpress',
            'imgProcessing': '/assets/dalba/img/DXR.gif',
            'search': {
                'btn': null,
                'noSearch': [1]
            }
        });
    }(gf_getClone(ngon.Model)));
</script>