﻿@using NGon
@Html.IncludeNGon()
<div class="pt-2 pl-2 pr-2 pb-2 app-form">
    <div class="app-row mb-05">
        <div class="form-group mt-0 p-0">
            <div class="pull-left mr-05">
                <label class="control-label" for="programming_instructor_filter"><span class="text-dark">Tipo :</span></label>
            </div>
            <div class="pull-left cls-1812110907">
                <select id="programming_instructor_filter" class="form-control selectpicker" data-live-search="true" data-dropup-auto="false">
                    <option value="I" selected>Interno</option>
                    <option value="E">Externo</option>
                </select>
            </div>
        </div>
        <button id="programming_instructor_search" class="btn btn-raised btn-info mt-0 mb-0 pull-right">
            <i class="fa fa-search m-0"></i>
        </button>
    </div>
    <table id="programming_instructor_table" class="table table-bordered">
        <thead>
            <tr>
                <th class="align-middle text-ws-normal">Sel.</th>
                <th class="align-middle text-ws-normal">Tipo Documento</th>
                <th class="align-middle text-ws-normal">Nro Documento</th>
                <th class="align-middle text-ws-normal">Nombres</th>
                <th class="align-middle text-ws-normal">Tipo</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    (function (p_Model) {
        var l_dataTable;
        $("#programming_instructor_table").on("change", "tbody tr input[type=radio]", function () {
            if ($(this).is(":checked")) {
                $(l_dataTable.cells().nodes()).find(":radio").prop("checked", false);
            }
            $(this).prop("checked", true);
        });
        $("#programming_instructor_search").click(function (evt) {
            evt.preventDefault();
            fn_build_datatable();
        });
        function fn_build_datatable() {
            l_dataTable = $("#programming_instructor_table").daDataTable({
                "DataTable": {
                    "ajax": {
                        "url": '@Url.Action("GetInstructor", "Programming")',
                        "type": "post",
                        "data": {
                            "InstructorId": p_Model.InstructorId,
                            "PersonType": $("#programming_instructor_filter").val()
                        }
                    },
                    "aoColumns": [
                        {
                            "data": null,
                            "orderable": false,
                            "searchable": false,
                            "width": "20px",
                            "className": "text-center",
                            "mRender": function (o) {
                                return `<div class="radio radio-primary">
                                            <label class="cls-1812121533">
                                                <input type="radio">
                                                <span class="circle"></span>
                                                <span class="check"></span>
                                            </label>
                                        </div>`;
                            }
                        },
                        {
                            "data": 1
                        },
                        {
                            "data": 2
                        },
                        {
                            "data": 3
                        },
                        {
                            "data": 4
                        }
                    ],
                    "order": [[1, 'asc']],
                    "processing": true,
                    "bLengthChange": false,
                    "iDisplayLength": 10
                },
                "theme": "devexpress",
                "imgProcessing": "/assets/dalba/img/DXR.gif",
                "search": {
                    "btn": null,
                    "noSearch": [0]
                }
            }).Datatable;
        }
        $("#programming_instructor_filter").selectpicker();
        fn_build_datatable();
    }(gf_getClone(ngon.Model)));
</script>