﻿<div class="pt-2 pl-2 pr-2 pb-2">
    <form id="programming_newevent_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
        <div class="row">
            <div class="col-12">
                <div class="form-group mt-0">
                    <label class="control-label" for="programming_newevent_date"><span class="text-dark">Fecha</span> <span class="text-danger">*</span> | DD/MM/YYYY</label>
                    <input id="programming_newevent_date" type="text" class="form-control" data-presave-object="Fecha">
                    <div class="icon-input small-calendar" src="" alt="..." title="..."></div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mt-0">
                    <label class="control-label" for="programming_newevent_from_hour"><span class="text-dark">Hora Inicio</span> <span class="text-danger">*</span> | HH:MM</label>
                    <input id="programming_newevent_from_hour" type="text" class="form-control" data-presave-object="Hora Inicio">
                    <div class="icon-input small-clock" src="" alt="..." title="..."></div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group mt-0">
                    <label class="control-label" for="programming_newevent_to_hour"><span class="text-dark">Hora Fin</span> <span class="text-danger">*</span> | HH:MM</label>
                    <input id="programming_newevent_to_hour" type="text" class="form-control" data-presave-object="Hora Fin">
                    <div class="icon-input small-clock" src="" alt="..." title="..."></div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    (function () {
        $('#programming_newevent_date').datepicker();
        $("#programming_newevent_from_hour, #programming_newevent_to_hour").inputmask({
            alias: "datetime",
            inputFormat: "HH:MM",
            placeholder: "__:__"
        });
        $("#programming_newevent_date, #programming_newevent_from_hour, #programming_newevent_to_hour").data({
            'PresaveRequired': true
        });
    }());
</script>