﻿@using NGon
@Html.IncludeNGon()
<div class="pt-2 pl-2 pr-2 pb-2 app-form">
    <div class="app-row mb-05">
        <div class="form-group mt-0 p-0">
            <div class="pull-left mr-05">
                <label class="control-label" for="programming_person_filter"><span class="text-dark">Tipo :</span></label>
            </div>
            <div class="pull-left cls-1812110907">
                <select id="programming_person_filter" class="form-control selectpicker" data-live-search="true" data-dropup-auto="false">
                    <option value="I" selected>Interno</option>
                    <option value="E">Externo</option>
                </select>
            </div>
        </div>
        <button id="programming_person_search" class="btn btn-raised btn-info mt-0 mb-0 pull-right">
            <i class="fa fa-search m-0"></i>
        </button>
    </div>
    <table id="programming_person_table" class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">
                    <div class="checkbox">
                        <label class="m-0">
                            <input id="programming_person_table_check_all" type="checkbox"><span class="checkbox-material"><span class="check"></span></span>
                        </label>
                    </div>
                </th>
                <th class="align-middle text-ws-normal text-center">Tipo Documento</th>
                <th class="align-middle text-ws-normal text-center">Nro Documento</th>
                <th class="align-middle text-ws-normal text-center">Nombres</th>
                <th class="align-middle text-ws-normal text-center">Área</th>
                <th class="align-middle text-ws-normal text-center">Proveedor</th>
                <th class="align-middle text-ws-normal text-center">Tipo</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    (function (p_Model) {
        var l_ids = p_Model.PersonIds, l_dataTable;
        if (l_ids == null || l_ids.trim() == "") {
            l_ids = "-1";
        }
        $("#programming_person_table_check_all").change(function () {
            l_dataTable.cells().nodes().to$().find(':checkbox:checked').prop('checked', false);
            if ($(this).is(":checked")) {
                l_dataTable.rows({ filter: 'applied' }).nodes().to$().find(':checkbox').prop('checked', true);
            }
            //var cells = l_dataTable.cells().nodes();
            //var checked = $(this).is(":checked");
            //var row;
            //$(cells).find(":checkbox").each(function () {
            //    $(this).prop("checked", checked);
            //    row = $(this).closest("tr");
            //    if (checked) {
            //        row.addClass("row_checked");
            //    } else {
            //        row.removeClass("row_checked");
            //    }
            //});
        });
        $("#programming_person_table").on("change", "tbody tr input[type=checkbox]", function () {
            $(this).parents('tr').toggleClass("row_checked");
        });
        $("#programming_person_search").click(function (evt) {
            evt.preventDefault();
            fn_build_datatable();
        });
        function fn_build_datatable() {
            l_dataTable = $("#programming_person_table").daDataTable({
                "DataTable": {
                    "ajax": {
                        "url": '@Url.Action("GetPerson", "Programming")',
                        "type": "post",
                        "data": {
                            "PersonIds": l_ids,
                            "PersonType": $("#programming_person_filter").val()
                        }
                    },
                    "aoColumns": [
                        {
                            "data": null,
                            "orderable": false,
                            "searchable": false,
                            "width": "20px",
                            "className": "text-center",
                            "mRender": function (o) {
                                return `<div class="checkbox">
                                            <label class="m-0">
                                                <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span>
                                            </label>
                                        </div>`;
                            }
                        },
                        {
                            "data": 1
                        },
                        {
                            "data": 2
                        },
                        {
                            "data": 3
                        },
                        {
                            "visible": $("#programming_person_filter").val() == 'I',
                            "className": 'text-left',
                            "data": 6
                        },
                        {
                            "visible": $("#programming_person_filter").val() == 'E',
                            "className": 'text-left',
                            "data": 5
                        },
                        {
                            "data": 4
                        }
                    ],
                    "order": [[1, 'asc']],
                    "processing": true,
                    "bLengthChange": false,
                    "iDisplayLength": 10
                },
                "theme": "devexpress",
                "imgProcessing": "/assets/dalba/img/DXR.gif",
                "search": {
                    "btn": null,
                    "noSearch": [0]
                }
            }).Datatable;
        }
        $("#programming_person_filter").selectpicker();
        fn_build_datatable();
    }(gf_getClone(ngon.Model)));
</script>