﻿@model ElearningApp.Models.Entity.ClassroomPoll_Model
@using NGon
@Html.IncludeNGon()
<div id="programming_poll" class="cls-1902172238">
    @*<div class="app-row">
        <div class="text-small pull-right">
            <span class="color-primary">Fecha y Hora de Registro : </span><span class="color-dark">@Model.Date.ToString("dd/MM/yyyy HH:mm")</span>
        </div>
    </div>*@
    <ul class="ms-timeline-left ml-5">
        @{
            for (var i = 0; i < Model.Questions.Count; i++)
            {
                var question = Model.Questions[i] as List<object>;
                <li class="ms-timeline-left-item wow fadeInUp">
                    <h4 class="font-weight-normal color-dark">@(i + 1). @question[1]</h4>
                    <div data-question="@question[0]"></div>
                </li>
            }
            if (Model.HasComment == "S")
            {
                <li class="ms-timeline-left-item wow fadeInUp">
                    <h4 class="font-weight-normal color-dark">@(Model.Questions.Count + 1). @Model.CommentQuestion</h4>
                    @{
                        if (Model.Source == "Poll")
                        {
                            <div class="row app-form">
                                <div class="col-12">
                                    <div class="form-group mt-0">
                                        <label class="control-label mt-0" for="programming_poll_comment"><span class="text-danger">*</span> | Máximo 200 caracteres</label>
                                        <textarea id="programming_poll_comment" rows="5" class="form-control" maxlength="200"></textarea>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-12">
                                    <div class="cls-1902180013">
                                        @Model.Comment
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </li>
            }
        }
    </ul>
    @{
        if (Model.Source == "Poll")
        {
            <hr class="border-dark" />
            <div class="app-row">
                <span class="small text-dark">Campo requerido (<span class="text-danger">*</span>)</span>
                @Helpers.TagHelper.buttonSave("programming_poll_save")
            </div>
        }
    }
</div>
<script>
    !function(a){var n={};for(var e in"Poll"==a.Source&&$("#programming_poll_save").click(function(e){e.preventDefault(),$(this).trigger("blur");var s=function(){var e={RegisterId:a.RegisterId,HasComment:a.HasComment,CommentQuestion:a.CommentQuestion,Comment:$("#programming_poll_comment").val().trim(),QtnId:[],QtnQuestion:[],QtnOrder:[],QtnScore:[]},s=!1;for(var t in n){var o=n[t].getSelected();if(!o){$.jGrowl("No todas las preguntas han sido respondidas",{header:"Validación"}),s=!0;break}e.QtnId.push(o.question[4]),e.QtnQuestion.push(o.question[1]),e.QtnOrder.push(o.question[2]),e.QtnScore.push(o.value)}if(s)return null;if(0==e.Comment.length)return $.jGrowl("Comentario es campo requerido",{header:"Validación"}),null;if(200<e.Comment.length)return $.jGrowl("Comentario debe ser de longitud menor o igual a 200",{header:"Validación"}),null;return e}();s&&$.daAlert({content:{type:"text",value:"<div class='text-center p-05'>¿Está seguro que desea guardar?</div>"},buttons:[{type:"cancel",fn:function(){return!0}},{type:"save",fn:function(){return $.ajax({data:JSON.stringify(s),url:"/Programming/SaveRegisterPoll",type:"post",dataType:"json",contentType:"application/json; charset=utf-8",beforeSend:function(){gf_addLoadingTo($("#programming_poll_save"))},success:function(e){1e3==parseInt(e.status)?($.jGrowl(e.response,{header:"Información",type:"primary"}),$("#programming_classroom_poll").trigger("click")):($.jGrowl(e.response,{header:"Error",type:"danger",clipboard:e.exception}),gf_removeLoadingTo($("#programming_poll_save")))}}),!0}}],maximizable:!1,title:"Confirmación"})}),a.Questions)n[a.Questions[e][0]]=$("#programming_poll div[data-question="+a.Questions[e][0]+"]").daRanking({dalbaPath:"/assets/dalba",items:[{text:"",data:{value:1,question:a.Questions[e]},emoji:"/assets/site/assets/images/emojis/unhappy.svg"},{text:"",data:{value:2,question:a.Questions[e]},emoji:"/assets/site/assets/images/emojis/sad.svg"},{text:"",data:{value:3,question:a.Questions[e]},emoji:"/assets/site/assets/images/emojis/suspicious.svg"},{text:"",data:{value:4,question:a.Questions[e]},emoji:"/assets/site/assets/images/emojis/smiling.svg"},{text:"",data:{value:5,question:a.Questions[e]},emoji:"/assets/site/assets/images/emojis/happy.svg"}],score:"Poll"==a.Source?null:a.Questions[e][3],readonly:"Poll"!=a.Source});gf_removeLoadingTo($("#programming_classroom_poll"))}(gf_getClone(ngon.Model));
</script>