﻿@model List<object>
<ul class="ms-timeline-left ml-5 mb-0">
    @{
        for (var i = 0; i < Model.Count; i++)
        {
            var question = Model[i] as List<object>;
            <li class="ms-timeline-left-item wow fadeInUp mb-2">
                <h4 class="font-weight-normal color-dark">@(i + 1). @question[1]</h4>
            </li>
        }
    }
</ul>