﻿@using NGon
@Html.IncludeNGon()
<div class="pt-2 pl-2 pr-2 pb-2 app-form">
    <table id="programming_provider_table" class="table table-bordered">
        <thead>
            <tr>
                <th class="align-middle text-ws-normal">RUC</th>
                <th class="align-middle text-ws-normal">Razón Social</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    (function (p_Model) {
        $("#programming_provider_table").daDataTable({
            "DataTable": {
                "ajax": {
                    "url": '@Url.Action("GetProvider", "Programming")',
                    "type": "post",
                    "data": {
                        "AreaId": p_Model.AreaId
                    }
                },
                "aoColumns": [
                    {
                        "data": 0
                    },
                    {
                        "data": 1
                    }
                ],
                "order": [[1, 'asc']],
                "processing": true,
                "bLengthChange": false,
                "iDisplayLength": 10
            },
            "theme": "devexpress",
            "imgProcessing": "/assets/dalba/img/DXR.gif",
            "search": {
                "btn": null
            }
        });
    }(gf_getClone(ngon.Model)));
</script>