﻿@using NGon
@Html.IncludeNGon()
<div class="pt-2 pl-2 pr-2 pb-2 app-form">
    <table id="programming_question_table" class="table table-bordered">
        <thead>
            <tr>
                <th class="align-middle text-ws-normal">Orden</th>
                <th class="align-middle text-ws-normal">Pregunta</th>
                <th class="align-middle text-ws-normal">Tipo</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    (function (p_Model) {
        $("#programming_question_table").daDataTable({
            "DataTable": {
                "ajax": {
                    "url": '@Url.Action("GetQuestion", "Programming")',
                    "type": "post",
                    "data": {
                        "TestId": p_Model.TestId
                    }
                },
                "aoColumns": [
                    {
                        "data": 2,
                        "className": "text-center"
                    },
                    {
                        "data": 0
                    },
                    {
                        "data": 1,
                        "className": "text-center"
                    }
                ],
                "order": [[0, 'asc']],
                "processing": true,
                "bLengthChange": false,
                "iDisplayLength": 10
            },
            "theme": "devexpress",
            "imgProcessing": "/assets/dalba/img/DXR.gif",
            "search": {
                "btn": null
            }
        });
    }(gf_getClone(ngon.Model)));
</script>