﻿@model ElearningApp.Models.Entity.Test_Entity
@using NGon
@Html.IncludeNGon()
<div id="programming_test" class="cls-1812250947">
    @{
        if (Model.Time != "NL")
        {
            <div id="programming_test_countdown_content" class="cls-1901132045">
                <div id="programming_test_countdown_title" class="text-center"></div>
                <div id="programming_test_countdown"></div>
            </div>
        }
    }
    <div class="slideshow-container">
        @{
            for (var i = 0; i < Model.Questions.Count; i++)
            {
                var question = Model.Questions[i] as List<object>;
                <div class="slide cls-1812250947-fade" data-object="slide" data-type="@question[1]" data-prex="@ElearningApp.Models.Helpers.GetBase64Encode(question[0].ToString())">
                    <div class="numbertext">@(i + 1) / @Model.Questions.Count</div>
                    <div class="w-100 cls-1812251404">
                        <p class="text-justify h3 mb-2" data-object="question">
                            @Html.Raw(question[3])
                        </p>
                        @{
                            if (question[1].ToString() == "radio" || question[1].ToString() == "boolean")
                            {
                                <div class="row">
                                    @{
                                        foreach (List<object> answer in question[4] as List<object>)
                                        {
                                            <div class="col-12">
                                                <div class="form-group mt-0">
                                                    <div class="radio radio-primary">
                                                        <label>
                                                            <input type="radio" name="programming_test_question_radio_@question[0]" value="@ElearningApp.Models.Helpers.GetBase64Encode(answer[0].ToString())" data-object="answer"><span class="cls-1901011855">@answer[1]</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                            else if (question[1].ToString() == "checkbox")
                            {
                                <div class="row">
                                    @{
                                        foreach (List<object> answer in question[4] as List<object>)
                                        {
                                            <div class="col-12">
                                                <div class="form-group mt-0">
                                                    <div class="checkbox">
                                                        <label class="cls-1901011936">
                                                            <input type="checkbox" value="@ElearningApp.Models.Helpers.GetBase64Encode(answer[0].ToString())" data-object="answer"><span class="cls-1901011855">@answer[1]</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        }
                        <p data-object="correct">
                        </p>
                    </div>
                </div>
            }
        }
        <a class="prev text-center" data-object="prev" style="display: none;">Anterior</a>
        <a class="next text-center" data-object="next">Siguiente</a>
    </div>
    @*<div class="text-center">
            @{
                for (var i = 0; i < Model.Questions.Count; i++)
                {
                    <span class="dot" data-object="dot" data-dot="@(i + 1)"></span>
                }
            }
        </div>*@
    <div class="text-center">
        <a id="programming_test_finish" href="javascript:void(0)" class="btn btn-primary btn-raised btn-app" style="display: none;">
            <div class="btn-container">
                <i class="zmdi zmdi-check-all"></i>
                <span>Terminar</span>
                <br>
                <strong>Examen</strong>
            </div>
        </a>
        <a id="programming_test_finish_hidden" href="javascript:void(0)" class="d-none"></a>
    </div>
    @{
        if (Model.Time == "TE")
        {
            <a id="programming_test_save_current_time" href="javascript:void(0)" class="d-none"></a>
        }
    }
</div>
<script>
    !function (r) {
        var o, i, a, s, c, d, u; function t() { $.ajax({ data: JSON.stringify({ register: window.cHJvZ3JhbW1pbmdfY2xhc3Nyb29tX3JlZ2lzdGVy, item: window.cHJvZ3JhbW1pbmdfY2xhc3Nyb29tX2xvZw }), url: "/Programming/SaveClassroomLog", type: "post", dataType: "json", contentType: "application/json; charset=utf-8" }) } function n() { $.ajax({ data: JSON.stringify({ Id: r.AttemptId, Seconds: c.getTime() + r.CurrentTime }), url: "/Programming/SaveAttemptCurrentTime", type: "post", dataType: "json", contentType: "application/json; charset=utf-8" }) } function l() {
        gf_addLoadingTo($("#programming_test_finish")), m(); var e = { Id: r.AttemptId, Seconds: 0, Time: r.Time }; "TE" == r.Time && (e.Seconds = c.getTime() + r.CurrentTime), $.ajax({
            data: JSON.stringify(e), url: "/Programming/SaveAttempt", type: "post", async: !1, dataType: "json", contentType: "application/json; charset=utf-8", success: function (r) {
                if (r.status == 5) {
                    var html = r.response[0][0].replace("{tag_name}", r.response[0][1]).replace("{tag_fecha}", r.response[0][4]).replace("{tag_fecha_capacitacion}", r.response[0][4]).replace("{tag_dni}", r.response[0][2]).replace("{tag_empresa}", r.response[0][3]);
                    $("#modal-dec-jur-container").html(html); $(".modal-dec-jur").removeClass("d-block-none"); } } }), "TE" == r.Time && (c.destroy(), $("#programming_test_countdown_content").remove()), $("#programming_classroom_content").load("/Programming/AttemptFinalized/" + gf_encode(r.AttemptId), function (e, t, n) { if ("error" == t) { $("#programming_classroom_content").html("Sorry but there was an error: " + n.status + " " + n.statusText) } }) } function p(e) { "A" == r.Proceed && s && (s.off("change", "input[data-object=answer]"), s.off("change", "select[data-object=answer]")), m(); var t = $("#programming_test div[data-object=slide]").length, n = t < e ? 1 : e < 1 ? t : e; $("#programming_test div[data-object=slide]").hide(), $("#programming_test div[data-object=slide]").eq(n - 1).show(), $("#programming_test span[data-object=dot]").removeClass("active"), $("#programming_test span[data-object=dot]").eq(n - 1).addClass("active"), o = n, s = $("#programming_test div[data-object=slide]").eq(n - 1), function () { var t = null; if ($.ajax({ data: JSON.stringify({ id: gf_decode(s.attr("data-prex")) }), url: "/Programming/GetAttemptQuestion", type: "post", dataType: "json", async: !1, contentType: "application/json; charset=utf-8", success: function (e) { 1 == e.status ? t = e.response : $.jGrowl(e.response, { header: "Error", type: "danger", clipboard: e.exception }) } }), t) { var n = t[1], e = s.attr("data-type"); "radio" == e || "boolean" == e || "checkbox" == e ? s.find("input[data-object=answer]").each(function () { var e = gf_decode($(this).val()); for (var t in n) if (n[t][0] == e) { $(this).prop("checked", !0); break } }) : "completar" == e && s.find("select[data-object=answer]").each(function (e) { for (var t in n) n[t][1] == e + 1 && $(this).val(n[t][0]).trigger("change") }) } "TP" == r.Time && (a = 60 * r.TimeLimit, $("#programming_test_countdown_title").text("Para terminar la pregunta"), c = $("#programming_test_countdown").dsCountDown({ startDate: moment().toDate(), endDate: moment().add(a, "seconds").toDate(), elemSelDays: !1, theme: "black", titleHours: "Hora", titleMinutes: "Minutos", titleSeconds: "Segundos", onFinish: function (e) { d ? l() : p(o + 1) } })); var a }(), (u = 1 == n) ? $("#programming_test a[data-object=prev]").hide() : $("#programming_test a[data-object=prev]").show(), (d = n == t) ? ($("#programming_test a[data-object=next]").hide(), $("#programming_test_finish").show()) : ($("#programming_test a[data-object=next]").show(), $("#programming_test_finish").hide()), a.afterResponse() } function m() { if (s) { var e = s.attr("data-type"), n = { Id: gf_decode(s.attr("data-prex")), Seconds: 0, Answered: "N", Time: r.Time, AnswerId: [], AnswerOrder: [] }; if ("TE" != r.Time && "TP" != r.Time || (n.Seconds = c.getTime() + ("TE" == r.Time ? r.CurrentTime : 0)), "radio" == e || "boolean" == e || "checkbox" == e) s.find("input[data-object=answer]:checked").each(function () { n.AnswerId.push(gf_decode($(this).val())), n.AnswerOrder.push(0) }), n.Answered = 0 == s.find("input[data-object=answer]:checked").length ? "N" : "S"; else if ("completar" == e) { var a = !0; s.find("select[data-object=answer]").each(function (e) { var t = $(this).val(); gf_isValue(t) && "0" != t ? (n.AnswerId.push(t), n.AnswerOrder.push(e + 1)) : a = !1 }), n.Answered = a ? "S" : "N" } 0 == n.AnswerId.length && (n.AnswerId.push(-1), n.AnswerOrder.push(-1)), $.ajax({ data: JSON.stringify(n), url: "/Programming/SaveAttemptQuestion", type: "post", async: !1, dataType: "json", contentType: "application/json; charset=utf-8" }), "TP" == r.Time && (c.destroy(), d && $("#programming_test_countdown_content").remove()) } } $.material.init({ radioElements: "#programming_test input[type=radio]", checkboxElements: "#programming_test input[type=checkbox]" }), $("#programming_test div[data-object=slide] p[data-object=question]").on("change", "select", function () { var o = $(this).attr("data-prex"), r = []; $(this).closest("p[data-object=question]").find("select").each(function () { gf_isValue($(this).val()) && r.push($(this).val()), $(this).data("lastValue", $(this).val()), $(this).find("option").remove() }), $(this).closest("p[data-object=question]").find("select").each(function () { var e = i[o], t = $(this), n = $(this).data("lastValue"); for (var a in e) gf_inArray(e[a].value, r) && "0" != e[a].value ? e[a].value == n && t.append('<option value="' + e[a].value + '">' + e[a].text + "</option>") : t.append('<option value="' + e[a].value + '">' + e[a].text + "</option>"); t.val(n) }) }), $("#programming_test_finish").click(function (e) { e.preventDefault(), $(this).trigger("blur"), $.daAlert({ content: { type: "text", value: '<div class="text-center p-05">¿Está seguro que desea Terminar el Examen?</div>' }, buttons: [{ type: "cancel", fn: function () { return !0 } }, { type: "accept", fn: function (e, t) { return l(), !0 } }], maximizable: !1, title: "Confirmación" }) }), $("#programming_test_finish_hidden").click(function (e) { e.preventDefault(), l() }), $("#programming_test_save_current_time").click(function (e) { e.preventDefault(), n() }), $("#programming_test a[data-object=prev]").click(function (e) { e.preventDefault(), a.prev() && !u && p(o - 1) }), $("#programming_test a[data-object=next]").click(function (e) { e.preventDefault(), a.next() && !d && p(o + 1) }), function () { for (var e in i = {}, r.Questions) if ("completar" == r.Questions[e][1]) { var t = [{ value: 0, text: "" }], n = r.Questions[e][3], a = '<select class="cls-1901012048" data-object="answer" data-prex="' + r.Questions[e][0] + '">'; for (var o in a += '<option value="0"></option>', r.Questions[e][4]) t.push({ value: r.Questions[e][4][o][0], text: r.Questions[e][4][o][1] }), a += '<option value="' + r.Questions[e][4][o][0] + '">' + r.Questions[e][4][o][1] + "</option>"; i[r.Questions[e][0]] = t, a += "</select>", n = gf_replaceAll(n, "{select_of_answer}", a), $("#programming_test div[data-object=slide][data-prex='" + gf_encode(r.Questions[e][0]) + "'] p[data-object=question]").html(n), $("#programming_test div[data-object=slide][data-prex='" + gf_encode(r.Questions[e][0]) + "'] p[data-object=question] select").val(0) } }(), function () { if (a = { next: null, prev: null, dot: null, afterResponse: null }, "R" == r.TestType ? (a.next = function () { var e = s.attr("data-type"); if ("radio" == e || "boolean" == e) return 1 == (t = s.find("input[data-object=answer]:checked").length) || ($.jGrowl("Debe seleccionar una respuesta", { header: "Validación" }), !1); if ("checkbox" == e) return 1 <= (t = s.find("input[data-object=answer]:checked").length) || ($.jGrowl("Debe seleccionar por lo menos una respuesta", { header: "Validación" }), !1); if ("completar" == e) { var t = !0; return s.find("select[data-object=answer]").each(function () { var e = $(this).val(); if (!gf_isValue(e) || "0" == e) return t = !1 }), !!t || ($.jGrowl("Debe completar todos los espacios en blanco", { header: "Validación" }), !1) } }, a.prev = function () { return !0 }, a.dot = function () { return !1 }, a.afterResponse = function () { }) : "S" == r.TestType ? (a.next = function () { return !0 }, a.prev = function () { return !0 }, a.dot = function () { return !0 }, a.afterResponse = function () { }) : "T" == r.TestType && (a.next = function () { return !0 }, a.prev = function () { return !0 }, a.dot = function () { return !0 }, a.afterResponse = function () { }), "A" == r.Proceed ? a.afterResponse = function () { var e = s.attr("data-type"); "radio" == e || "boolean" == e ? s.on("change", "input[data-object=answer]", function () { d ? l() : p(o + 1) }) : "completar" == e && s.on("change", "select[data-object=answer]", function () { var t = !0; s.find("select[data-object=answer]").each(function () { var e = $(this).val(); if (!gf_isValue(e) || "0" == e) return t = !1 }), t && (d ? l() : p(o + 1)) }) } : "M" == r.Proceed && (a.afterResponse = function () { }), "NL" == r.Time) window.onbeforeunload = function () { return t(), null }; else if ("TE" == r.Time) { var e = 60 * r.TimeLimit - r.CurrentTime; $("#programming_test_countdown_title").text("Para terminar el examen"), c = $("#programming_test_countdown").dsCountDown({ startDate: moment().toDate(), endDate: moment().add(e, "seconds").toDate(), elemSelDays: !1, theme: "black", titleHours: "Hora", titleMinutes: "Minutos", titleSeconds: "Segundos", onFinish: function (e) { l() } }), window.onbeforeunload = function () { return n(), t(), null } } else "TP" == r.Time && (window.onbeforeunload = function () { return t(), null }) }(), function () { for (var e = 1, t = 0; t < r.Questions.length; t++)if ("S" == r.Questions[t][2]) { e = t + 1; break } p(e) }() }(gf_getClone(ngon.Model));
</script>