﻿@{
    Layout = null;
}
@using NGon
@Html.IncludeNGon()
<div class="pt-2 pl-2 pr-2 pb-2 app-form">
    <table id="programming_viewregistermassive_table" class="table table-bordered">
        <thead>
            <tr>
                <th>Empleado</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    (function (p_model) {
        $('#programming_viewregistermassive_table').daDataTable({
            'DataTable': {
                'data': p_model.Persons,
                'aoColumns': [
                    {
                        'data': 3,
                        'className': "text-left"
                    }
                ],
                'order': [[0, 'asc']],
                'processing': true,
                'bLengthChange': false,
                'iDisplayLength': 10
            },
            'theme': 'devexpress',
            'imgProcessing': '/assets/dalba/img/DXR.gif',
            'search': {
                'btn': null
            }
        });
    }(gf_getClone(ngon.Model)));
</script>