﻿@model ElearningApp.Models.Entity.Course_Entity
@{
    ViewBag.title = "Curso :: Aula";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb app-has-ms-paper-menu">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("Index", "Course")">Curso</a></li>
            <li><a href="@Url.Action("Presentation", "Course", new { id = ElearningApp.Models.Helpers.GetBase64Encode(Convert.ToString(Model.Id)) })">Presentación</a></li>
            <li><a href="javascript:void(0)" class="active">Aula</a></li>
        </ul>
    </div>
    <div class="ms-paper">
        <div class="row">
            <div class="col-lg-3 ms-paper-menu-left-container">
                <div class="ms-paper-menu-left">
                    <h3 class="ms-paper-menu-title">
                        <i class="zmdi zmdi-apps"></i> @Model.Name
                        <a role="button" data-toggle="collapse" href="#programming_classroom_collapseMenu" aria-expanded="false" aria-controls="programming_classroom_collapseMenu" class="withripple">
                            <i class="zmdi zmdi-menu"></i>
                        </a>
                    </h3>
                    <div class="panel-menu collapse" id="programming_classroom_collapseMenu">
                        <ul class="panel-group ms-collapse-nav" id="programming_classroom_themes_nav" role="tablist" aria-multiselectable="true">
                            @{
                                foreach (List<object> theme in Model.Themes)
                                {
                                    <li class="card" role="tab" id="programming_classroom_theme_@theme[0]">
                                        <a role="button" data-toggle="collapse" href="#programming_classroom_theme_content_@theme[0]" aria-expanded="true" aria-controls="programming_classroom_theme_content_@theme[0]" class="collapsed withripple">
                                            <i class="fa fa-folder-o"></i> @theme[1]
                                        </a>
                                        <ul id="programming_classroom_theme_content_@theme[0]" class="panel-collapse collapse" role="tabpanel" aria-labelledby="programming_classroom_theme_@theme[0]" data-parent="#programming_classroom_themes_nav">
                                            @{
                                                foreach (List<object> content in (theme[2] as List<Object>))
                                                {
                                                    <li>
                                                        <a class="withripple cls-1812241515" href="javascript:void(0)" data-object="content" data-content="@content[7]">
                                                            @content[3] - @content[1]
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                                <li>
                                    <a id="programming_classroom_test" class="link" href="javascript:void(0)">
                                        <i class="icon ion-md-list-box"></i> Examen
                                    </a>
                                </li>
                                <li>
                                    <a id="programming_classroom_poll" class="link position-relative" href="javascript:void(0)">
                                        <i class="fa fa-star-half-empty"></i> Encuesta
                                    </a>
                                </li>
                                <li>
                                    <a id="programming_classroom_certificate" class="link position-relative" href="javascript:void(0)">
                                        <i class="glyphicon glyphicon-bookmark"></i> Constancia
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 ms-paper-content-container">
                <div class="ms-paper-content">
                    <h4 id="programming_classroom_content_title" class="cls-1812241634"></h4>
                    <div id="programming_classroom_content" class="position-relative cls-1812241718">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/course/classroom.js?v=@ViewBag.app_version"></script>
}
