﻿@{
    ViewBag.title = "Curso :: Nuevo";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("Index", "Course")">Curso</a></li>
            <li><a href="javascript:void(0)" class="active">Nuevo</a></li>
        </ul>
    </div>
    <div class="card animated slideInUp animation-delay-8">
        <ul class="nav nav-tabs shadow-2dp" role="tablist">
            <li class="nav-item">
                <a class="nav-link withoutripple active" href="#generaldata" aria-controls="generaldata" role="tab" data-toggle="tab">
                    <i class="zmdi zmdi-home"></i>
                    <span class="d-none d-sm-inline">Datos Generales</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link withoutripple" href="#contents" aria-controls="contents" role="tab" data-toggle="tab">
                    <i class="zmdi zmdi-account"></i>
                    <span class="d-none d-sm-inline">Contenidos</span>
                </a>
            </li>
        </ul>
        <div class="card-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active show" id="generaldata">
                    <form id="course_create_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
                        <h4 class="right-line right-line-white cls-1812051504">Datos Generales</h4>
                        <div class="row">
                            <div class="col-12 col-sm-10">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="course_create_name"><span class="text-dark">Nombre</span> <span class="text-danger">*</span> | Máximo 200 caracteres</label>
                                    <input id="course_create_name" type="text" maxlength="200" class="form-control" data-presave-object="Nombre" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-2">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="course_create_status"><span class="text-dark">Activo</span></label>
                                    <div class="togglebutton">
                                        <label>
                                            <input id="course_create_status" type="checkbox" checked>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group mt-0">
                                    <label class="control-label"><span class="text-dark">Área</span></label>
                                    <input type="text" class="form-control pointer-events-none no-color-disabled" value="@ElearningApp.Models.SessionHelpers.GetProfile().AreaDescription" disabled>
                                </div>
                                <div class="form-group mt-0">
                                    <label class="control-label" for="course_create_category"><span class="text-dark">Categoría</span> <span class="text-danger">*</span></label>
                                    <select id="course_create_category" class="form-control" data-live-search="true" data-dropup-auto="false" data-presave-object="Categoría"></select>
                                </div>
                                <div class="form-group mt-0">
                                    <label class="control-label"><span class="text-dark">Clasificación</span> <span class="text-danger">*</span></label>
                                    <div class="row mt-1">
                                        <div class="col-6">
                                            <div class="radio radio-primary">
                                                <label>
                                                    <input id="course_create_clasification_t" type="radio" name="clasification" value="T" checked> <span class="radio-text text-dark small">Transversal</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="radio radio-primary">
                                                <label>
                                                    <input id="course_create_clasification_e" type="radio" name="clasification" value="E"> <span class="radio-text text-dark small">Específico</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="right-line right-line-white cls-1812051504 mb-0">Vigencia</h4>
                                @*<hr class="mb-0 mt-05" />*@
                                <div class="row">
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group mt-0 cls-1812131645">
                                            <div class="togglebutton">
                                                <label>
                                                    <input id="course_create_has_validity" type="checkbox"> <span class="text-dark small">Vigencia</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-8">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="course_create_validity"><span class="text-dark">Periódo de Vigencia</span> <span class="text-danger">*</span> | Número entero no menor a uno</label>
                                            <div class="input-group">
                                                <input id="course_create_validity" type="number" class="form-control mb-0" min="0" aria-label="" data-presave-object="Periódo de Vigencia">
                                                <div class="input-group-append cls-1812071124">
                                                    <select id="course_create_validity_scale" class="form-control selectpicker cls-1812071135" data-live-search="true" data-dropup-auto="false">
                                                        <option value="M" selected>Mes</option>
                                                        <option value="A">Año</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mb-0 mt-05" />
                                @*<div class="form-group mt-0">
                                        <label class="control-label" for="course_create_publish"><span class="text-dark">Publicar</span></label>
                                        <div class="togglebutton">
                                            <label>
                                                <input id="course_create_publish" type="checkbox">
                                            </label>
                                        </div>
                                    </div>*@
                            </div>
                            <div class="col-12 col-sm-6">
                                @*<h4 class="right-line right-line-white cls-1812051504">Imagen</h4>*@
                                <div class="form-group mt-0">
                                    <label class="control-label" for="course_create_image"><span class="text-dark">Imagen</span> <span class="text-danger">*</span></label>
                                    <input id="course_create_image_display" type="text" readonly class="form-control" placeholder="Seleccionar..." data-presave-object="Imagen" />
                                    <input id="course_create_image" type="file" title=" " />
                                </div>
                                <figure class="ms-thumbnail ms-thumbnail-diagonal card cls-1810071216">
                                    <img id="course_create_image_preview" src="~/assets/app/img/no-image-icon.svg" alt="" class="img-fluid cls-1810071157" />
                                    <figcaption class="ms-thumbnail-caption text-center">
                                        <div class="ms-thumbnail-caption-content">
                                            <h3 id="course_create_image_notification" class="ms-thumbnail-caption-title">Ninguna imagen seleccionada</h3>
                                            <div class="mt-2">
                                                <a id="course_create_image_btn_add" href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-primary">
                                                    <i class="zmdi zmdi-plus"></i>
                                                </a>
                                                <a id="course_create_image_btn_remove" href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger" style="display: none;">
                                                    <i class="zmdi zmdi-close"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-12">
                                <div class="form-group mt-0">
                                    <label class="control-label"><span class="text-dark">Descripción de portada</span> <span class="text-danger">*</span></label>
                                    <div class="cls-1901022021">
                                        <div id="course_create_front_page"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group mt-0">
                                    <label class="control-label"><span class="text-dark">Objetivos</span> <span class="text-danger">*</span></label>
                                    <div id="course_create_objetives"></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group mt-0">
                                    <label class="control-label"><span class="text-dark">Resumen</span> <span class="text-danger">*</span></label>
                                    <div id="course_create_summary"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="contents">
                    <div class="row">
                        <div class="col-12">
                            <div class="app-row">
                                <a id="course_create_new_theme" href="javascript:void(0)" class="btn btn-raised btn-primary pull-right m-0"><i class="fa fa-plus"></i>  Nuevo Tema</a>
                            </div>
                            <div class="ms-collapse app-form" id="course_create_theme_accordion" role="tablist" aria-multiselectable="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-dark" />
            <div class="app-row mt-2">
                <span class="small text-dark">Campo requerido (<span class="text-danger">*</span>)</span>
                @Helpers.TagHelper.buttonSave("course_create_save")
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/summernote/summernote.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/summernote/summernote.js"></script>
    <script src="~/bower_components/summernote/lang/summernote-es-ES.js"></script>
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/course/create.js?v=@ViewBag.app_version"></script>
}