﻿@{
    ViewBag.Title = "Curso";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb app-has-ms-paper-menu">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="javascript:void(0)" class="active">Curso</a></li>
        </ul>
    </div>
    <div class="ms-paper">
        <div class="row">
            <div class="col-lg-3 ms-paper-menu-left-container">
                <div class="ms-paper-menu-left">
                    <h3 class="ms-paper-menu-title">
                        <i class="zmdi zmdi-apps"></i> Clasificación
                        <a role="button" data-toggle="collapse" href="#course_index_collapseMenu" aria-expanded="false" aria-controls="course_index_collapseMenu" class="withripple">
                            <i class="zmdi zmdi-menu"></i>
                        </a>
                    </h3>
                    <div class="panel-menu collapse" id="course_index_collapseMenu">
                        <ul class="panel-group ms-collapse-nav" role="tablist" aria-multiselectable="true">
                            <li>
                                <a class="withripple active" href="javascript:void(0)" data-classification="especifico">
                                    <i class="fa fa-hand-o-up"></i> Específico
                                </a>
                            </li>
                            <li>
                                <a class="withripple" href="javascript:void(0)" data-classification="transversal">
                                    <i class="fa fa-briefcase"></i> Transversal
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="course_index_container" class="col-lg-9 ms-paper-content-container">
                <div class="ms-paper-content" data-classification="especifico">
                    <div class="app-row mb-5">
                        <h1 class="pull-left m-0">Específico</h1>
                        <div class="pull-right">
                            @Helpers.TagHelper.buttonNew(@Url.Action("Create", "Course"))
                        </div>
                    </div>
                    <div class="app-form">
                        <table id="course_index_especifico" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Categoría</th>
                                    <th>Nombre</th>
                                    <th>Área</th>
                                    <th>Resumen</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="ms-paper-content" data-classification="transversal" style="display: none;">
                    <div class="app-row mb-5">
                        <h1 class="pull-left m-0">Transversal</h1>
                        <div class="pull-right">
                            @Helpers.TagHelper.buttonNew(@Url.Action("Create", "Course"))
                        </div>
                    </div>
                    <div class="app-form">
                        <table id="course_index_transversal" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Categoría</th>
                                    <th>Nombre</th>
                                    <th>Área</th>
                                    <th>Resumen</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/course/index.js?v=@ViewBag.app_version"></script>
}