﻿@model ElearningApp.Models.Entity.Course_Entity
@{
    ViewBag.title = "Curso :: Presentación";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@*<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>*@
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("Index", "Course")">Curso</a></li>
            <li><a href="javascript:void(0)" class="active">Presentación</a></li>
        </ul>
    </div>
</div>
<header class="ms-hero-page ms-hero-img-elearning ms-hero-bg-dark color-white mt-0">
    <div class="container index-1">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="text-uppercase animated fadeInDown animation-delay-5">
                    @Model.Name
                </h1>
                <div class="lead lead-sm animated fadeInLeft animation-delay-7 color-light">
                    @Html.Raw(Model.FrontPage)
                </div>
            </div>
            <div class="col-lg-6 text-center mt-4">
                <div class="img-phone-container">
                    <img class="img-fluid animated zoomInDown animation-delay-3 index-1 cls-1812310350" src="@Model.ImageUrl">
                </div>
            </div>
            <div class="col-lg-6 mt-2">
                <div class="text-left ms-margin">
                    <div class="wow flipInX animation-delay-5 color-white">
                        <span class="small">Área : </span>
                        <strong>@Model.Area</strong>
                    </div>
                    <div class="wow flipInX animation-delay-5 color-white">
                        <span class="small">Categoría : </span>
                        <strong>@Model.Category</strong>
                    </div>
                    @*<div class="wow flipInX animation-delay-5 color-white">
                            <span class="small">Clasificación : </span>
                            <strong>@Model.Classification</strong>
                        </div>*@
                </div>
            </div>
            <div class="col-lg-6 mt-2">
                <div class="text-center ms-margin">
                    <a href="@Url.Action("Classroom", "Course", new { id = ElearningApp.Models.Helpers.GetBase64Encode(Convert.ToString(Model.Id))})" class="btn btn-raised btn-primary wow flipInX animation-delay-5 animate-icon">
                        Ir al aula <i class="zmdi zmdi-long-arrow-right no-mr ml-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container container-full animated slideInUp animation-delay-8 app-container">
    <div class="card">
        <div class="card-body">
            <div class="row mt-2">
                <div class="col-12 col-sm-6 mb-2">
                    <div class="ms-icon-feature wow flipInX animation-delay-4">
                        <div class="ms-icon-feature-icon">
                            <span class="ms-icon ms-icon-lg ms-icon-inverse">
                                <i class="icon ion-md-thumbs-up"></i>
                            </span>
                        </div>
                        <div class="ms-icon-feature-content">
                            <h4 class="color-primary">Objetivos</h4>
                            <div>
                                @Html.Raw(Model.Objetives)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 mb-2">
                    <div class="ms-icon-feature wow flipInX animation-delay-4">
                        <div class="ms-icon-feature-icon">
                            <span class="ms-icon ms-icon-lg ms-icon-inverse">
                                <i class="icon ion-ios-albums"></i>
                            </span>
                        </div>
                        <div class="ms-icon-feature-content">
                            <h4 class="color-primary">Resumen</h4>
                            <div>
                                @Html.Raw(Model.Summary)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="wow flipInX animation-delay-4">
                        <h4 class="right-line right-line-white mt-0 cls-1812051504">Contenido del curso</h4>
                        <div class="ms-collapse" id="programming_presentation_accordion" role="tablist" aria-multiselectable="true">
                            @{
                                foreach (List<object> theme in Model.Themes)
                                {
                                    <div class="mb-0 card card-default">
                                        <div class="card-header cls-1812210139" role="tab" id="programming_presentation_heading_@theme[0]">
                                            <h4 class="card-title ms-rotate-icon">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#programming_presentation_collapse_@theme[0]" aria-expanded="false" aria-controls="programming_presentation_collapse_@theme[0]">
                                                    <i class="icon ion-md-reorder"></i> @theme[1]
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="programming_presentation_collapse_@theme[0]" class="card-collapse collapse cls-1812210019" role="tabpanel" aria-labelledby="programming_presentation_heading_@theme[0]" data-parent="#programming_presentation_accordion">
                                            <div class="card-body border-0">
                                                <ul class="mb-0">
                                                    @{
                                                        foreach (List<object> content in (@theme[2] as List<Object>))
                                                        {
                                                            <li class="app-row mb-05">@content[1]</li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="wow flipInX animation-delay-4">
                        <h4 class="right-line right-line-white mt-0 cls-1812051504">Programación</h4>
                        <table class="cls-1812210149">
                            <tbody>
                                <tr>
                                    <td class="text-center p-10">
                                        <span class="small">Información de la Programación</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}