﻿@model List<ElearningApp.Models.Entity.CarrierPrograms_Model>
@{
    ViewBag.Title = "Conductor :: Inicio";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="material-background ms-hero-img-carrier ms-hero-bg-app"></div>
<div class="container app-container">
    <div class="card">
        <div class="card-body p-5">
            @{
                if (Model.Count == 0)
                {
                    <h1 class="mt-0">Programación No Encontrada</h1>
                    <p>
                        Ninguna Programación para este día
                    </p>
                }
                else
                {
                    <h1 class="mt-0">Programaciones</h1>
                    <p>
                        Seleccione de la lista a la Programación que desea Ir
                    </p>
                    <div class="row">
                        <div class="col-12">
                            <div class="list-group border border-top-0 border-bottom-0">
                                @{
                                    foreach (ElearningApp.Models.Entity.CarrierPrograms_Model program in Model)
                                    {
                                        <a href="@Url.Action("Classroom", "Programming", new { id =  ElearningApp.Models.Helpers.GetBase64Encode(Convert.ToString(program.ProgrammingId))})" class="list-group-item list-group-item-action withripple">
                                            <i class="color-primary zmdi zmdi-check"></i> @program.Name
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>