﻿@model ElearningApp.Models.Entity.HomeIndex_Model
@{
    var l_notices = Model.Notices.Count() != 0;
    ViewBag.Title = "Inicio";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
@{
    if (ElearningApp.Models.SessionHelpers.IsAuthenticated())
    {
        <div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
    }
    else
    {
        <div class="material-background"></div>
    }
}
<div class="container app-container">
    @{
        if (ElearningApp.Models.SessionHelpers.IsAuthenticated())
        {
            <div class="row">
                <div class="col-12 @(l_notices ? "col-md-9" : "")">
                    <div class="card">
                        <div class="row no-m">
                            <div class="col-12 no-pr no-pl bg-primary">
                                <ul class="nav nav-tabs nav-tabs-primary indicator-light nav-tabs-full nav-tabs-4" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link withoutripple no-pl no-pr filter @(Model.IsPerson ? "active": "")" data-filter="all" href="#all" aria-controls="all" role="tab" data-toggle="tab">
                                            Todo
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link withoutripple no-pl no-pr filter" data-filter=".category-public" href="#catpublic" aria-controls="catpublic" role="tab" data-toggle="tab">
                                            Público
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link withoutripple no-pl no-pr filter @(Model.IsProvider ? "active": "")" data-filter=".category-protected" href="#catprotected" aria-controls="catprotected" role="tab" data-toggle="tab">
                                            Restringido
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link withoutripple no-pl no-pr filter" data-filter=".category-private" href="#catprivate" aria-controls="catprivate" role="tab" data-toggle="tab">
                                            Privado
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row text-center" id="Container">
                                @{
                                    foreach (ElearningApp.Models.Entity.MyCourses_Model course in Model.Courses)
                                    {
                                        <div class="@(l_notices ? "col-lg-4" : "col-lg-3") col-md-4 col-sm-6 mix @course.FilterClass">
                                            <div class="card card-primary cls-1901120847">
                                                <div class="card-body overflow-hidden text-center cls-1812310038" data-app="popover" data-pcur="@course.ProgrammingId">
                                                    <div class="ribbon ribbon-top-left @course.FilterClass"><span>@course.AccessType</span></div>
                                                    @{
                                                        if (ElearningApp.Models.SessionHelpers.GetUser().PersonId != 0 && course.Registered == 1)
                                                        {
                                                            <div class="half-circle-ribbon">
                                                                <span class="glyphicon glyphicon-ok cls-1812310137"></span>
                                                            </div>
                                                        }
                                                    }
                                                    <div class="position-relative cls-1812261600">
                                                        <img src="@course.CourseImageUrl" alt="" class="img-fluid center-block app-center">
                                                    </div>
                                                    <h4 class="cls-1812301259">
                                                        <strong>
                                                            @course.CourseName
                                                        </strong>
                                                    </h4>
                                                    <a href="@Url.Action("Presentation", "Programming", new { id = ElearningApp.Models.Helpers.GetBase64Encode(course.ProgrammingId.ToString())})" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb animate-icon">
                                                        Ingresar <i class="zmdi zmdi-long-arrow-right no-mr ml-1"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @if (l_notices)
                {
                    <div class="col-12 col-md-3">
                        <div class="card">
                            <div id="home_index_slider_arrows" class="position-relative text-left ms-hero-bg-app ms-hero-img-keyboard cls-1903201551">
                                <span class="position-absolute text-white cls-1904051701">Anuncios</span>
                            </div>
                        </div>
                        <section id="home_index_slider" class="slider mt-0 cls-1903221127">
                            @{
                                foreach (var notice in Model.Notices)
                                {
                                    <div>
                                        <iframe src="@notice.Url" class="w-100 cls-1903201538"></iframe>
                                    </div>
                                }
                            }
                        </section>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="row">
                @{
                    foreach (ElearningApp.Models.Entity.MyCourses_Model course in Model.Courses)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="card ms-feature card-primary wow fadeInLeft animation-delay-4 cls-1901120847">
                                <div class="card-body overflow-hidden text-center cls-1812310038" data-app="popover" data-pcur="@course.ProgrammingId">
                                    <div class="ribbon ribbon-top-left @course.FilterClass"><span>@course.AccessType</span></div>
                                    <div class="position-relative cls-1812261600">
                                        <img src="@course.CourseImageUrl" alt="" class="img-fluid center-block app-center">
                                    </div>
                                    <h4 class="cls-1812301259">
                                        <strong>
                                            @course.CourseName
                                        </strong>
                                    </h4>
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb animate-icon" onclick="gf__layout_login_modal(this, '@Url.Action("Presentation", "Programming", new { id = ElearningApp.Models.Helpers.GetBase64Encode(course.ProgrammingId.ToString()) })')">
                                        Ingresar <i class="zmdi zmdi-long-arrow-right no-mr ml-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        }
    }
</div>
@section styles{
    <link href="~/bower_components/slick-1.8.1/slick.css" rel="stylesheet" />
    <link href="~/bower_components/slick-1.8.1/slick-theme.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/slick-1.8.1/slick.min.js"></script>
    <script src="~/assets/site/home/index.js?v=@ViewBag.app_version"></script>
}