﻿
.listitems {
    border-radius: 7px;
}

.breadcrumb-item.active {
    color: #013145 !important;
}

.breadcrumb-item a{
    color: #fff !important;
}

.breadcrumb-item a:hover {
    color: #013145 !important;
}

.ms-carousel .carousel-caption-blog {
    position: absolute;
    background-color: rgba(0,0,0,0.8) !important;
}


.filter-option-inner-inner{
    font-size:20px !important;
}

#group_filter .form-group{
    margin-top:5px;
    width:250px;
}