﻿@model ElearningApp.Models.Entity.Dashboard1RegisteredDetail_Model
<div class="cls-1901280058">
    <div class="row">
        <div class="col-lg-6 col-12">
            <table class="table table-bordered mb-0">
                <tbody>
                    <tr>
                        <td rowspan="@(Model.PersonType == "E" ? "2":"1")" class="cls-1901280900">
                            @{
                                if (Model.PersonPhoto == "")
                                {
                                    <img src="~/assets/app/img/default.png" class="cls-1901280906" />
                                }
                                else
                                {
                                    <img src="@Model.PersonPhoto" class="cls-1901280906" />
                                }
                            }
                        </td>
                        <td>
                            <div class="h5 color-primary">DATOS PERSONALES</div>
                            <table class="w-100 mb-0 cls-1901280925">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-bold" style="width: 150px;">Apellido Paterno :</td>
                                        <td>@Model.PersonLastName1</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold" style="width: 150px;">Apellido Materno :</td>
                                        <td>@Model.PersonLastName2</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold" style="width: 150px;">Nombres :</td>
                                        <td>@Model.PersonFirstName</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold" style="width: 150px;">Correo Electrónico :</td>
                                        <td>@Model.PersonEmail</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    @{
                        if (Model.PersonType == "E")
                        {
                            <tr>
                                <td>
                                    <div class="h5 color-primary">DATOS PROVEEDOR</div>
                                    <table class="w-100 mb-0 cls-1901280925">
                                        <tbody>
                                            <tr>
                                                <td class="font-weight-bold" style="width: 150px;">Código SAP :</td>
                                                <td>@Model.ProviderSAPCode</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold" style="width: 150px;">RUC :</td>
                                                <td>@Model.ProviderRuc</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold" style="width: 150px;">Razón Social :</td>
                                                <td>@Model.ProviderBusinessName</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold" style="width: 150px;">Correo Electrónico :</td>
                                                <td>@Model.ProviderEmail</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-12">
            <table class="table table-bordered mb-0">
                <tbody>
                    <tr>
                        <td>
                            <div class="h5 color-primary">DATOS EXAMEN</div>
                            <table class="w-100 mb-0 cls-1901280925">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-bold" style="width: 150px;">Total de Intentos :</td>
                                        <td>@Model.TotalAttempts</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold" style="width: 150px;">Nota de Aprobado :</td>
                                        <td>@(Model.ApproveScore == -1 ? "" : Convert.ToString(Model.ApproveScore))</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="h5 color-primary">INTENTOS</div>
                            <table class="table-striped w-100 mb-0 bg-white cls-1901281738">
                                <thead>
                                    <tr>
                                        <th>FECHA INICIO</th>
                                        <th>FECHA FIN</th>
                                        <th>NOTA</th>
                                        <th>ESTADO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (List<object> attempt in Model.Attempts)
                                        {
                                            <tr>
                                                <td class="text-center">@attempt[0]</td>
                                                <td class="text-center">@attempt[1]</td>
                                                <td class="text-right">@(attempt[5].ToString() != "X" ? attempt[2] : "" )</td>
                                                <td class="text-center">
                                                    @if (attempt[5].ToString() != "X")
                                                    {
                                                        <span class="badge badge-@(attempt[5].ToString() == "S" ? "info" : "danger") cls-1901281800">@(attempt[5].ToString() == "S" ? "APROBADO" : "DESAPROBADO")</span>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>