﻿@model ElearningApp.Models.Entity.Provider_Model
@using NGon
@Html.IncludeNGon()
<div class="cls-1901280058 app-form">
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="cls-1902051730 cls-1902191557 pl-0">
                <table id="provider_listdetail_table_employee_@Model.ProviderId" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="align-middle text-ws-normal text-center">Foto</th>
                            <th class="align-middle text-ws-normal text-center">Nombre</th>
                            <th class="align-middle text-ws-normal text-center">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (List<object> employee in Model.Employees)
                            {
                                <tr>
                                    <td class="cls-1902191550 position-relative">
                                        @{
                                            if (Convert.ToString(employee[4]) == "")
                                            {
                                                <img src="~/assets/app/img/default.png" class="app-center cls-1901280906" />
                                            }
                                            else
                                            {
                                                <a href="@employee[5]" download="" class="btn-circle btn-circle-sm btn-circle-raised btn-circle-info cls-1902191508" data-toggle="tooltip" data-placement="top" title="Descargar">
                                                    <i class="icon ion-ios-cloud-download"></i>
                                                </a>
                                                <img src="@employee[5]" class="app-center cls-1901280906" />
                                            }
                                        }
                                    </td>
                                    <td>@employee[3]</td>
                                    <td class="text-center position-relative">
                                        @{
                                            switch (Convert.ToString(employee[6]))
                                            {
                                                case "V":
                                                    <div class="app-center app-state" style="background-color: #4caf50;">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    break;
                                                case "A":
                                                    <div class="app-center app-state" style="background-color: #ff9800;">
                                                        <i class="fa fa-info"></i>
                                                    </div>
                                                    break;
                                                case "R":
                                                    <div class="app-center app-state" style="background-color: #f44336;">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                    break;
                                                case "P":
                                                    <span class="color-info-inverse d-inline-block">P. Aprobación</span>
                                                    break;
                                                default:
                                                    <span class="color-danger-inverse d-inline-block">Sin Documentos</span>
                                                    break;
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="cls-1902051730 cls-1902191557 pr-0">
                <table id="provider_listdetail_table_vehicle_@Model.ProviderId" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="align-middle text-ws-normal text-center">Foto</th>
                            <th class="align-middle text-ws-normal text-center">Vehículo</th>
                            <th class="align-middle text-ws-normal text-center">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (List<object> vehicle in Model.Vehicles)
                            {
                                <tr>
                                    <td class="cls-1902191550 position-relative">
                                        @{
                                            if (Convert.ToString(vehicle[2]) == "")
                                            {
                                                <img src="~/assets/site/assets/images/noimage.png" class="app-center cls-1901280906" />
                                            }
                                            else
                                            {
                                                <a href="@vehicle[3]" download="" class="btn-circle btn-circle-sm btn-circle-raised btn-circle-info cls-1902191508" data-toggle="tooltip" data-placement="top" title="Descargar">
                                                    <i class="icon ion-ios-cloud-download"></i>
                                                </a>
                                                <img src="@vehicle[3]" class="app-center cls-1901280906" />
                                            }
                                        }
                                    </td>
                                    <td>@vehicle[1]</td>
                                    <td class="text-center position-relative">
                                        @{
                                            switch (Convert.ToString(vehicle[4]))
                                            {
                                                case "V":
                                                    <div class="app-center app-state" style="background-color: #4caf50;">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                    break;
                                                case "A":
                                                    <div class="app-center app-state" style="background-color: #ff9800;">
                                                        <i class="fa fa-info"></i>
                                                    </div>
                                                    break;
                                                case "R":
                                                    <div class="app-center app-state" style="background-color: #f44336;">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                    break;
                                                case "P":
                                                    <span class="color-info-inverse d-inline-block">P. Aprobación</span>
                                                    break;
                                                default:
                                                    <span class="color-danger-inverse d-inline-block">Sin Documentos</span>
                                                    break;
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    (function (p_Model) {
        $("#provider_listdetail_table_employee_" + p_Model.ProviderId).daDataTable({
            "DataTable": {
                "columnDefs": [
                    { 'orderable': false, 'searchable': false, 'targets': 0 },
                ],
                "order": [[1, 'asc']],
                "processing": true,
                "bLengthChange": false,
                "iDisplayLength": 5
            },
            "theme": "devexpress",
            "imgProcessing": "/assets/dalba/img/DXR.gif",
            "search": {
                "btn": null,
                "noSearch": [0]
            }
        });
        $("#provider_listdetail_table_vehicle_" + p_Model.ProviderId).daDataTable({
            "DataTable": {
                "columnDefs": [
                    { 'orderable': false, 'searchable': false, 'targets': 0 },
                ],
                "order": [[1, 'asc']],
                "processing": true,
                "bLengthChange": false,
                "iDisplayLength": 5
            },
            "theme": "devexpress",
            "imgProcessing": "/assets/dalba/img/DXR.gif",
            "search": {
                "btn": null,
                "noSearch": [0]
            }
        });
    }(gf_getClone(ngon.Model)));
</script>