﻿@{
    ViewBag.title = "Ayuda";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb app-has-ms-paper-menu">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="javascript:void(0)" class="active">Ayuda</a></li>
        </ul>
    </div>
    <div class="ms-paper">
        <div class="row">
            <div class="col-12 ms-paper-content-container">
                <div class="ms-paper-content">
                    <div class="app-row mb-5">
                        <h1 class="pull-left m-0">Ayuda</h1>
                    </div>
                    <h3 class="right-line no-mt color-primary"><i class="fa fa-files-o"></i> Manuales</h3>
                    <div class="app-row">
                        <span class="cls-1902201153">
                            Manual de Administrador
                        </span>
                        <a href="~/assets/site/assets/manuales/administrador.pdf" download="" class="btn btn-info btn-raised nav-item animated zoomInDown animation-delay-9 nav-link pull-right m-0">
                            <i class="zmdi zmdi-download"></i> Descargar
                        </a>
                    </div>
                    <hr class="dotted mt-05 mb-05" />
                    <div class="app-row">
                        <span class="cls-1902201153">
                            Manual de Conductor
                        </span>
                        <a href="~/assets/site/assets/manuales/conductor.pdf" download="" class="btn btn-info btn-raised nav-item animated zoomInDown animation-delay-9 nav-link pull-right m-0">
                            <i class="zmdi zmdi-download"></i> Descargar
                        </a>
                    </div>
                    <hr class="dotted mt-05 mb-05" />
                    <div class="app-row">
                        <span class="cls-1902201153">
                            Manual de Transportista
                        </span>
                        <a href="~/assets/site/assets/manuales/transportista.pdf" download="" class="btn btn-info btn-raised nav-item animated zoomInDown animation-delay-9 nav-link pull-right m-0">
                            <i class="zmdi zmdi-download"></i> Descargar
                        </a>
                    </div>
                    <hr class="dotted mt-05 mb-05" />
                    <div class="app-row">
                        <span class="cls-1902201153">
                            Manual de Usuario
                        </span>
                        <a href="~/assets/site/assets/manuales/usuario.pdf" download="" class="btn btn-info btn-raised nav-item animated zoomInDown animation-delay-9 nav-link pull-right m-0">
                            <i class="zmdi zmdi-download"></i> Descargar
                        </a>
                    </div>
                    <hr class="dotted mt-05 mb-05" />
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
}