﻿@using NGon
@Html.IncludeNGon()
<div class="cls-1812051732 app-form">
    <table id="test_question_table_questions" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <div class="checkbox">
                        <label class="m-0">
                            <input id="test_question_table_questions-check-all" type="checkbox"><span class="checkbox-material"><span class="check"></span></span>
                        </label>
                    </div>
                </th>
                <th>Pregunta</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script type="text/javascript">
    (function (p_model) {
        var l_ids = p_model.QuestionIds, l_dataTable;
        if (l_ids == null || l_ids.trim() == "") {
            l_ids = "-1";
        }
        $("#test_question_table_questions-check-all").change(function () {
            var cells = l_dataTable.cells().nodes();
            var checked = $(this).is(":checked");
            var row;
            $(cells).find(":checkbox").each(function () {
                $(this).prop("checked", checked);
                row = $(this).closest("tr");
                if (checked) {
                    row.addClass("row_checked");
                } else {
                    row.removeClass("row_checked");
                }
            });
        });
        $("#test_question_table_questions").on("change", "tbody tr input[type=checkbox]", function () {
            $(this).parents('tr').toggleClass("row_checked");
        });
        l_dataTable = $("#test_question_table_questions").daDataTable({
            "DataTable": {
                "ajax": {
                    "url": '@Url.Action("GetQuestion", "Test")',
                    "type": "post",
                    "data": {
                        "QuestionIds": l_ids,
                        "CourseId": p_model.CourseId
                    }
                },
                "aoColumns": [
                    {
                        "data": null,
                        "orderable": false,
                        "searchable": false,
                        "visible": true,
                        "width": "20px",
                        "className": "text-center",
                        "mRender": function (o) {
                            return `<div class="checkbox">
                                        <label class="m-0">
                                            <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span>
                                        </label>
                                    </div>`;
                        }
                    },
                    {
                        "data": 1
                    },
                    {
                        "data": 2
                    }
                ],
                "order": [[1, 'asc']],
                "processing": true,
                "bLengthChange": false,
                "iDisplayLength": 10
            },
            "theme": "devexpress",
            "imgProcessing": "/assets/dalba/img/DXR.gif",
            "search": {
                "btn": null,
                "noSearch": [0]
            }
        }).Datatable;
    }(gf_getClone(ngon.Model)));
</script>