﻿@{
    ViewBag.title = "Dashboard 5";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb app-has-ms-paper-menu">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="javascript:void(0)" class="active">Dashboard 5</a></li>
        </ul>
    </div>
    <div class="ms-paper">
        <div class="row">
            <div class="col-12 ms-paper-content-container">
                <div class="ms-paper-content">
                    <div class="app-row cls-1903221521">
                        <h1 class="m-0 pull-left cls-1903221507">Dashboard 5</h1>
                        <div class="pull-right app-form app-row">
                            <div class="form-group pb-0 mt-0 pull-left">
                                <div class="d-inline-block cls-1903221507">
                                    <label class="control-label mt-0 d-inline-block">Año :</label>
                                    <div class="d-inline-block cls-1902081046">
                                        <select id="dashboard5_index_filter_anio" class="form-control" data-live-search="true" data-dropup-auto="false"></select>
                                    </div>
                                </div>
                                <div class="d-inline-block cls-1903221507">
                                    <label class="control-label mt-0 d-inline-block">Programa :</label>
                                    <div class="d-inline-block cls-1902081046">
                                        <select id="dashboard5_index_filter_programming" class="form-control" data-live-search="true" data-dropup-auto="false"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right cls-1903221507">
                                <a id="dashboard5_index_filter_retrieve" href="javascript:void(0)" class="btn btn-raised btn-primary mt-0 mb-0 cls-1902051730" data-toggle="tooltip" data-placement="top" title="Recuperar">
                                    <i class="fa fa-search m-0"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted mt-0" />
                    <div class="app-row cls-1902151559">
                        <div id="dashboard5_index_table_buttons" class="pull-left"></div>
                    </div>
                    <div class="app-form">
                        <table id="dashboard5_index_table" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><i class="fa fa-envelope"></i></th>
                                    <th class="align-middle text-center text-ws-normal">Ficha SAP</th>
                                    <th class="align-middle text-center text-ws-normal">Apellidos y Nombres</th>
                                    <th class="align-middle text-center text-ws-normal">Fecha de Aprobación</th>
                                    <th class="align-middle text-center text-ws-normal">Nota</th>
                                    <th class="align-middle text-center text-ws-normal">Área</th>
                                    <th class="align-middle text-center text-ws-normal">Evaluado</th>
                                    <th class="align-middle text-center text-ws-normal">Constancia</th>
                                    <th class="align-middle text-center text-ws-normal">Act. Nota</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <hr class="dotted" />
                    <div class="app-row cls-1903221521">
                        <h1 class="m-0 pull-left cls-1903221507">Ejecutado</h1>
                        <div class="pull-right app-form app-row">
                            <div class="form-group pb-0 mt-0 pull-left">
                                <div class="d-inline-block cls-1903221507">
                                    <label class="control-label mt-0 d-inline-block">Curso :</label>
                                    <div class="d-inline-block cls-1902081046">
                                        <select id="dashboard5_index_course_filter_course" class="form-control" data-live-search="true" data-dropup-auto="false"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right cls-1903221507">
                                <a id="dashboard5_index_course_filter_retrieve" href="javascript:void(0)" class="btn btn-raised btn-primary mt-0 mb-0 cls-1902051730" data-toggle="tooltip" data-placement="top" title="Recuperar">
                                    <i class="fa fa-search m-0"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr class="dotted mt-0" />
                    <div class="app-row mb-05">
                        <button id="dashboard5_index_course_export" class="btn btn-sm btn-raised btn-success m-0 cls-1902151548" type="button">
                            <span><i class="fa fa-file-excel-o"></i>Excel</span>
                        </button>
                    </div>
                    <div class="app-form mb-15">
                        <div class="scrollbar-rail">
                            <table id="dashboard5_index_course_table" class="table table-bordered cls-1905072200">
                                <thead>
                                    <tr>
                                        <th class="text-center text-ws-normal">Área</th>
                                        <th class="text-center text-ws-normal">Personal</th>
                                        <th class="text-center text-ws-normal">Avance</th>
                                        <th class="text-center text-ws-normal">Ejecutado</th>
                                        <th class="text-center text-ws-normal">Programado</th>
                                        <th class="text-center text-ws-normal">Realizado</th>
                                        <th class="text-center text-ws-normal">Ejecutado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="7" class="text-center">Ningún dato disponible en esta tabla</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th class="cls-1905081036" data-object="ttl-staff">0</th>
                                        <th class="cls-1905081036" data-object="ttl-advance">0</th>
                                        <th class="cls-1905081036" data-object="ttl-executed">0 %</th>
                                        <th class="cls-1905081036" data-object="avg-programmed">0</th>
                                        <th class="cls-1905081036" data-object="avg-completed">0</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="scrollbar-rail cls-1901230349">
                        <div id="dashboard5_index_course_chart" class="cls-1902051520"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_update_note" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Actualizar Nota</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="modal_note" class="col-sm-2 col-form-label">Nota</label>
                    <div class="col-sm-10">
                        <input type="number" min="0" max="20" class="form-control" id="modal_note" placeholder="[0-20]">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal_btn_save" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/jsPDF-master/jspdf.customfonts.js"></script>
    <script src="~/bower_components/jsPDF-master/jspdf.min.js"></script>
    <script src="~/bower_components/fullcalendar/lib/moment.min.js"></script>
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/buttons.html5.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/bower_components/amcharts4/core.js"></script>
    <script src="~/bower_components/amcharts4/charts.js"></script>
    <script src="~/bower_components/amcharts4/themes/material.js"></script>
    <script src="~/bower_components/amcharts4/themes/animated.js"></script>
    <script src="~/bower_components/amcharts4/lang/es_ES.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/dashboard5/index.js?v=@ViewBag.app_version"></script>
}