﻿@{
    ViewBag.title = "Contenido Interactivo :: Nuevo";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("Index", "InteractiveContent")">Contenido Interactivo</a></li>
            <li><a href="javascript:void(0)" class="active">Nuevo</a></li>
        </ul>
    </div>
    <div class="card animated slideInUp animation-delay-8">
        <div class="card-body">
            <form id="interactivecontent_create_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
                <div class="row">
                    <div class="col-12 col-sm-10">
                        <div class="form-group mt-0">
                            <label class="control-label" for="interactivecontent_create_name"><span class="text-dark">Nombre</span> <span class="text-danger">*</span> | Máximo 200 caracteres</label>
                            <input id="interactivecontent_create_name" type="text" maxlength="200" class="form-control" data-presave-object="Nombre" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-2">
                        <div class="form-group mt-0">
                            <label class="control-label" for="interactivecontent_create_status"><span class="text-dark">Activo</span></label>
                            <div class="togglebutton">
                                <label>
                                    <input id="interactivecontent_create_status" type="checkbox" checked />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-12">
                        <div class="form-group mt-0">
                            <label class="control-label" for="interactivecontent_create_index"><span class="text-dark">Archivo Principal</span> <span class="text-danger">*</span> | Es seleccionado desde el árbol de archivos del Directorio</label>
                            <input id="interactivecontent_create_index" type="text" class="form-control cls-1903121534" readonly data-presave-object="Archivo Principal" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="form-group mt-0">
                            <label class="control-label" for="interactivecontent_create_directory_info"><span class="text-dark">Directorio</span> <span class="text-danger">*</span></label>
                            <div id="interactivecontent_create_directory" class="cls-1903121506"></div>
                        </div>
                    </div>
                </div>
            </form>
            <hr class="border-dark" />
            <div class="app-row">
                <span class="small text-dark">Campo requerido (<span class="text-danger">*</span>)</span>
                @Helpers.TagHelper.buttonSave("interactivecontent_create_save")
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/jsTree/themes/default/style.min.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/jsTree/jstree.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/interactivecontent/create.js?v=@ViewBag.app_version"></script>
}