﻿@{
    ViewBag.title = "Insignia :: Editar";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("Index", "Insignia")">Insignia</a></li>
            <li><a href="javascript:void(0)" class="active">Editar</a></li>
        </ul>
    </div>
    <div class="card animated slideInUp animation-delay-8">
        <div class="card-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active show" id="generaldata">
                    <form id="insignia_create_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
                        <div class="row">
                            <div class="col-12 col-sm-8">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="insignia_create_name"><span class="text-dark">Nombre</span> <span class="text-danger">*</span> | Máximo 200 caracteres</label>
                                    <input id="insignia_create_name" type="text" maxlength="200" class="form-control" data-presave-object="Nombre" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-2">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="insignia_rango_inicio"><span class="text-dark">Rango Inicio</span> <span class="text-danger">*</span></label>
                                    <input id="insignia_rango_inicio" type="number" min="0" max="20" maxlength="10" class="form-control allownumericwithoutdecimal" data-presave-object="Rango inicio" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-2">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="insignia_rango_fin"><span class="text-dark">Rango Fin</span> <span class="text-danger">*</span></label>
                                    <input id="insignia_rango_fin" type="number" min="0" max="20" maxlength="10" class="form-control allownumericwithoutdecimal" data-presave-object="Rango fin" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="insignia_create_image"><span class="text-dark">Imagen</span> <span class="text-danger">*</span></label>
                                    <input id="insignia_create_image_display" type="text" readonly class="form-control" placeholder="Seleccionar..." data-presave-object="Imagen" />
                                    <input id="insignia_create_image" type="file" title=" " />
                                </div>
                                <figure class="ms-thumbnail ms-thumbnail-diagonal card cls-1810071216">
                                    <img id="insignia_create_image_preview" src="~/assets/app/img/no-image-icon.svg" alt="" class="img-fluid cls-1810071157" />
                                    <figcaption class="ms-thumbnail-caption text-center">
                                        <div class="ms-thumbnail-caption-content">
                                            <h3 id="insignia_create_image_notification" class="ms-thumbnail-caption-title">Ninguna imagen seleccionada</h3>
                                            <div class="mt-2">
                                                <a id="insignia_create_image_btn_add" href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-primary">
                                                    <i class="zmdi zmdi-plus"></i>
                                                </a>
                                                <a id="insignia_create_image_btn_remove" href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger" style="display: none;">
                                                    <i class="zmdi zmdi-close"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="border-dark" />
            <div class="app-row mt-2">
                <span class="small text-dark">Campo requerido (<span class="text-danger">*</span>)</span>
                @Helpers.TagHelper.buttonSave("insignia_create_save")
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/summernote/summernote.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/summernote/summernote.js"></script>
    <script src="~/bower_components/summernote/lang/summernote-es-ES.js"></script>
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/insignia/edit.js?v=@ViewBag.app_version"></script>
}