﻿@{
    ViewBag.Title = "Reglas";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb app-has-ms-paper-menu">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="javascript:void(0)" class="active">Reglas</a></li>
        </ul>
    </div>
    <div class="ms-paper">
        <div class="row">
            <div class="col-12 ms-paper-content-container">
                <div class="ms-paper-content">
                    <div class="app-row mb-5">
                        <h1 class="pull-left m-0">Reglas</h1>
                        <div class="pull-right">
                            <a href="javascript:void(0)" id="nueva_regla" class="btn btn-raised btn-primary pull-right m-0">
                                <i class="fa fa-plus m-0"></i><span class="d-none d-sm-inline ml-1">Nuevo</span>
                            </a>
                        </div>
                    </div>
                    @*<div class="app-row cls-1902151559">
                            <div id="category_index_buttons" class="pull-left"></div>
                        </div>*@
                    <div class="app-form">
                        <table id="reglainsginia_index_table" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="align-middle text-ws-normal text-center">Criterio</th>
                                    <th class="align-middle text-ws-normal text-center">Condición</th>
                                    <th class="align-middle text-ws-normal text-center">Valor uno</th>
                                    <th class="align-middle text-ws-normal text-center">Valor dos</th>
                                    <th class="align-middle text-ws-normal text-center">Puntos</th>
                                    <th class="align-middle text-ws-normal text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_regla" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(198, 40, 40); color: rgb(255, 255, 255);">
                <h3 style="margin-left: 22px;">Regla</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="_form_regla" data-id="0" class="app-form" autocomplete="off" data-presave-rule="object" data-presave-analysis="insert">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group mt-0 is-empty">
                                <label class="control-label" for="criterio"><span class="text-dark">Criterio</span> <span class="text-danger">*</span></label>
                                <select id="criterio" class="form-control" data-live-search="true" data-dropup-auto="false" data-presave-object="Criterio">
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group mt-0 is-empty">
                                <label class="control-label" for="condicion"><span class="text-dark">Condición</span> <span class="text-danger">*</span></label>
                                <select id="condicion" class="form-control" data-live-search="true" data-dropup-auto="false" data-presave-object="Condición">
                                </select>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group mt-0 is-empty">
                                <label class="control-label" for="valor_uno"><span class="text-dark" id="text-dinami">Valor uno</span> <span class="text-danger">*</span></label>
                                <input id="valor_uno" type="number" class="form-control mb-0" maxlength="64" data-presave-object="Valor uno" >
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group mt-0 is-empty">
                                <label class="control-label" for="valor_dos"><span class="text-dark">Valor dos</span> <span class="text-danger">*</span></label>
                                <input id="valor_dos" type="number" class="form-control mb-0" maxlength="64" data-presave-object="Valor dos" disabled>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group mt-0 is-empty">
                                <label class="control-label" for="puntos"><span class="text-dark">Puntos</span> <span class="text-danger">*</span></label>
                                <input id="puntos" type="number" class="form-control mb-0" maxlength="64" data-presave-object="Puntos">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="save_regla" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/dataTables.buttons.min.js"></script>
    <script src="~/bower_components/DataTables/Buttons-1.5.4/js/buttons.html5.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/insignia/reglas.js?v=@ViewBag.app_version"></script>
}

