﻿@{
    ViewBag.title = "Documento :: Nuevo";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("Index", "Document")">Documento</a></li>
            <li><a href="javascript:void(0)" class="active">Nuevo</a></li>
        </ul>
    </div>
    <div class="card animated slideInUp animation-delay-8">
        <div class="card-body">
            <form id="document_create_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="document_create_description"><span class="text-dark">Descripción</span> <span class="text-danger">*</span> | Máximo 200 caracteres</label>
                            <input id="document_create_description" type="text" maxlength="200" class="form-control" data-presave-object="Descripción" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="document_create_short_description"><span class="text-dark">Descripción Corta</span> <span class="text-danger">*</span> | Máximo 20 caracteres</label>
                            <input id="document_create_short_description" type="text" maxlength="20" class="form-control" data-presave-object="Descripción Corta" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="document_create_type"><span class="text-dark">Tipo</span> <span class="text-danger">*</span></label>
                            <select id="document_create_type" class="form-control" data-live-search="true" data-dropup-auto="false" data-presave-object="Tipo">
                                <option value="P">Empresa</option>
                                <option value="T">Trabajador</option>
                                <option value="U">Vehículo</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <div class="form-group mt-0">
                            <label class="control-label" for="document_create_model"><span class="text-dark">Modelo</span></label>
                            <div class="app-row">
                                <div class="pull-left cls-1905021145">
                                    <input id="document_create_model_display" type="text" readonly class="form-control" placeholder="Seleccionar..." data-presave-object="Modelo" />
                                    <input id="document_create_model" type="file" title=" " />
                                </div>
                                <div class="pull-right cls-1905021146">
                                    <button id="document_create_btn_clear_model" class="btn btn-raised btn-warning m-0" type="button" data-toggle="tooltip" data-placement="top" title="Limpiar">
                                        <i class="glyphicon glyphicon-erase m-0"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="document_create_order"><span class="text-dark">Orden</span> <span class="text-danger">*</span> | Número entero no menor a uno</label>
                            <input id="document_create_order" type="number" min="0" class="form-control" data-presave-object="Orden" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-sm-2">
                        <div class="form-group mt-0">
                            <label class="control-label" for="document_create_has_number"><span class="text-dark">Numeración</span></label>
                            <div class="togglebutton">
                                <label>
                                    <input id="document_create_has_number" type="checkbox" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2">
                        <div class="form-group mt-0">
                            <label class="control-label" for="document_create_has_dates"><span class="text-dark">Fechas</span></label>
                            <div class="togglebutton">
                                <label>
                                    <input id="document_create_has_dates" type="checkbox" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2">
                        <div class="form-group mt-0">
                            <label class="control-label" for="document_create_has_massive"><span class="text-dark">Masivo</span></label>
                            <div class="togglebutton">
                                <label>
                                    <input id="document_create_has_massive" type="checkbox" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2">
                        <div class="form-group mt-0">
                            <label class="control-label" for="document_create_has_logistica"><span class="text-dark">Logística</span></label>
                            <div class="togglebutton">
                                <label>
                                    <input id="document_create_has_logistica" type="checkbox" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="document_create_status"><span class="text-dark">Activo</span></label>
                            <div class="togglebutton">
                                <label>
                                    <input id="document_create_status" type="checkbox" checked />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <hr class="border-dark" />
            <div class="app-row">
                <span class="small text-dark">Campo requerido (<span class="text-danger">*</span>)</span>
                @Helpers.TagHelper.buttonSave("document_create_save")
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/document/create.js?v=@ViewBag.app_version"></script>
}