﻿@model ElearningApp.Models.Entity.Question_Entity
@{
    ViewBag.title = "Pregunta :: Editar";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("Index", "Question")">Pregunta</a></li>
            <li><a href="javascript:void(0)" class="active">Editar</a></li>
        </ul>
    </div>
    <div class="card animated slideInUp animation-delay-8">
        <div class="card-body">
            <form id="question_edit_form" autocomplete="off" action="#" class="app-form cls-1812231229" data-presave-rule="object" data-presave-analysis="insert">
                <div class="row" id="row-principal">
                    <div class="col-12 col-sm-6">
                        <div class="form-group mt-0">
                            <label class="control-label" for="question_edit_course"><span class="text-dark">Curso</span> <span class="text-danger">*</span></label>
                            <select id="question_edit_course" class="form-control pointer-events-none no-color-disabled" data-live-search="true" data-dropup-auto="false" data-presave-object="Curso" disabled></select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group mt-0">
                            <label class="control-label" for="question_edit_type"><span class="text-dark">Tipo Pregunta</span> <span class="text-danger">*</span></label>
                            <select id="question_edit_type" class="form-control pointer-events-none no-color-disabled" data-live-search="true" data-dropup-auto="false" data-presave-object="Tipo Pregunta" disabled></select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-2">
                        <div class="form-group mt-0">
                            <label class="control-label" for="question_edit_status"><span class="text-dark">Activo</span></label>
                            <div class="togglebutton">
                                <label>
                                    <input id="question_edit_status" type="checkbox" @(Model.Status == "A" ? @Html.Raw("checked") : @Html.Raw("")) />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="right-line right-line-white cls-1812051504">Pregunta</h4>
                <div id="question_edit_container_question" class="row">
                </div>
            </form>
            <hr class="border-dark" />
            <div class="app-row">
                <span class="small text-dark">Campo requerido (<span class="text-danger">*</span>)</span>
                @Helpers.TagHelper.buttonSave("question_edit_save")
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/TagsInput/tagsinput.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/TagsInput/tagsinput.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/question/edit.js?v=@ViewBag.app_version"></script>
}