﻿@model ElearningApp.Models.Entity.Dashboard3ParticipantModel
<div class="cls-1901280058 pr-0">
    @{
        if (Model.Attempts.Count == 0)
        {
            <div class="text-center color-danger">- Sin Intentos -</div>
        }
        else
        {
            foreach (var attempt in Model.Attempts)
            {
                <h5 class="color-primary">Intento @attempt.Intento</h5>
                <table class="table table-bordered mb-0 cls-1901281738">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Pregunta</th>
                            <th>Tipo Pregunta</th>
                            <th>Contestado</th>
                            <th>Estatus</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for (var i = 0; i < attempt.Questions.Count; i++)
                            {
                                var question = attempt.Questions[i];
                                <tr class="bg-white">
                                    <td class="text-center" rowspan="2">@(i + 1)</td>
                                    <td class="text-left">@question.Pregunta</td>
                                    <td class="text-left">@question.Tipo_Pregunta</td>
                                    <td class="text-center">@(question.Flag_Contestado == "S" ? Html.Raw("<i class='fa fa-check color-info cls-1903301415'></i>") : Html.Raw("<i class='fa fa-close color-danger cls-1903301415'></i>"))</td>
                                    <td class="text-center">@(question.Estado == "C" ? Html.Raw("<span class='badge badge-info cls-1903301431'>CORRECTO</span>") : Html.Raw("<span class='badge badge-danger cls-1903301431'>INCORRECTO</span>"))</td>
                                </tr>
                                <tr class="bg-white">
                                    <td colspan="4">
                                        <table class="table table-bordered table-striped mb-0 cls-1903301513">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Respuesta</th>
                                                    <th class="text-center cls-1903301550">Sel.</th>
                                                    <th class="text-center cls-1903301550">Pos.</th>
                                                    <th class="text-center cls-1903301551">Sel.</th>
                                                    <th class="text-center cls-1903301551">Pos.</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    foreach (var answer in question.Answers)
                                                    {
                                                        <tr>
                                                            <td class="text-left cls-1903301453">@answer.Respuesta</td>
                                                            <td class="text-center cls-1903301453 cls-1903301454 cls-1903301550">@(answer.Correcta == "S" ? Html.Raw("<i class='fa fa-check cls-1903301415'></i>") : Html.Raw(""))</td>
                                                            <td class="text-center font-weight-bold cls-1903301453 cls-1903301454 cls-1903301550">@answer.Orden</td>
                                                            <td class="text-center cls-1903301453 cls-1903301454 cls-1903301551">@(answer.Seleccionado == "S" ? Html.Raw("<i class='fa fa-check cls-1903301415'></i>") : Html.Raw(""))</td>
                                                            <td class="text-center font-weight-bold cls-1903301453 cls-1903301454 cls-1903301551">@answer.Orden_Seleccionado</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <hr class="dotted">
            }
        }
    }
</div>