﻿@{
    Layout = null;
    ViewBag.title = "Inicia Sesión";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <title>@ViewBag.title</title>
    <meta name="description" content="Material Style Theme">
    <link rel="shortcut icon" href="~/assets/img/favicon.ico?v=3">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/assets/css/preload.min.css" rel="stylesheet" />
    <link href="~/assets/css/plugins.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.red-800.min.css" rel="stylesheet" />
    <link href="~/assets/css/width-boxed.min.css" rel="stylesheet" id="ms-boxed" disabled="" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="ms-preload" class="ms-preload">
        <div id="status">
            <div class="spinner">
                <div class="dot1 bg-primary"></div>
                <div class="dot2 bg-primary"></div>
            </div>
        </div>
    </div>
    <div class="bg-full-page ms-hero-bg-dark ms-hero-bg-app ms-hero-img-elearning back-fixed">
        <div class="mw-500 absolute-center">
            @{
                if (ViewBag.VerifyYourEmailCode != null)
                {
                    if (ViewBag.VerifyYourEmailCode == "1000")
                    {
                        <div class="alert alert-success alert-light alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="zmdi zmdi-close"></i>
                            </button>
                            <strong>
                                <i class="zmdi zmdi-check"></i> ¡Información!
                            </strong> @ViewBag.VerifyYourEmailMessage
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger alert-light alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="zmdi zmdi-close"></i>
                            </button>
                            <strong>
                                <i class="zmdi zmdi-close-circle"></i> ¡Error!
                            </strong> @ViewBag.VerifyYourEmailMessage
                        </div>
                    }
                }
            }
            <div class="card color-dark shadow-6dp animated fadeIn animation-delay-7">
                <div class="ms-hero-bg-primary ms-hero-img-keyboard">
                    <h2 class="text-center no-m pt-4 pb-4 color-white index-1">Inicia Sesión</h2>
                </div>
                <div class="card-body">
                    <form id="account_login_form" autocomplete="off" data-presave-rule="object" data-presave-analysis="insert">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="zmdi zmdi-account"></i>
                                        </span>
                                        <label class="control-label" for="account_login_username">Usuario / RUC</label>
                                        <input type="text" id="account_login_username" class="form-control mb-0" maxlength="20" data-presave-object="Usuario / RUC">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group label-floating">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="zmdi zmdi-lock"></i>
                                        </span>
                                        <label class="control-label" for="account_login_password">Contraseña</label>
                                        <input type="password" id="account_login_password" class="form-control mb-0" maxlength="64" data-presave-object="Contraseña">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-12">
                                <div id="account_login_error" class="app-login-error m-0" style="display: none;">
                                    <div class="alert alert-danger alert-light alert-dismissible m-0" role="alert">
                                        <strong>
                                            <i class="zmdi zmdi-close-circle"></i> ¡Error!
                                        </strong> <span id="account_login_error_message"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                            </div>
                            <div class="col-12 col-sm-6">
                                <button type="submit" class="btn btn-raised btn-primary btn-block animate-icon">
                                    Entrar
                                    <i class="zmdi zmdi-long-arrow-right no-mr ml-1"></i>
                                </button>
                            </div>
                        </div>
                        <div id="account_login_profiles" class="row" style="display: none;">
                            <div class="col-12">
                                <div id="account_login_profiles_list" class="position-relative">
                                    <div id="account_login_loading" class="app-login-loading" style="display: none;">
                                        <div class="lds-circle"><div></div></div>
                                    </div>
                                </div>
                                <span class="mt-10 small text-dark">*Seleccione el perfil con el que desea ingresar</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center animated fadeInUp animation-delay-7">
                <a href="@Url.Action("Index", "Home")" class="btn btn-white">
                    <i class="zmdi zmdi-home"></i> Go Home
                </a>
            </div>
        </div>
    </div>
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
    <div class="ie-warning">
        <h1>¡Advertencia!</h1>
        <p>Está utilizando una versión obsoleta de Internet Explorer, actualice <br />a cualquiera de los siguientes navegadores web para acceder a este sitio web.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="/assets/img/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="/assets/img/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="/assets/img/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="/assets/img/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="/assets/img/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>¡Lo siento por los inconvenientes ocasionados!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <script src="~/assets/js/plugins.min.js"></script>
    <script src="~/assets/app/ajaxSetup.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/configurator.min.js"></script>
    <script src="~/assets/site/helpers.ajax.js"></script>
    <script src="~/assets/app/app.fn.js?v=@ViewBag.app_version"></script>
    @* [_layout_login_ ==> account_login_] *@
    <script>
        !function(){var a,e;$.material.init({inputElements:"#account_login_form input.form-control, #account_login_form textarea.form-control, #account_login_form select.form-control"}),$("#account_login_username").data({PresaveRequired:!0,PresaveJson:'{"maxLength":20}'}),$("#account_login_password").data({PresaveRequired:!0,PresaveJson:'{"maxLength":64}'}),$("#account_login_form").submit(function(o){if(o.preventDefault(),!a){var n;if(gf_presaveForm($("#account_login_form")).hasError)return!1;$("#account_login_error").hide(),$("#account_login_error_message").html(""),$("#account_login_profiles").hide(),$("#account_login_profiles button").remove(),$("#account_login_loading").hide(),n={Username:$("#account_login_username").val().trim(),Password:$("#account_login_password").val().trim()},$.ajax({data:JSON.stringify(n),url:'@Url.Action("GetLoginValidate", "Account")',type:"post",dataType:"json",contentType:"application/json; charset=utf-8",beforeSend:function(){$("#account_login_form input[type=submit]").prop("disabled",!0)},success:function(o){1==o.status?function(o,n){var t;if("Error"==o[0][0])return $("#account_login_error_message").html(o[0][2]),$("#account_login_error").show();for(var a in $("#account_login_profiles_list").data("Param",n),$("#account_login_profiles_list button").remove(),o)(t=$("<button />")).text(o[a][2]),t.data("Code",o[a][1]),t.addClass("btn btn-raised btn-primary btn-block m-0 mb-1 cls-1901150924"),$("#account_login_profiles_list").append(t);1==$("#account_login_profiles_list button").length?(e=!0,$("#account_login_profiles_list button").trigger("click")):$("#account_login_profiles").show()}(o.response,n):($("#account_login_error_message").html(o.response),$("#account_login_error").show())},complete:function(o,n){$("#account_login_form input[type=submit]").prop("disabled",!1)}})}}),$("#account_login_profiles_list").on("click","button",function(o){o.preventDefault();var n=$("#account_login_profiles_list").data("Param"),t=!1;n.ProfileId=$(this).data("Code"),$.ajax({data:JSON.stringify(n),url:'@Url.Action("Login", "Account")',type:"post",dataType:"json",contentType:"application/json; charset=utf-8",beforeSend:function(){$("#account_login_profiles_list button").prop("disabled",!0).addClass("disabled"),$("#account_login_loading").show(),e&&gf_addLoadingTo($("#account_login_form button[type=submit]")),a=!0},success:function(o){1==o.status&&(t=!0)},complete:function(){t?window.bGF5b3V0X2xvZ2luX21vZGFsX3Rv?window.location=window.bGF5b3V0X2xvZ2luX21vZGFsX3Rv:window.location='@Url.Action("Index", "Home")':($("#account_login_profiles_list button").prop("disabled",!1).removeClass("disabled"),$("#account_login_loading").hide(),e&&(gf_removeLoadingTo($("#account_login_form button[type=submit]")),e=!1),a=!1)}})}),$("#account_login_username, #account_login_password").keyup(function(o){o.preventDefault();var n=$(this).val(),t=$("#account_login_username").val(),a=$("#account_login_password").val();""!=n&&$(this).hasClass("app-error")&&($(this).removeClass("app-error"),$(this).next("div.app-error-message").remove(),""!==t&&""!==a&&$("#account_login_error").hide())})}();
    </script>
</body>
</html>