﻿@{
    var l_capacitacion_admin = ElearningApp.Models.SessionHelpers.IsCapacitacionAdminProfile();
    ViewBag.title = "Programación :: Editar";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("Index", "Programming")">Programación</a></li>
            <li><a href="javascript:void(0)" class="active">Editar</a></li>
        </ul>
    </div>
    <div class="card animated slideInUp animation-delay-8">
        @{
            if (!Model.Edit)
            {
                <div class="alert alert-warning alert-light alert-dismissible m-0" role="alert">
                    <strong>
                        <i class="zmdi zmdi-alert-triangle"></i>
                    </strong> @Model.EditMessage
                </div>
            }
        }
        <ul class="nav nav-tabs shadow-2dp" role="tablist">
            <li class="nav-item">
                <a class="nav-link withoutripple active" href="#tab-general-data" aria-controls="tab-general-data" role="tab" data-toggle="tab">
                    <i class="zmdi zmdi-home"></i>
                    <span class="d-none d-sm-inline">Datos Generales</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link withoutripple" href="#tab-registration" aria-controls="tab-registration" role="tab" data-toggle="tab">
                    <i class="fa fa-address-book-o"></i>
                    <span class="d-none d-sm-inline">Inscripción</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link withoutripple" href="#tab-additional" aria-controls="tab-additional" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-cog"></i>
                    <span class="d-none d-sm-inline">Adicionales</span>
                </a>
            </li>
            @{
                if (l_capacitacion_admin)
                {
                    <li class="nav-item">
                        <a class="nav-link withoutripple" href="#tab-capacitacion" aria-controls="tab-capacitacion" role="tab" data-toggle="tab">
                            <i class="zmdi zmdi-badge-check"></i>
                            <span class="d-none d-sm-inline">Capacitación</span>
                        </a>
                    </li>
                }
            }
        </ul>
        <div class="card-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active show" id="tab-general-data">
                    @{
                        if (Model.Edit)
                        {
                            <form id="programming_edit_general_data_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
                                <h4 class="right-line right-line-white cls-1812051504">Datos Generales</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_name"><span class="text-dark">Nombre</span> <span class="text-danger">*</span> | Máximo 200 caracteres</label>
                                            <input id="programming_edit_name" type="text" maxlength="200" class="form-control" data-presave-object="Nombre" value="@Model.Name" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_course"><span class="text-dark">Curso</span> <span class="text-danger">*</span></label>
                                            <select id="programming_edit_course" class="form-control pointer-events-none no-color-disabled" data-live-search="true" data-dropup-auto="false" data-presave-object="Curso" disabled></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_mode"><span class="text-dark">Modalidad</span> <span class="text-danger">*</span></label>
                                            <select id="programming_edit_mode" class="form-control" data-live-search="true" data-dropup-auto="false" data-presave-object="Modalidad"></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_vacancies"><span class="text-dark">Vacantes</span> <span class="text-danger">*</span> | Número entero no menor a uno</label>
                                            <input id="programming_edit_vacancies" type="number" min="0" class="form-control" data-presave-object="Vacantes" value="@Model.Vacancies" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-0 mt-sm-3">
                                    <div class="col-12 col-sm-4 col-md-4">
                                        <div class="form-group cls-1901140932">
                                            <div class="togglebutton">
                                                <label>
                                                    <input id="programming_edit_has_test" type="checkbox" @(Model.HasTest == "S" ? @Html.Raw("checked") : @Html.Raw(""))> <span class="text-dark small">Examen</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 col-md-4">
                                        <div class="form-group cls-1901140932">
                                            <div class="input-group">
                                                <select id="programming_edit_test" class="form-control selectpicker" data-live-search="true" data-dropup-auto="false" disabled data-presave-object="Examen"></select>
                                                <div class="input-group-append">
                                                    <button id="programming_edit_preview_test" class="btn btn-raised btn-primary mt-0 mb-0 cls-1812071458 cls-1901140935" disabled>Vista</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 col-md-4">
                                        <div class="form-group mt-0">
                                            <label class="control-label mt-0" for="programming_edit_attempts"><span class="text-dark">Intentos</span> <span class="text-danger">*</span> | Número entero no menor a uno</label>
                                            <input id="programming_edit_attempts" type="number" min="0" class="form-control" data-presave-object="Intentos" value="@(Model.HasTest == "S" ? Model.Attempts : @Html.Raw(""))" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-0 mt-sm-3">
                                    <div class="col-12 col-sm-4 col-md-4">
                                        <div class="form-group mt-0">
                                            <div class="togglebutton">
                                                <label>
                                                    <input id="programming_edit_has_instructor" type="checkbox" @(Model.HasInstructor == "S" ? @Html.Raw("checked") : @Html.Raw("")) /> <span class="text-dark small">Instructor</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-8 col-md-8">
                                        <div class="form-group mt-0">
                                            <div class="input-group">
                                                <input id="programming_edit_instructor" type="text" class="form-control mb-0 cls-1812071458" disabled data-presave-object="Instructor">
                                                <div class="input-group-append">
                                                    <button id="programming_edit_select_instructor" class="btn btn-raised btn-primary mt-0 mb-0 cls-1812071458" disabled>Seleccionar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_show_content"><span class="text-dark">Mostrar contenido en la Presentación</span></label>
                                            <div class="togglebutton">
                                                <label>
                                                    <input id="programming_edit_show_content" type="checkbox" @(Model.ShowContent == "S" ? @Html.Raw("checked") : @Html.Raw("")) />
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="right-line right-line-white cls-1812051504 programming_edit_section_mode_in_person" style="display: none;">Lugar</h4>
                                <div class="row programming_edit_section_mode_in_person" style="display: none;">
                                    <div class="col-12 col-sm-6 col-lg-4">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_place"><span class="text-dark">Lugar</span> <span class="text-danger">*</span></label>
                                            <select id="programming_edit_place" class="form-control" data-live-search="true" data-dropup-auto="false" data-presave-object="Lugar"></select>
                                        </div>
                                    </div>
                                    <div id="programming_edit_place_section_other" class="col-12 col-sm-6 col-lg-4" style="display: none;">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_place_other"><span class="text-dark">Descripción de Lugar</span> <span class="text-danger">*</span> | Máximo 200 caracteres.</label>
                                            <input id="programming_edit_place_other" type="text" maxlength="200" class="form-control" data-presave-object="Descripción de Lugar" value="@Model.PlaceDescription" />
                                        </div>
                                    </div>
                                </div>
                                <h4 class="right-line right-line-white cls-1812051504">Límite de Inscripción</h4>
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <div class="form-group mt-0 cls-1812131645">
                                            <div class="togglebutton">
                                                <label>
                                                    <input id="programming_edit_unlimited" type="checkbox" @(Model.UnlimitedRegistration == "S" ? @Html.Raw("checked") : @Html.Raw("")) /> <span class="text-dark small">Ilimitado</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group mt-0">
                                            <label class="control-label mt-0" for="programming_edit_registration_limit"><span class="text-dark">Fecha Límite de Inscripción</span> <span class="text-danger">*</span> | DD/MM/YYYY</label>
                                            <input id="programming_edit_registration_limit" type="text" class="form-control" data-presave-object="Fecha Límite de Inscripción" value="@(Model.RegistrationLimit == DateTime.MinValue ? @Html.Raw("") : Model.RegistrationLimit.ToString("dd/MM/yyyy"))" />
                                            <div class="icon-input small-calendar cls-1812131647" src="" alt="..." title="..."></div>
                                        </div>
                                    </div>
                                </div>
                                @*<h4 class="right-line right-line-white cls-1812051504">Tipo de Aprobación</h4>
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group mt-0">
                                                <label class="control-label" for="programming_edit_approval_type"><span class="text-dark">El curso se aprobará por :</span> <span class="text-danger">*</span></label>
                                                <select id="programming_edit_approval_type" class="form-control" data-live-search="true" data-dropup-auto="false" data-presave-object="Tipo de Aprobación">
                                                    <option value="2">Examen</option>
                                                    <option value="3">Asistencia</option>
                                                    <option value="4">Ambos</option>
                                                    <option value="0">Ninguno</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div id="programming_edit_section_assistance" class="col-12 col-md-4" style="display: none;">
                                            <div class="form-group mt-0">
                                                <label class="control-label" for="programming_edit_minimum_assistance"><span class="text-dark">Mínimo de Asistencias :</span> <span class="text-danger">*</span>  | Número entero no menor a cero</label>
                                                <input id="programming_edit_minimum_assistance" type="number" min="0" class="form-control" data-presave-object="Mínimo de Asistencias" value="@Model.MinimumAssistance">
                                            </div>
                                        </div>
                                    </div>*@
                                <h4 class="right-line right-line-white cls-1812051504">Programación</h4>
                                <div class="row programming_edit_section_mode_in_person" style="display: none;">
                                    <div class="col-12">
                                        <div class="form-group mt-0">
                                            <label class="control-label"><span class="text-dark">Tipo Programación</span> <span class="text-danger">*</span> | <span id="programming_edit_type_description"></span></label>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3">
                                        <div class="form-group mt-0">
                                            <div class="radio radio-primary">
                                                <label>
                                                    <input id="programming_edit_prog_type_h" type="radio" name="programmingtype" value="H" @(Model.ProgrammingType == "H" ? @Html.Raw("checked") : @Html.Raw(""))> <span class="radio-text text-dark small">Hora Fija</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3">
                                        <div class="form-group mt-0">
                                            <div class="radio radio-primary">
                                                <label>
                                                    <input id="programming_edit_prog_type_c" type="radio" name="programmingtype" value="C" @(Model.ProgrammingType == "C" ? @Html.Raw("checked") : @Html.Raw(""))> <span class="radio-text text-dark small">Consecutivo</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_elearning" style="display: none;">
                                        <div class="form-group mt-0 cls-1812131645">
                                            <div class="togglebutton">
                                                <label>
                                                    <input id="programming_edit_programming_unlimited" type="checkbox" @(Model.UnlimitedProgramming == "S" ? @Html.Raw("checked") : @Html.Raw(""))> <span class="text-dark small">Ilimitado</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person_elearning" style="display: none;">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_from_date"><span class="text-dark">Fecha Inicio</span> <span class="text-danger">*</span> | DD/MM/YYYY</label>
                                            <input id="programming_edit_from_date" type="text" class="form-control" data-presave-object="Fecha Inicio" value="@(Model.FromDate == DateTime.MinValue ? @Html.Raw("") : Model.FromDate.ToString("dd/MM/yyyy"))">
                                            <div class="icon-input small-calendar" src="" alt="..." title="..."></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person_elearning" style="display: none;">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_to_date"><span class="text-dark">Fecha Fin</span> <span class="text-danger">*</span> | DD/MM/YYYY</label>
                                            <input id="programming_edit_to_date" type="text" class="form-control" data-presave-object="Fecha Fin" value="@(Model.ToDate == DateTime.MinValue ? @Html.Raw("") : Model.ToDate.ToString("dd/MM/yyyy"))">
                                            <div class="icon-input small-calendar" src="" alt="..." title="..."></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person" style="display: none;">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_from_hour"><span class="text-dark">Hora Inicio</span> <span class="text-danger">*</span> | HH:MM</label>
                                            <input id="programming_edit_from_hour" type="text" class="form-control" data-presave-object="Hora Inicio" value="@Model.FromHour">
                                            <div class="icon-input small-clock" src="" alt="..." title="..."></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person" style="display: none;">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_to_hour"><span class="text-dark">Hora Fin</span> <span class="text-danger">*</span> | HH:MM</label>
                                            <input id="programming_edit_to_hour" type="text" class="form-control" data-presave-object="Hora Fin" value="@Model.ToHour">
                                            <div class="icon-input small-clock" src="" alt="..." title="..."></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="programming_edit_section_mode_in_person" style="display: none;">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                            <div class="form-group mt-0 programming_edit_section_mode_in_person_c" style="display: none;">
                                                <label class="control-label" for="programming_edit_duration"><span class="text-dark">Duración</span> <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input id="programming_edit_duration" type="number" class="form-control mb-0" min="0" data-presave-object="Duración" value="@(Model.Duration == 0 ? @Html.Raw("") : Model.Duration)">
                                                    <div class="input-group-append cls-1812071124">
                                                        <select id="programming_edit_duration_scale" class="form-control selectpicker cls-1812071135" data-live-search="true" data-dropup-auto="false">
                                                            <option value="M">Minutos</option>
                                                            <option value="H">Horas</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mt-0 cls-1901140329 programming_edit_section_mode_in_person_h" style="display: none;">
                                                <div class="togglebutton">
                                                    <label>
                                                        <input id="programming_edit_weekend" type="checkbox" @(Model.Weekend == "S" ? @Html.Raw("checked") : @Html.Raw(""))> <span class="text-dark small">Sábados y Domingos</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                            <div class="form-group mt-0 programming_edit_section_mode_in_person_c" style="display: none;">
                                                <label class="control-label" for="programming_edit_interval"><span class="text-dark">Intervalo</span> <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input id="programming_edit_interval" type="number" class="form-control mb-0" min="0" data-presave-object="Intervalo" value="@(Model.Interval == 0 ? @Html.Raw("") : Model.Interval)">
                                                    <div class="input-group-append cls-1812071124">
                                                        <select id="programming_edit_interval_scale" class="form-control selectpicker cls-1812071135" data-live-search="true" data-dropup-auto="false">
                                                            <option value="M">Minutos</option>
                                                            <option value="H">Horas</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person_c" style="display: none;">
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person_c" style="display: none;">
                                            <div class="form-group mt-0 cls-1901140329">
                                                <div class="togglebutton">
                                                    <label>
                                                        <input id="programming_edit_only_saturday" type="checkbox"> <span class="text-dark small">Sábados</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person_c" style="display: none;">
                                            <div id="programming_edit_only_saturday_until_noon_content" class="form-group mt-0 cls-1901140329" style="display: none;">
                                                <div class="togglebutton">
                                                    <label>
                                                        <input id="programming_edit_only_saturday_until_noon" type="checkbox"> <span class="text-dark small">[Sáb] Medio Día</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person_c" style="display: none;">
                                            <div class="form-group mt-0 cls-1901140329">
                                                <div class="togglebutton">
                                                    <label>
                                                        <input id="programming_edit_only_sunday" type="checkbox"> <span class="text-dark small">Domingos</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person_c" style="display: none;">
                                            <div id="programming_edit_only_sunday_until_noon_content" class="form-group mt-0 cls-1901140329" style="display: none;">
                                                <div class="togglebutton">
                                                    <label>
                                                        <input id="programming_edit_only_sunday_until_noon" type="checkbox"> <span class="text-dark small">[Dom] Medio Día</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person_c" style="display: none;">
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person_c" style="display: none;">
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person_c" style="display: none;">
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                            <div class="app-row">
                                                <button id="programming_edit_add_event" class="btn btn-raised btn-primary pull-right" data-toggle="tooltip" data-placement="top" title="Nuevo Evento">
                                                    <i class="icon ion-ios-add m-0"></i>
                                                </button>
                                                <button id="programming_edit_build_calendar" class="btn btn-raised btn-primary pull-right">
                                                    <i class="fa fa-calendar"></i> Calendario
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="programming_edit_section_mode_in_person" style="display: none;">
                                <div class="programming_edit_section_mode_in_person_c app-form" style="display: none;">
                                    <div class="well">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                                <div class="form-group mt-0">
                                                    <label class="control-label mt-0" for="programming_edit_pnl_ctrl_from_hour"><span class="text-dark">Hora Inicio</span> | HH:MM</label>
                                                    <input id="programming_edit_pnl_ctrl_from_hour" type="text" class="form-control bg-white">
                                                    <div class="icon-input small-clock cls-1901071658" src="" alt="..." title="..."></div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                                <div class="form-group mt-0">
                                                    <label class="control-label mt-0" for="programming_edit_pnl_ctrl_to_hour"><span class="text-dark">Hora Fin</span> | HH:MM</label>
                                                    <input id="programming_edit_pnl_ctrl_to_hour" type="text" class="form-control bg-white">
                                                    <div class="icon-input small-clock cls-1901071658" src="" alt="..." title="..."></div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                                <div class="app-row cls-1901140341">
                                                    <button id="programming_edit_rebuild_calendar_hours" class="btn btn-raised btn-primary pull-right m-0" data-toggle="tooltip" data-placement="top" title="Eliminar Horarios">
                                                        <i class="glyphicon glyphicon-erase m-0"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="right-line right-line-white cls-1812051504">Calendario de Programación</h4>
                                <div id="programming_edit_calendar">
                                </div>
                            </div>
                        }
                        else
                        {
                            <form id="programming_edit_general_data_form" autocomplete="off" action="#" class="app-form cls-1901160522" data-presave-rule="object" data-presave-analysis="insert">
                                <h4 class="right-line right-line-white cls-1812051504">Datos Generales</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_name"><span class="text-dark">Nombre</span> <span class="text-danger">*</span> | Máximo 200 caracteres</label>
                                            <input id="programming_edit_name" type="text" maxlength="200" class="form-control pointer-events-none no-color-disabled" data-presave-object="Nombre" value="@Model.Name" disabled />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_course"><span class="text-dark">Curso</span> <span class="text-danger">*</span></label>
                                            <select id="programming_edit_course" class="form-control pointer-events-none no-color-disabled" data-live-search="true" data-dropup-auto="false" data-presave-object="Curso" disabled></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_mode"><span class="text-dark">Modalidad</span> <span class="text-danger">*</span></label>
                                            <select id="programming_edit_mode" class="form-control pointer-events-none no-color-disabled" data-live-search="true" data-dropup-auto="false" data-presave-object="Modalidad" disabled></select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 cls-1901211202">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_vacancies"><span class="text-dark">Vacantes</span> <span class="text-danger">*</span> | Número entero no menor a uno</label>
                                            <input id="programming_edit_vacancies" type="number" min="0" class="form-control" data-presave-object="Vacantes" value="@Model.Vacancies" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-0 mt-sm-3 cls-1901211202">
                                    <div class="col-12 col-sm-4 col-md-4">
                                        <div class="form-group cls-1901140932">
                                            <div class="togglebutton">
                                                <label>
                                                    <input id="programming_edit_has_test" type="checkbox" @(Model.HasTest == "S" ? @Html.Raw("checked") : @Html.Raw("")) /> <span class="text-dark small">Examen</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 col-md-4">
                                        <div class="form-group cls-1901140932">
                                            <div class="input-group">
                                                <select id="programming_edit_test" class="form-control selectpicker" data-live-search="true" data-dropup-auto="false" data-presave-object="Examen"></select>
                                                <div class="input-group-append">
                                                    <button id="programming_edit_preview_test" class="btn btn-raised btn-primary mt-0 mb-0 cls-1812071458 cls-1901140935" disabled>Vista</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4 col-md-4">
                                        <div class="form-group mt-0">
                                            <label class="control-label mt-0" for="programming_edit_attempts"><span class="text-dark">Intentos</span> <span class="text-danger">*</span> | Número entero no menor a uno</label>
                                            <input id="programming_edit_attempts" type="number" min="0" class="form-control" data-presave-object="Intentos" value="@(Model.HasTest == "S" ? Model.Attempts : @Html.Raw(""))" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-0 mt-sm-3 cls-1901211202">
                                    <div class="col-12 col-sm-4 col-md-4">
                                        <div class="form-group mt-0 mt-sm-3">
                                            <div class="togglebutton">
                                                <label>
                                                    <input id="programming_edit_has_instructor" type="checkbox" @(Model.HasInstructor == "S" ? @Html.Raw("checked") : @Html.Raw("")) /> <span class="text-dark small">Instructor</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-8 col-md-8">
                                        <div class="form-group mt-0 mt-sm-3">
                                            <div class="input-group">
                                                <input id="programming_edit_instructor" type="text" class="form-control mb-0 cls-1812071458" data-presave-object="Instructor" disabled>
                                                <div class="input-group-append">
                                                    <button id="programming_edit_select_instructor" class="btn btn-raised btn-primary mt-0 mb-0 cls-1812071458" disabled>Seleccionar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-0 mt-sm-3 cls-1901211202">
                                    <div class="col-12">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_show_content"><span class="text-dark">Mostrar contenido en la Presentación</span></label>
                                            <div class="togglebutton">
                                                <label>
                                                    <input id="programming_edit_show_content" type="checkbox" @(Model.ShowContent == "S" ? @Html.Raw("checked") : @Html.Raw("")) />
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="right-line right-line-white cls-1812051504 programming_edit_section_mode_in_person" style="display: none;">Lugar</h4>
                                <div class="row programming_edit_section_mode_in_person cls-1901211202" style="display: none;">
                                    <div class="col-12 col-sm-6 col-lg-4">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_place"><span class="text-dark">Lugar</span> <span class="text-danger">*</span></label>
                                            <select id="programming_edit_place" class="form-control" data-live-search="true" data-dropup-auto="false" data-presave-object="Lugar"></select>
                                        </div>
                                    </div>
                                    <div id="programming_edit_place_section_other" class="col-12 col-sm-6 col-lg-4" style="display: none;">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_place_other"><span class="text-dark">Descripción de Lugar</span> <span class="text-danger">*</span> | Máximo 200 caracteres.</label>
                                            <input id="programming_edit_place_other" type="text" maxlength="200" class="form-control" data-presave-object="Descripción de Lugar" value="@Model.PlaceDescription" />
                                        </div>
                                    </div>
                                </div>
                                <h4 class="right-line right-line-white cls-1812051504">Límite de Inscripción</h4>
                                <div class="row cls-1901211202">
                                    <div class="col-12 col-md-4">
                                        <div class="form-group mt-0 cls-1812131645">
                                            <div class="togglebutton">
                                                <label>
                                                    <input id="programming_edit_unlimited" type="checkbox" @(Model.UnlimitedRegistration == "S" ? @Html.Raw("checked") : @Html.Raw("")) /> <span class="text-dark small">Ilimitado</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group mt-0">
                                            <label class="control-label mt-0" for="programming_edit_registration_limit"><span class="text-dark">Fecha Límite de Inscripción</span> <span class="text-danger">*</span> | DD/MM/YYYY</label>
                                            <input id="programming_edit_registration_limit" type="text" class="form-control" data-presave-object="Fecha Límite de Inscripción" value="@(Model.RegistrationLimit == DateTime.MinValue ? @Html.Raw("") : Model.RegistrationLimit.ToString("dd/MM/yyyy"))" />
                                            <div class="icon-input small-calendar cls-1812131647" src="" alt="..." title="..."></div>
                                        </div>
                                    </div>
                                </div>
                                @*<h4 class="right-line right-line-white cls-1812051504">Tipo de Aprobación</h4>
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group mt-0">
                                                <label class="control-label" for="programming_edit_approval_type"><span class="text-dark">El curso se aprobará por :</span> <span class="text-danger">*</span></label>
                                                <select id="programming_edit_approval_type" class="form-control pointer-events-none no-color-disabled" data-live-search="true" data-dropup-auto="false" data-presave-object="Tipo de Aprobación" disabled>
                                                    <option value="2">Examen</option>
                                                    <option value="3">Asistencia</option>
                                                    <option value="4">Ambos</option>
                                                    <option value="0">Ninguno</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div id="programming_edit_section_assistance" class="col-12 col-md-4" style="display: none;">
                                            <div class="form-group mt-0">
                                                <label class="control-label" for="programming_edit_minimum_assistance"><span class="text-dark">Mínimo de Asistencias :</span> <span class="text-danger">*</span>  | Número entero no menor a cero</label>
                                                <input id="programming_edit_minimum_assistance" type="number" min="0" class="form-control pointer-events-none no-color-disabled" data-presave-object="Mínimo de Asistencias" value="@Model.MinimumAssistance" disabled>
                                            </div>
                                        </div>
                                    </div>*@
                                <h4 class="right-line right-line-white cls-1812051504">Programación</h4>
                                <div class="row programming_edit_section_mode_in_person" style="display: none;">
                                    <div class="col-12">
                                        <div class="form-group mt-0">
                                            <label class="control-label"><span class="text-dark">Tipo Programación</span> <span class="text-danger">*</span> | <span id="programming_edit_type_description"></span></label>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3">
                                        <div class="form-group mt-0">
                                            <div class="radio radio-primary">
                                                <label>
                                                    <input id="programming_edit_prog_type_h" type="radio" name="programmingtype" value="H" @(Model.ProgrammingType == "H" ? @Html.Raw("checked") : @Html.Raw("")) disabled> <span class="radio-text text-dark small">Hora Fija</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4 col-md-3">
                                        <div class="form-group mt-0">
                                            <div class="radio radio-primary">
                                                <label>
                                                    <input id="programming_edit_prog_type_c" type="radio" name="programmingtype" value="C" @(Model.ProgrammingType == "C" ? @Html.Raw("checked") : @Html.Raw("")) disabled> <span class="radio-text text-dark small">Consecutivo</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row cls-1901211202">
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_elearning" style="display: none;">
                                        <div class="form-group mt-0 cls-1812131645">
                                            <div class="togglebutton">
                                                <label>
                                                    <input id="programming_edit_programming_unlimited" type="checkbox" @(Model.UnlimitedProgramming == "S" ? @Html.Raw("checked") : @Html.Raw("")) disabled> <span class="text-dark small">Ilimitado</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person_elearning" style="display: none;">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_from_date"><span class="text-dark">Fecha Inicio</span> <span class="text-danger">*</span> | DD/MM/YYYY</label>
                                            <input id="programming_edit_from_date" type="text" class="form-control" data-presave-object="Fecha Inicio" value="@(Model.FromDate == DateTime.MinValue ? @Html.Raw("") : Model.FromDate.ToString("dd/MM/yyyy"))">
                                            <div class="icon-input small-calendar" src="" alt="..." title="..."></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person_elearning" style="display: none;">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_to_date"><span class="text-dark">Fecha Fin</span> <span class="text-danger">*</span> | DD/MM/YYYY</label>
                                            <input id="programming_edit_to_date" type="text" class="form-control" data-presave-object="Fecha Fin" value="@(Model.ToDate == DateTime.MinValue ? @Html.Raw("") : Model.ToDate.ToString("dd/MM/yyyy"))">
                                            <div class="icon-input small-calendar" src="" alt="..." title="..."></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person" style="display: none;">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_from_hour"><span class="text-dark">Hora Inicio</span> <span class="text-danger">*</span> | HH:MM</label>
                                            <input id="programming_edit_from_hour" type="text" class="form-control pointer-events-none no-color-disabled" data-presave-object="Hora Inicio" value="@Model.FromHour" disabled>
                                            <div class="icon-input small-clock" src="" alt="..." title="..."></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 programming_edit_section_mode_in_person" style="display: none;">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_to_hour"><span class="text-dark">Hora Fin</span> <span class="text-danger">*</span> | HH:MM</label>
                                            <input id="programming_edit_to_hour" type="text" class="form-control pointer-events-none no-color-disabled" data-presave-object="Hora Fin" value="@Model.ToHour" disabled>
                                            <div class="icon-input small-clock" src="" alt="..." title="..."></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="programming_edit_section_mode_in_person" style="display: none;">
                                    <div class="row">
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                            <div class="form-group mt-0 programming_edit_section_mode_in_person_c" style="display: none;">
                                                <label class="control-label" for="programming_edit_duration"><span class="text-dark">Duración</span> <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input id="programming_edit_duration" type="number" class="form-control mb-0 pointer-events-none no-color-disabled" min="0" data-presave-object="Duración" value="@(Model.Duration == 0 ? @Html.Raw("") : Model.Duration)" disabled>
                                                    <div class="input-group-append cls-1812071124">
                                                        <select id="programming_edit_duration_scale" class="form-control selectpicker cls-1812071135 pointer-events-none no-color-disabled" data-live-search="true" data-dropup-auto="false" disabled>
                                                            <option value="M">Minutos</option>
                                                            <option value="H">Horas</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mt-0 cls-1901140329 programming_edit_section_mode_in_person_h" style="display: none;">
                                                <div class="togglebutton">
                                                    <label>
                                                        <input id="programming_edit_weekend" type="checkbox" @(Model.Weekend == "S" ? @Html.Raw("checked") : @Html.Raw("")) disabled> <span class="text-dark small">Sábados y Domingos</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                            <div class="form-group mt-0 programming_edit_section_mode_in_person_c" style="display: none;">
                                                <label class="control-label" for="programming_edit_interval"><span class="text-dark">Intervalo</span> <span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input id="programming_edit_interval" type="number" class="form-control mb-0 pointer-events-none no-color-disabled" min="0" data-presave-object="Intervalo" value="@(Model.Interval == 0 ? @Html.Raw("") : Model.Interval)" disabled>
                                                    <div class="input-group-append cls-1812071124">
                                                        <select id="programming_edit_interval_scale" class="form-control selectpicker cls-1812071135 pointer-events-none no-color-disabled" data-live-search="true" data-dropup-auto="false" disabled>
                                                            <option value="M">Minutos</option>
                                                            <option value="H">Horas</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row programming_edit_section_mode_in_person" style="display: none;">
                                <div class="col-12">
                                    <div class="app-row">
                                        <button id="programming_edit_add_event" class="btn btn-raised btn-primary pull-right" data-toggle="tooltip" data-placement="top" title="Nuevo Evento">
                                            <i class="icon ion-ios-add m-0"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="programming_edit_section_mode_in_person" style="display: none;">
                                <h4 class="right-line right-line-white cls-1812051504" style="display: none;">Calendario de Programación</h4>
                                <div id="programming_edit_calendar">
                                </div>
                            </div>
                        }
                    }
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab-registration">
                    @{
                        if (Model.Edit)
                        {
                            <form id="programming_edit_registration_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
                                <h4 class="right-line right-line-white cls-1812051504">Inscripción</h4>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_access_type"><span class="text-dark">Tipo de Acceso</span> <span class="text-danger">*</span></label>
                                            <select id="programming_edit_access_type" class="form-control selectpicker" data-live-search="true" data-dropup-auto="false" data-presave-object="Tipo de Acceso">
                                                <option value="P" data-value="P">Público</option>
                                                <option value="R" data-value="R">Restringido</option>
                                                <option value="V" data-value="V">Privado</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="programming_edit_registration_content_protected" class="col-12 col-md-6" style="display: none;">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_person_type"><span class="text-dark">Tipo de Persona</span> <span class="text-danger">*</span></label>
                                            <select id="programming_edit_person_type" class="form-control selectpicker" data-live-search="true" data-dropup-auto="false" data-presave-object="Tipo de Persona">
                                                <option value="I">Interno</option>
                                                <option value="E">Externo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div id="programming_edit_registration_content_private" style="display: none;">
                                <h4 class="right-line right-line-white cls-1812051504">Inscritos</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="app-row">
                                            <button id="programming_edit_add_person" class="btn btn-raised btn-primary pull-right m-0">
                                                <i class="fa fa-plus"></i> Agregar Persona
                                            </button>
                                        </div>
                                        <div class="app-form">
                                            <table id="programming_edit_table_person" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="align-middle text-ws-normal">Tipo Documento</th>
                                                        <th class="align-middle text-ws-normal">Nro Documento</th>
                                                        <th class="align-middle text-ws-normal">Nombres</th>
                                                        <th class="align-middle text-ws-normal">Proveedor</th>
                                                        <th class="align-middle text-ws-normal">Tipo</th>
                                                        <th class="align-middle text-ws-normal">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="programming_edit_registration_content_protected_list" style="display: none;">
                                <h4 class="right-line right-line-white cls-1812051504">Áreas</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group mt-0">
                                            <div class="togglebutton">
                                                <label>
                                                    <input id="programming_edit_all_areas" type="checkbox" @(Model.AllArea == "S" ? @Html.Raw("checked") : @Html.Raw(""))> <span class="text-dark small">Todas</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="programming_edit_registration_content_protected_list_no_all" class="row" style="display: none;">
                                    <div class="col-12">
                                        <div class="app-row">
                                            <button id="programming_edit_add_area" class="btn btn-raised btn-primary pull-right m-0">
                                                <i class="fa fa-plus"></i> Agregar Área
                                            </button>
                                        </div>
                                        <div class="app-form">
                                            <table id="programming_edit_table_area" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="align-middle text-ws-normal">Área</th>
                                                        <th class="align-middle text-ws-normal">Proveedores</th>
                                                        <th class="align-middle text-ws-normal">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <form id="programming_edit_registration_form" autocomplete="off" action="#" class="app-form cls-1901160522" data-presave-rule="object" data-presave-analysis="insert">
                                <h4 class="right-line right-line-white cls-1812051504">Inscripción</h4>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_access_type"><span class="text-dark">Tipo de Acceso</span> <span class="text-danger">*</span></label>
                                            <select id="programming_edit_access_type" class="form-control selectpicker pointer-events-none no-color-disabled" data-live-search="true" data-dropup-auto="false" data-presave-object="Tipo de Acceso" disabled>
                                                <option value="P" data-value="P">Público</option>
                                                <option value="R" data-value="R">Restringido</option>
                                                <option value="V" data-value="V">Privado</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="programming_edit_registration_content_protected" class="col-12 col-md-6" style="display: none;">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_person_type"><span class="text-dark">Tipo de Persona</span> <span class="text-danger">*</span></label>
                                            <select id="programming_edit_person_type" class="form-control selectpicker pointer-events-none no-color-disabled" data-live-search="true" data-dropup-auto="false" data-presave-object="Tipo de Persona" disabled>
                                                <option value="I">Interno</option>
                                                <option value="E">Externo</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div id="programming_edit_registration_content_private" style="display: none;">
                                <h4 class="right-line right-line-white cls-1812051504">Inscritos</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="app-row">
                                            <button id="programming_edit_add_person" class="btn btn-raised btn-primary pull-right m-0">
                                                <i class="fa fa-plus"></i> Agregar Persona
                                            </button>
                                        </div>
                                        <div class="app-form">
                                            <table id="programming_edit_table_person" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="align-middle text-ws-normal">Tipo Documento</th>
                                                        <th class="align-middle text-ws-normal">Nro Documento</th>
                                                        <th class="align-middle text-ws-normal">Nombres</th>
                                                        <th class="align-middle text-ws-normal">Proveedor</th>
                                                        <th class="align-middle text-ws-normal">Tipo</th>
                                                        <th class="align-middle text-ws-normal">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="programming_edit_registration_content_protected_list" style="display: none;">
                                <h4 class="right-line right-line-white cls-1812051504">Áreas</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group mt-0 cls-1901160522">
                                            <div class="togglebutton">
                                                <label>
                                                    <input id="programming_edit_all_areas" type="checkbox" @(Model.AllArea == "S" ? @Html.Raw("checked") : @Html.Raw("")) disabled> <span class="text-dark small">Todas</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="programming_edit_registration_content_protected_list_no_all" class="row" style="display: none;">
                                    <div class="col-12">
                                        <div class="app-row">
                                            <button id="programming_edit_add_area" class="btn btn-raised btn-primary pull-right m-0">
                                                <i class="fa fa-plus"></i> Agregar Área
                                            </button>
                                        </div>
                                        <div class="app-form">
                                            <table id="programming_edit_table_area" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="align-middle text-ws-normal">Área</th>
                                                        <th class="align-middle text-ws-normal">Proveedores</th>
                                                        <th class="align-middle text-ws-normal">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab-additional">
                    <form id="programming_edit_additional_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
                        <h4 class="right-line right-line-white cls-1812051504">Encuesta</h4>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-12">
                                <div class="form-group mt-0">
                                    <div class="togglebutton">
                                        <label>
                                            <input id="programming_edit_has_poll" type="checkbox" @(Model.HasPoll == "S" ? @Html.Raw("checked") : @Html.Raw("")) /> <span class="text-dark small">Encuesta</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8 col-12">
                                <div class="form-group mt-0">
                                    <div class="input-group">
                                        <select id="programming_edit_poll" class="form-control selectpicker" data-live-search="true" data-dropup-auto="false" disabled data-presave-object="Encuesta"></select>
                                        <div class="input-group-append">
                                            <button id="programming_edit_preview_poll" class="btn btn-raised btn-primary mt-0 mb-0 cls-1812071458 cls-1901140935" disabled>Preguntas</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="right-line right-line-white cls-1812051504">Constancia</h4>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-12">
                                <div class="form-group mt-0">
                                    <div class="togglebutton">
                                        <label>
                                            <input id="programming_edit_has_certificate" type="checkbox" @(Model.HasCertificate == "S" ? @Html.Raw("checked") : @Html.Raw("")) /> <span class="text-dark small">Constancia</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8 col-12">
                                <div class="form-group mt-0">
                                    <div class="input-group">
                                        <select id="programming_edit_certificate" class="form-control selectpicker" data-live-search="true" data-dropup-auto="false" disabled data-presave-object="Constancia"></select>
                                        <div class="input-group-append">
                                            <button id="programming_edit_preview_certificate" class="btn btn-raised btn-primary mt-0 mb-0 cls-1812071458 cls-1901140935" disabled>Plantilla</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                @{
                    if (l_capacitacion_admin)
                    {
                        <div role="tabpanel" class="tab-pane fade" id="tab-capacitacion">
                            <form id="programming_edit_capacitacion_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
                                <h4 class="right-line right-line-white cls-1812051504">Capacitación</h4>
                                <div class="row">
                                    <div class="col-12 col-sm-4">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_capacitacion_hours"><span class="text-dark">Nro. Horas</span> <span class="text-danger">*</span> | Número no menor a cero</label>
                                            <input id="programming_edit_capacitacion_hours" type="number" min="0" class="form-control" step="0.1" title=" " data-presave-object="Nro. Horas" value="@(Model.CapacitacionHours == 0 ? "" : Model.CapacitacionHours.ToString())" />
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_capacitacion_from_hour"><span class="text-dark">Hora Inicio</span> <span class="text-danger">*</span> | HH:MM</label>
                                            <input id="programming_edit_capacitacion_from_hour" type="text" class="form-control" data-presave-object="Hora Inicio" value="@Model.CapacitacionFromHour" />
                                            <div class="icon-input small-clock" src="" alt="..." title="..."></div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        <div class="form-group mt-0">
                                            <label class="control-label" for="programming_edit_capacitacion_to_hour"><span class="text-dark">Hora Fin</span> <span class="text-danger">*</span> | HH:MM</label>
                                            <input id="programming_edit_capacitacion_to_hour" type="text" class="form-control" data-presave-object="Hora Fin" value="@Model.CapacitacionToHour" />
                                            <div class="icon-input small-clock" src="" alt="..." title="..."></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                }
            </div>
            <hr class="border-dark" />
            <div class="app-row">
                <span class="small text-dark">Campo requerido (<span class="text-danger">*</span>)</span>
                @Helpers.TagHelper.buttonSave("programming_edit_save")
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/bower_components/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script>
        @{
            if (l_capacitacion_admin)
            {
                @:ngon.Model.IsCapacitacionAdminProfile = true;
            }
            else
            {
                @:ngon.Model.IsCapacitacionAdminProfile = false;
            }
        }
    </script>
    <script src="~/bower_components/jsPDF-master/jspdf.customfonts.js"></script>
    <script src="~/bower_components/jsPDF-master/jspdf.min.js"></script>
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/bower_components/Inputmask-4.x/dist/jquery.inputmask.bundle.js"></script>
    <script src="~/bower_components/fullcalendar/lib/moment.min.js"></script>
    <script src="~/bower_components/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/bower_components/fullcalendar/locale/es.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/programming/edit.js?v=@ViewBag.app_version"></script>
}