﻿@model ElearningApp.Models.Entity.ProgrammingClassroom_Model
@{
    ViewBag.title = "Aula No Encontrada";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
@{
    if (ElearningApp.Models.SessionHelpers.IsFromCarrierLogin())
    {
        <div class="material-background ms-hero-img-carrier ms-hero-bg-app"></div>
    }
    else
    {
        <div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
    }
}
<div class="container">
    @{
        if (ElearningApp.Models.SessionHelpers.IsFromGeneralLogin())
        {
            <div class="app-container-breadcrumb">
                <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
                    <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
                    <li><a href="@Url.Action("Presentation", "Programming", new { id = ElearningApp.Models.Helpers.GetBase64Encode(Convert.ToString(Model.ProgrammingId)) })">Presentación</a></li>
                    <li><a href="javascript:void(0)" class="active">Aula</a></li>
                </ul>
            </div>
        }
    }
    <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="card animated fadeInUp animation-delay-7 color-primary">
                <div class="card-body-big color-dark">
                    <div class="text-center">
                        <h1>@Model.ErrorMessage</h1>
                        @{
                            if (Model.ErrorCode == 3)
                            {
                                <hr class="dotted">
                                <p class="text-center text-dark">
                                    Fecha Inicio: @Model.Details[0] - Fecha Fin: @Model.Details[1]
                                </p>
                            }
                            else if (Model.ErrorCode == 4 || Model.ErrorCode == 5)
                            {
                                <hr class="dotted">
                                <p class="text-center text-dark">
                                    Lista de Fechas y Horarios donde usted puede acceder a esta Aula
                                </p>
                                <div class="app-form">
                                    <table id="programming_notclassroom_table" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="align-middle text-ws-normal">Fecha</th>
                                                <th class="align-middle text-ws-normal">Hora Inicio</th>
                                                <th class="align-middle text-ws-normal">Hora Fin</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/programming/notclassroom.js?v=@ViewBag.app_version"></script>
}