﻿@{
    ViewBag.title = "Programación :: Presentación";
}
@{
    if (ElearningApp.Models.SessionHelpers.IsFromCarrierLogin())
    {
        <div class="material-background ms-hero-img-carrier ms-hero-bg-app"></div>
    }
    else
    {
        <div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
    }
}
<div class="container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="javascript:void(0)" class="active">Presentación</a></li>
        </ul>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="card animated fadeInUp animation-delay-7 color-primary withripple">
                <div class="card-body-big color-dark">
                    <div class="text-center">
                        <h1 class="color-primary">Error</h1>
                        <h2>Presentación Inaccesible</h2>
                        <p class="lead lead-sm">
                            Usted no tiene Acceso a esta Presentación.
                        </p>
                        <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-raised">
                            <i class="zmdi zmdi-home"></i> Go Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>