﻿@model ElearningApp.Models.Entity.ProgrammingPresentation_Model
@{
    ViewBag.title = "Programación :: Presentación";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
@*<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>*@
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="javascript:void(0)" class="active">Presentación</a></li>
        </ul>
    </div>
</div>
<header class="ms-hero-page ms-hero-img-elearning ms-hero-bg-dark color-white mt-0">
    <div class="container index-1">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="text-uppercase animated fadeInDown animation-delay-5">
                    @Model.Course.Name
                </h1>
                <div class="lead lead-sm animated fadeInLeft animation-delay-7 color-light">
                    @Html.Raw(Model.Course.FrontPage)
                </div>
            </div>
            <div class="col-lg-6 text-center mt-4">
                <div class="img-phone-container">
                    <img class="img-fluid animated zoomInDown animation-delay-3 index-1 cls-1812310350" src="@Model.Course.ImageUrl">
                </div>
            </div>
            <div class="col-lg-6 mt-2">
                <div class="text-left ms-margin">
                    <div class="wow flipInX animation-delay-5 color-white">
                        <span class="small">Área : </span>
                        <strong>@Model.Course.Area</strong>
                    </div>
                    <div class="wow flipInX animation-delay-5 color-white">
                        <span class="small">Categoría : </span>
                        <strong>@Model.Course.Category</strong>
                    </div>
                    @*<div class="wow flipInX animation-delay-5 color-white">
                            <span class="small">Clasificación : </span>
                            <strong>@Model.Course.Classification</strong>
                        </div>*@
                </div>
            </div>
            <div class="col-lg-6 mt-2">
                <div class="text-center ms-margin">
                    @{
                        if (Model.Register)
                        {
                            if (ElearningApp.Models.SessionHelpers.GetUser().ProviderId != 0)
                            {
                                if (Model.Programming.ModeId == Model.ModeInPerson && Model.Programming.ProgrammingType == "C")
                                {
                                    <a href="@Url.Action("RegisterMassive", "Programming")/@ElearningApp.Models.Helpers.GetBase64Encode(Convert.ToString(Model.ProgrammingId))" class="btn btn-raised btn-primary wow flipInX animation-delay-5 animate-icon">
                                        Inscribir Empleados <i class="zmdi zmdi-long-arrow-right no-mr ml-1"></i>
                                    </a>
                                }
                                else
                                {
                                    <a id="programming_presentation_registermassive" href="javascript:void(0)" class="btn btn-raised btn-primary wow flipInX animation-delay-5 animate-icon">
                                        Inscribir Empleados <i class="zmdi zmdi-long-arrow-right no-mr ml-1"></i>
                                    </a>
                                }
                            }
                            if (ElearningApp.Models.SessionHelpers.GetUser().PersonId != 0 && !Model.Registered)
                            {
                                if (Model.Programming.ModeId == Model.ModeInPerson && Model.Programming.ProgrammingType == "C")
                                {
                                    <a href="@Url.Action("Register", "Programming")/@ElearningApp.Models.Helpers.GetBase64Encode(Convert.ToString(Model.ProgrammingId))" class="btn btn-raised btn-primary wow flipInX animation-delay-5 animate-icon">
                                        Inscribirse <i class="zmdi zmdi-long-arrow-right no-mr ml-1"></i>
                                    </a>
                                }
                                else
                                {
                                    <a id="programming_presentation_register" href="javascript:void(0)" class="btn btn-raised btn-primary wow flipInX animation-delay-5 animate-icon">
                                        Inscribirse <i class="zmdi zmdi-long-arrow-right no-mr ml-1"></i>
                                    </a>
                                }
                            }
                        }
                        if (Model.Registered)
                        {
                            if (Model.Initiated)
                            {
                                <a href="@Url.Action("Classroom", "Programming", new { id = ElearningApp.Models.Helpers.GetBase64Encode(Convert.ToString(Model.ProgrammingId)) })" class="btn btn-raised btn-primary wow flipInX animation-delay-5 animate-icon">
                                    Ir al aula <i class="zmdi zmdi-long-arrow-right no-mr ml-1"></i>
                                </a>
                            }
                            else
                            {
                                <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow flipInX animation-delay-5">
                                    <div class="btn-container">
                                        <i class="fa fa-calendar"></i>
                                        <span>Inicia el</span>
                                        <br>
                                        <strong>@Model.Programming.sFromDate</strong>
                                    </div>
                                </a>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container container-full animated slideInUp animation-delay-8 app-container">
    <div class="card">
        <div class="card-body">
            <div class="row mt-2">
                <div class="col-12 col-sm-6 mb-2">
                    <div class="ms-icon-feature wow flipInX animation-delay-4">
                        <div class="ms-icon-feature-icon">
                            <span class="ms-icon ms-icon-lg ms-icon-inverse">
                                <i class="icon ion-md-thumbs-up"></i>
                            </span>
                        </div>
                        <div class="ms-icon-feature-content">
                            <h4 class="color-primary">Objetivos</h4>
                            <div>
                                @Html.Raw(Model.Course.Objetives)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 mb-2">
                    <div class="ms-icon-feature wow flipInX animation-delay-4">
                        <div class="ms-icon-feature-icon">
                            <span class="ms-icon ms-icon-lg ms-icon-inverse">
                                <i class="icon ion-ios-albums"></i>
                            </span>
                        </div>
                        <div class="ms-icon-feature-content">
                            <h4 class="color-primary">Resumen</h4>
                            <div>
                                @Html.Raw(Model.Course.Summary)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="wow flipInX animation-delay-4">
                        <h4 class="right-line right-line-white cls-1812051504">Contenido del curso</h4>
                        <div class="ms-collapse" id="programming_presentation_accordion" role="tablist" aria-multiselectable="true">
                            @{
                                foreach (List<object> theme in Model.Course.Themes)
                                {
                                    <div class="mb-0 card card-default">
                                        <div class="card-header cls-1812210139" role="tab" id="programming_presentation_heading_@theme[0]">
                                            <h4 class="card-title ms-rotate-icon">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#programming_presentation_collapse_@theme[0]" aria-expanded="false" aria-controls="programming_presentation_collapse_@theme[0]">
                                                    <i class="icon ion-md-reorder"></i> @theme[1]
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="programming_presentation_collapse_@theme[0]" class="card-collapse collapse cls-1812210019" role="tabpanel" aria-labelledby="programming_presentation_heading_@theme[0]" data-parent="#programming_presentation_accordion">
                                            <div class="card-body border-0">
                                                <ul class="mb-0">
                                                    @{
                                                        foreach (List<object> content in (@theme[2] as List<Object>))
                                                        {
                                                            if (Model.Programming.ShowContent == "S")
                                                            {
                                                                if (content[7].ToString() == "S")
                                                                {
                                                                    <li class="app-row mb-05">@content[2] <button class="btn btn-raised btn-primary pull-right m-0 cls-1901292345" data-object="content" data-content="@content[0]"><i class="fa fa-eye m-0"></i></button></li>
                                                                }
                                                                else
                                                                {
                                                                    <li class="app-row mb-05">@content[2] <button class="btn btn-raised btn-default pull-right m-0 cls-1901292345 cls-1902010149" data-object="no-content"><i class="fa fa-eye-slash m-0"></i></button></li>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <li class="app-row mb-05">@content[2]</li>
                                                            }
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="wow flipInX animation-delay-4">
                        <h4 class="right-line right-line-white cls-1812051504">Programación</h4>
                        <div class="cls-1812240810">
                            <table class="cls-1812210149">
                                <tbody>
                                    <tr>
                                        <td><i class="icon ion-ios-checkmark"></i></td>
                                        <td>
                                            Modalidad
                                            <span class="pull-right">:</span>
                                        </td>
                                        <td>@Model.Programming.Mode</td>
                                    </tr>
                                    <tr>
                                        <td><i class="icon ion-ios-checkmark"></i></td>
                                        <td>
                                            Instructor
                                            <span class="pull-right">:</span>
                                        </td>
                                        <td>@Model.Programming.InstructorFullname</td>
                                    </tr>
                                    @*<tr>
                                        <td><i class="icon ion-ios-checkmark"></i></td>
                                        <td>
                                            Examen
                                            <span class="pull-right">:</span>
                                        </td>
                                        <td>@Model.Programming.HasTest</td>
                                    </tr>*@
                                    <tr>
                                        <td><i class="icon ion-ios-checkmark"></i></td>
                                        <td>
                                            Constancia
                                            <span class="pull-right">:</span>
                                        </td>
                                        <td>@Model.Programming.HasCertificate</td>
                                    </tr>
                                    <tr>
                                        <td><i class="icon ion-ios-checkmark"></i></td>
                                        <td>
                                            Encuesta
                                            <span class="pull-right">:</span>
                                        </td>
                                        <td>@Model.Programming.HasPoll</td>
                                    </tr>
                                    <tr>
                                        <td><i class="icon ion-ios-checkmark"></i></td>
                                        <td>
                                            Lugar
                                            <span class="pull-right">:</span>
                                        </td>
                                        <td>@Model.Programming.PlaceDescription</td>
                                    </tr>
                                    <tr>
                                        <td><i class="icon ion-ios-checkmark"></i></td>
                                        <td>
                                            Fecha Inicio
                                            <span class="pull-right">:</span>
                                        </td>
                                        <td>@Model.Programming.sFromDate</td>
                                    </tr>
                                    <tr>
                                        <td><i class="icon ion-ios-checkmark"></i></td>
                                        <td>
                                            Fecha Fin
                                            <span class="pull-right">:</span>
                                        </td>
                                        <td>@Model.Programming.sToDate</td>
                                    </tr>
                                    <tr>
                                        <td><i class="icon ion-ios-checkmark"></i></td>
                                        <td>
                                            Hora Inicio
                                            <span class="pull-right">:</span>
                                        </td>
                                        <td>@Model.Programming.FromHour</td>
                                    </tr>
                                    <tr>
                                        <td><i class="icon ion-ios-checkmark"></i></td>
                                        <td>
                                            Hora Fin
                                            <span class="pull-right">:</span>
                                        </td>
                                        <td>@Model.Programming.ToHour</td>
                                    </tr>
                                    <tr>
                                        <td><i class="icon ion-ios-checkmark"></i></td>
                                        <td>
                                            Sábados y Domingos
                                            <span class="pull-right">:</span>
                                        </td>
                                        <td>@Model.Programming.Weekend</td>
                                    </tr>
                                    <tr>
                                        <td><i class="icon ion-ios-checkmark"></i></td>
                                        <td>
                                            Tipo de Acceso
                                            <span class="pull-right">:</span>
                                        </td>
                                        <td>@Model.Programming.AccessType</td>
                                    </tr>
                                    <tr>
                                        <td><i class="icon ion-ios-checkmark"></i></td>
                                        <td>
                                            Fecha Límite de Inscripción
                                            <span class="pull-right">:</span>
                                        </td>
                                        <td>@Model.Programming.sRegistrationLimit</td>
                                    </tr>
                                    @*<tr>
                                        <td><i class="icon ion-ios-checkmark"></i></td>
                                        <td>
                                            Tipo de Aprobación
                                            <span class="pull-right">:</span>
                                        </td>
                                        <td>@Model.Programming.ApprovalType</td>
                                    </tr>
                                    <tr>
                                        <td><i class="icon ion-ios-checkmark"></i></td>
                                        <td>
                                            Mínimo de Asistencias para Aprobar
                                            <span class="pull-right">:</span>
                                        </td>
                                        <td>@Model.Programming.sMinimumAssistance</td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/programming/presentation.js?v=@ViewBag.app_version"></script>
}