﻿@model ElearningApp.Models.Entity.Programming_Entity
@{
    ViewBag.title = "Programación :: Inscribir Empleados";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("Presentation", "Programming", new { id = ElearningApp.Models.Helpers.GetBase64Encode(Convert.ToString(Model.Id)) })">Presentación</a></li>
            <li><a href="javascript:void(0)" class="active">Inscribir Empleados</a></li>
        </ul>
    </div>
    <div class="card animated slideInUp animation-delay-8">
        <div class="card-body">
            <h1 class="m-0 mb-5">Inscribir Empleados</h1>
            <div class="app-row">
                <i class="fa fa-circle pull-left cls-1901262059"></i><span class="text-dark small pull-left cls-1901262102">Empleado Deshabilitado</span>
                <i style="color: #140080;" class="icofont icofont-heart-beat pull-left pl-10"></i><span class="text-dark small pull-left cls-1901262102">Persona Vulnerable</span>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4">
                    <div class="app-form cls-1901261927">
                        <table id="programming_registermassive_table" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="align-middle text-ws-normal">Sel</th>
                                    <th class="align-middle text-ws-normal">Empleado</th>
                                    <th class="align-middle text-ws-normal">Vencimiento de Capacitación</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-8">
                    <div id="programming_registermassive_calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/bower_components/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/bower_components/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/bower_components/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="/assets/icon/icofont/css/icofont.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/DataTables/datatables.min.js"></script>
    <script src="~/bower_components/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/bower_components/fullcalendar/lib/moment.min.js"></script>
    <script src="~/bower_components/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/bower_components/fullcalendar/locale/es.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/programming/registermassive.js?v=@ViewBag.app_version"></script>
}