﻿@model ElearningApp.Models.Entity.Programming_Entity
@{
    ViewBag.title = "Programación :: Inscribirse";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="@Url.Action("Presentation", "Programming", new { id = ElearningApp.Models.Helpers.GetBase64Encode(Convert.ToString(Model.Id)) })">Presentación</a></li>
            <li><a href="javascript:void(0)" class="active">Inscribirse</a></li>
        </ul>
    </div>
    <div class="card animated slideInUp animation-delay-8">
        <div class="card-body">
            <h1 class="m-0">Inscribirse</h1>
            <div class="row">
                <div class="col-12">
                    <div id="programming_register_calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/fullcalendar/lib/moment.min.js"></script>
    <script src="~/bower_components/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/bower_components/fullcalendar/locale/es.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/programming/register.js?v=@ViewBag.app_version"></script>
}