﻿@{
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<!DOCTYPE html>
<html lang="es-pe">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <title>@ViewBag.title</title>
    <meta name="description" content="Material Style Theme">
    <link rel="shortcut icon" href="~/assets/img/favicon.ico?v=@ViewBag.app_version">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/assets/css/preload.min.css" rel="stylesheet" />
    <link href="~/assets/css/plugins.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.red-800.min.css" rel="stylesheet" />
    <link href="~/assets/css/width-boxed.min.css" rel="stylesheet" id="ms-boxed" disabled="" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <!-- bower_components -->
    <link href="~/bower_components/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <link href="~/assets/dalba/dalba.jquery.jgrowl.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/bower_components/plyr-master/plyr.css" rel="stylesheet" />
    <link href="~/assets/dalba/jquery.dalba.css?v=@ViewBag.app_version" rel="stylesheet" />
    @RenderSection("styles", false)
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @*@Html.Partial("PartialView/_Widgets")*@
    <div id="ms-preload" class="ms-preload">
        <div id="status">
            <div class="spinner">
                <div class="dot1 bg-primary"></div>
                <div class="dot2 bg-primary"></div>
            </div>
        </div>
    </div>
    <div class="ms-site-container">
        @Html.Partial("PartialView/_Header")
        @RenderBody()
        @Html.Partial("PartialView/_Footer")
        <div class="btn-back-top">
            <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
                <i class="zmdi zmdi-long-arrow-up"></i>
            </a>
        </div>
    </div>
    @Html.Partial("PartialView/_Slidebar")
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
    <div class="ie-warning">
        <h1>¡Advertencia!</h1>
        <p>Está utilizando una versión obsoleta de Internet Explorer, actualice <br />a cualquiera de los siguientes navegadores web para acceder a este sitio web.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="/assets/img/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="/assets/img/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="/assets/img/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="/assets/img/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="/assets/img/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>¡Lo siento por los inconvenientes ocasionados!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <script src="~/assets/js/plugins.min.js"></script>
    <script src="~/assets/app/ajaxSetup.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/js/app.min.js"></script>
    @*<script src="~/assets/app/hnl.mobileConsole.min.js"></script>*@
    <!-- bower_components -->
    <script src="~/bower_components/alertifyjs/alertify.min.js"></script>
    <script src="~/assets/dalba/dalba.jquery.jgrowl.js?v=@ViewBag.app_version"></script>
    <script src="~/bower_components/howler.js-master/howler.min.js"></script>
    <script src="~/bower_components/clipboard.js-master/clipboard.min.js"></script>
    <script src="~/bower_components/plyr-master/plyr.polyfilled.min.js"></script>
    <script src="~/bower_components/plyr-master/plyr.min.js"></script>
    <script src="~/assets/dalba/jquery.dalba.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/app/app.fn.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/helpers.ajax.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/helpers.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/app/_layout.min.js?v=@ViewBag.app_version"></script>
    @RenderSection("scripts", false)
    <script type="text/javascript">
        sessionStorage.setItem("d2luZG93LXNlc3Npb24=", "@ElearningApp.Models.SessionHelpers.GetSessionID()");
    </script>
    @{
        var sas = ElearningApp.Models.Helpers.GetAppSettings("App_Status");
        var scs = ElearningApp.Models.Helpers.GetConnectionStrings("AppStatus");
        if (sas == "dev" || scs == "dev")
        {
            <div style="text-align:right;position:fixed;z-index:2147483647;bottom:0;width:100%;display:block !important;pointer-events:none;">
                <div style="display:inline-block;text-align:center;background-color:rgba(255,255,255,0.7);padding:2px 10px 0 10px;border-top-left-radius:5px;border-top-right-radius:5px;margin-right:5px;border:solid 1px #555;border-bottom:0;color:#000;font-weight:600;font-size:12px;">
                    <div style="display:inline-block;"><i class="fa fa-gears" style="margin-right:5px;"></i>Configuraciones <i class="fa fa-arrow-right"></i> @(sas == "dev" ? "Desarrollo" : "Producción")</div> | <div style="display:inline-block;"><i class="fa fa-database" style="margin-right:5px;"></i>Base de Datos <i class="fa fa-arrow-right"></i> @(scs == "dev" ? "Desarrollo" : "Producción")</div>
                </div>
            </div>
        }
    }
    <div id="app-loading" style="display: none;">
        <div class="app-loading-bg">
        </div>
        <div class="app-loading">
            @*<img src="~/assets/dalba/img/DXR.gif" /> <span>Cargando...</span>*@
            <div class="lds-circle"><div></div></div>
        </div>
    </div>
</body>
</html>