﻿@{
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
<div class="pt-2 pl-2 pr-2 pb-2">
    <form id="_layout_register_form" class="app-form" autocomplete="off" data-presave-rule="object" data-presave-analysis="insert">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group mt-0">
                    <label class="control-label" for="_layout_register_doc"><span class="text-dark">Documento</span> <span class="text-danger">*</span></label>
                    <select id="_layout_register_doc" class="form-control" data-live-search="true" data-dropup-auto="false" data-presave-object="Documento" disabled></select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group mt-0">
                    <label class="control-label" for="_layout_register_ndoc"><span class="text-dark">N° Documento</span> <span class="text-danger">*</span> | Máximo 50 caracteres.</label>
                    <input type="text" class="form-control mb-0" id="_layout_register_ndoc" maxlength="50" data-presave-object="N° Documento" />
                </div>
            </div>
        </div>
        <hr class="mt-05 mb-0 dotted" />
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group mt-0">
                    <label class="control-label" for="_layout_register_lastname1"><span class="text-dark">Apellido Paterno</span> <span class="text-danger">*</span> | Máximo 100 caracteres.</label>
                    <input type="text" class="form-control mb-0" id="_layout_register_lastname1" maxlength="100" data-presave-object="Apellido Paterno" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group mt-0">
                    <label class="control-label" for="_layout_register_lastname2"><span class="text-dark">Apellido Materno</span> <span class="text-danger">*</span> | Máximo 100 caracteres.</label>
                    <input type="text" class="form-control mb-0" id="_layout_register_lastname2" maxlength="100" data-presave-object="Apellido Materno" />
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group mt-0">
                    <label class="control-label" for="_layout_register_firstname"><span class="text-dark">Nombres</span> <span class="text-danger">*</span> | Máximo 100 caracteres.</label>
                    <input type="text" class="form-control mb-0" id="_layout_register_firstname" maxlength="100" data-presave-object="Nombres" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group mt-0">
                    <label class="control-label" for="_layout_register_email"><span class="text-dark">Correo Electrónico</span> <span class="text-danger">*</span> | Máximo 50 caracteres.</label>
                    <input type="text" class="form-control mb-0" id="_layout_register_email" maxlength="50" data-presave-object="Correo Electrónico" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group mt-0" >
                    <label class="control-label" for="_layout_register_phone"><span class="text-dark">Celular</span> | Máximo 50 caracteres.</label>
                    <input type="text" class="form-control mb-0" id="_layout_register_phone" maxlength="50" data-presave-object="Celular" />
                </div>
            </div>
        </div>
        <input type="submit" class="d-none" />
    </form>
</div>
<script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
<script>
    $.material.init({
        inputElements: "#_layout_register_form input.form-control, #_layout_register_form textarea.form-control, #_layout_register_form select.form-control"
    }),        
       $("#_layout_register_doc, #_layout_register_ndoc").change(function() {
 	var e = $("#_layout_register_doc").val(),
 		t = $("#_layout_register_ndoc").val();
        gf_isValue(e) && gf_isValue(t) && ($("#_layout_register_alert").hide(), $("#_layout_register_alert_message").text(""), $("#_layout_register_form .app-error").removeClass("app-error"), $("#_layout_register_form .app-error-message").remove(),
        $.ajax({
 		data: JSON.stringify({
 			DocumentType: e,
 			DocumentNumber: t
 		}),
 		url: "/Account/GetRegister",
 		type: "post",
 		async: !1,
 		dataType: "json",
 		contentType: "application/json; charset=utf-8",
 		success: function(e) {
 			if (1 == e.status) {
 				var t = e.response;
                    "New" == t[0] ? ($("#_layout_register_lastname1").val(""), $("#_layout_register_lastname2").val(""), $("#_layout_register_firstname").val(""), $("#_layout_register_email").val(""), $("#_layout_register_phone").val("")) : ($("#_layout_register_ndoc").prop("disabled", !0), $("#_layout_register_lastname1").val(t[1]), $("#_layout_register_lastname2").val(t[2]), $("#_layout_register_firstname").val(t[3]), $("#_layout_register_email").data("initial", t[4]).val(t[4]), $("#_layout_register_phone").val(t[5]), "Deny" == t[0] && ($("#_layout_register_alert").show())), $("#_layout_register_form").data({
 					action: t[0]
 				})
 			}
 		}
 	}))
 }), $("#_layout_register_form").submit(function(e) {
 	e.preventDefault()
 }), $("#_layout_register_lastname1, #_layout_register_lastname2, #_layout_register_firstname").data({
 	PresaveRequired: !0,
 	PresaveJson: '{"maxLength":100}'
 }), $("#_layout_register_doc").data("PresaveRequired", !0), $("#_layout_register_ndoc, #_layout_register_email").data({
 	PresaveRequired: !0,
 	PresaveJson: '{"maxLength":50}'
 }), $("#_layout_register_phone").data("PresaveJson", '{"maxLength":50}'), $("#_layout_register_email").data("PresaveList", "email"), gf_Helpers_DocumentTypeDropDown({
 	$: $("#_layout_register_doc"),
 	callback: function(e) {
          e.val(null).addClass("selectpicker").selectpicker();
          $("#_layout_register_doc").val(@ViewBag.tipoDoc);
        $("#_layout_register_ndoc").val(@ViewBag.nroDoc);
    $("#_layout_register_doc, #_layout_register_ndoc").trigger("change");
 	}
 });
</script>