﻿@{
    Layout = null;
    ViewBag.title = "Error::500";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#333">
    <title>@ViewBag.title</title>
    <meta name="description" content="Material Style Theme">
    <link rel="shortcut icon" href="~/assets/img/favicon.ico?v=3">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/assets/css/preload.min.css" rel="stylesheet" />
    <link href="~/assets/css/plugins.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.red-800.min.css" rel="stylesheet" />
    <link href="~/assets/css/width-boxed.min.css" rel="stylesheet" id="ms-boxed" disabled="" />
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="ms-preload" class="ms-preload">
        <div id="status">
            <div class="spinner">
                <div class="dot1 bg-primary"></div>
                <div class="dot2 bg-primary"></div>
            </div>
        </div>
    </div>
    <div class="bg-full-page bg-primary">
        <div class="mw-500 absolute-center">
            <div class="card animated zoomInUp animation-delay-7 color-primary withripple">
                <div class="card-body">
                    <div class="text-center color-dark">
                        <h1 class="color-primary text-big">Error 500</h1>
                        <h2>
                            Error de Servidor Interno
                        </h2>
                        <p class="lead lead-sm">
                            Algo ha ido mal, estamos tratando de arreglarlo.
                            <br>
                            Mientras tanto puedes volver a la página de inicio.
                        </p>
                        <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-raised">
                            <i class="zmdi zmdi-home"></i> Go Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
    <div class="ie-warning">
        <h1>¡Advertencia!</h1>
        <p>Está utilizando una versión obsoleta de Internet Explorer, actualice <br />a cualquiera de los siguientes navegadores web para acceder a este sitio web.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="/assets/img/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="/assets/img/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="/assets/img/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="/assets/img/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="/assets/img/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>¡Lo siento por los inconvenientes ocasionados!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <script src="~/assets/js/plugins.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/configurator.min.js"></script>
</body>
</html>