﻿@{
    Layout = null;
    ViewBag.title = "Error::IEBrowser";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.title</title>
    <meta name="description" content="Material Style Theme">
    <link rel="shortcut icon" href="~/assets/img/favicon.ico?v=3">
    @*<link href="~/assets/css/plugins.min.css" rel="stylesheet" />*@
    <link href="~/assets/app/app.css" rel="stylesheet" />
</head>
<body>
    <div class="ie-warning">
        <h1>¡Advertencia!</h1>
        <p>Está utilizando una versión obsoleta de Internet Explorer, actualice <br />a cualquiera de los siguientes navegadores web para acceder a este sitio web.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="/assets/img/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="/assets/img/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="/assets/img/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="/assets/img/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>¡Lo siento por los inconvenientes ocasionados!</p>
    </div>
</body>
</html>
