﻿@model ElearningApp.Models.Entity.Parameter_Entity
@{
    ViewBag.title = "Parámetros";
    ViewBag.app_version = ElearningApp.Models.Helpers.APP_VERSION;
}
@using NGon
@Html.IncludeNGon()
<div class="material-background ms-hero-img-elearning ms-hero-bg-app"></div>
<div class="container container-full app-container">
    <div class="app-container-breadcrumb app-has-ms-paper-menu">
        <ul class="app-breadcrumb animated fadeInRight animation-delay-5">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"> </span></a></li>
            <li><a href="javascript:void(0)" class="active">Parámetros</a></li>
        </ul>
    </div>
    <div class="ms-paper">
        <div class="row">
            <div class="col-12 ms-paper-content-container">
                <div class="ms-paper-content">
                    <div class="app-row mb-5">
                        <h1 class="pull-left m-0">Parámetros</h1>
                    </div>
                    <form id="parameter_edit_form" autocomplete="off" action="#" class="app-form" data-presave-rule="object" data-presave-analysis="insert">
                        <h4 class="right-line right-line-white cls-1812051504">Curso Conductor</h4>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="parameter_edit_course"><span class="text-dark">Curso</span> <span class="text-danger">*</span></label>
                                    <select id="parameter_edit_course" class="form-control" data-live-search="true" data-dropup-auto="false" data-presave-object="Curso"></select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group mt-0">
                                    <label class="control-label" for="parameter_edit_time"><span class="text-dark">Tiempo para Cerrar Sesión</span> <span class="text-danger">*</span> | Segundos, Número entero no menor a cero</label>
                                    <input id="parameter_edit_time" type="number" min="0" class="form-control" value="@Model.WaitTimeCloseSession" data-presave-object="Tiempo para Cerrar Sesión" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group mt-0">
                                    <label class="control-label"><span class="text-dark">Mensaje</span> <span class="text-danger">*</span> | Mensaje que aparece al finalizar un examen</label>
                                    <div id="parameter_edit_message">@Html.Raw(Model.MessageFinalized)</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group mt-0">
                                    <label class="control-label"><span class="text-dark">Mensaje Aprobado</span> <span class="text-danger">*</span> | Mensaje que aparece si ha aprobado un examen</label>
                                    <div id="parameter_edit_message_approved">@Html.Raw(Model.MessageApproved)</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group mt-0">
                                    <label class="control-label"><span class="text-dark">Mensaje Desaprobado</span> <span class="text-danger">*</span> | Mensaje que aparece si ha desaprobado un examen</label>
                                    <div id="parameter_edit_message_disapproved">@Html.Raw(Model.MessageDisapproved)</div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr class="border-dark" />
                    <div class="app-row">
                        @Helpers.TagHelper.buttonSave("parameter_edit_save")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/bower_components/summernote/summernote.css" rel="stylesheet" />
    <link href="~/assets/app/app.css?v=@ViewBag.app_version" rel="stylesheet" />
    <link href="~/assets/site/site.css?v=@ViewBag.app_version" rel="stylesheet" />
}
@section scripts{
    <script src="~/bower_components/summernote/summernote.js"></script>
    <script src="~/bower_components/summernote/lang/summernote-es-ES.js"></script>
    <script src="~/assets/app/initialize.js?v=@ViewBag.app_version"></script>
    <script src="~/assets/site/parameter/edit.js?v=@ViewBag.app_version"></script>
}